@import "vars/_colors";

.reserve-list-page {

  &__head-operate {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-help {
    margin-left: 4px;
    color: $helpColor;
  }

  &__reserve {
    color: $blueColor;
    cursor: pointer;
  }

  .zent-select-text {
    color: $normalColor;

    .zent-select-placeholder {
      color: $normalColor;
    }
  }
}
