.history-wrapper {

  .note {
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 17px;
    color: #666;
    font-size: 12px;
  }

  .operation-history-table {
    margin-top: 10px;
  }
}
