.inline-block {
  display: inline-block;
}

.quick-active {
  border-color: #3388ff;
  color: #3388ff;
}

.date-range-quick-picker {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__action {
    padding: 4px;
    margin-left: 10px;
    line-height: 14px;
    font-size: 12px;
    color: #949494;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      @extend .quick-active; // eslint-disable-line
    }

    &.date-range-quick-picker__action-active {
      @extend .quick-active; // eslint-disable-line
    }
  }
}
