@import 'vars/colors';

.correct-detail {
  h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 16px;
  }

  .form-container {
    .zent-form-label {
      flex-basis: 86px;
    }

    .video-uploader-preview .video__headImg__icon {
      font-size: 24px;
    }
  }

  .score-suffix {
    margin-left: 8px;
    line-height: 32px;

    .desc {
      margin-left: 8px;
      color: $theme-stroke-5;
    }
  }

  hr.divider {
    height: 1px;
    margin: 24px 16px;
    background-color: $theme-stroke-8;
    border: 0;
  }

  .comment-field {
    margin: 0 16px 0 6px;
    width: 264px;
  
    textarea {
      min-height: 160px;
    }
  }

  .media-preview {
    width: 264px;
    margin: 16px;
    flex-wrap: wrap;

    > :not(:nth-child(3n)) {
      display: inline-block;
      margin-right: 12px;
    }
    
    .img-uploader-preview, .audio-uploader-preview, .video-uploader-preview {
      padding-bottom: 16px;
    }
  }

  .easy-form.group-field__body {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    width: 264px;
    overflow-x: hidden;

    .zent-form-control {
      width: 80px;

      .zent-form-control-content {
        margin-left: 0;
      }
    }
  }

  .audio-uploader-record {
    position: fixed;
    bottom: 68px;
    margin-left: 16px;
    z-index: 1;
  }
}

.correct__container .bottom-actions {
  position: fixed;
  bottom: 0;
  z-index: 2;
  right: 16px;
  min-width: 296px;
  padding: 10px 0;
  text-align: center;
  transition: right .5s;
  background-color: #fff;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, .07);
}

@media screen and (min-width: 1280px) {
  body.show-help .correct__container .bottom-actions {
    right: 240px;
  }
}
