@import './variables.scss';

.set-disabled {
  background-color: $disabled !important;
}

.set-option-disabled,
.set-disabled {
  color: $placeholder !important;
  cursor: not-allowed !important;
}

.ebiz-select__container {
  display: flex;
}

.ebiz-select__container + .ebiz-select__container {
  margin-left: 1rem;
}

// trigger
.ebiz-select-trigger {
  cursor: pointer;
  position: relative;

  &__tags {
    transform: translateY(1px);
  }

  &.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 32px;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #dcdee0;
    background-color: $popoverBgc;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &.set-disabled::after {
      opacity: 0.4;
    }

    &.has-focus {
      border-color: $color-blue;
      box-shadow: 0 0 4px 0 rgba(10, 42, 97, 0.2);

      &::after {
        transform: rotate(180deg) translateY(50%) !important;
      }
    }

    &:not(.show-delete)::after {
      top: 50%;
      right: 8px;
      width: 16px;
      content: '';
      height: 16px;
      position: absolute;
      background-size: 10px 8px;
      background-position: center;
      transform: translateY(-50%);
      transition: transform 0.25s;
      background-repeat: no-repeat;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAMAAAAhxq8pAAAAP1BMVEUAAAAzMzMyMjRAQEAyMjQyMjQ0NDQ2NjYyMjMzMzMyMjMyMjMzMzQyMjQ4ODgzMzNGRkYzMzMyMjUzMzMyMjNbbAmOAAAAFHRSTlMAqr0Grn1SLvTr39GXiSAUC2hbMlOyMCEAAABbSURBVBjTfc5JEoAgDETRlnkGlfufVSkLxWD5ln+RDj7xdSEkR6yTCDZHgW2OCgi0hbZEDjCOU3ZjcxlotHma0cBFjSM32ZvEQPQPR8W35gtekq3VJhA7Yxp/Dk7RDBdwecf8AAAAAElFTkSuQmCC');
    }
  }

  .multi-select-tag {
    margin: 4px;
    line-height: 18px;

    &__pop {
      max-width: 320px;
    }

    &__collapse {
      display: inline-block;
      border-radius: 2px;
      font-size: 12px;
      margin-left: 0;
      background-color: $bg-grey;
      width: 46px;
      text-align: center;
      color: inherit;
      cursor: pointer;
      transform: translateY(-2px);
      line-height: 20px;
    }

    .zent-tag-content {
      max-width: 155px;
      overflow: hidden;
      word-break: break-all;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }

    .zenticon-close {
      vertical-align: bottom;
    }

    &__disabled {
      background-color: $disabled;
      color: $placeholder !important;
    }
  }

  &__input {
    margin: 0;
    border: 0;
    color: $color;
    outline: none;
    font-size: 14px;
    box-shadow: none;
    appearance: none;
    display: inline-block;
    padding: 0 24px 0 10px;
    box-sizing: border-box;
    background-color: transparent;

    &-container {
      flex: 1;
      position: relative;
      max-width: 100%;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &::placeholder {
      color: $placeholder;
    }

    &.readonly {
      cursor: inherit;
    }

    &.placeholder {
      min-width: unset;
      width: 100% !important;
      color: $placeholder !important;
    }

    &.auto-width {
      // 自动宽度，应该用absolute定位
      position: absolute;
      width: 100%;
    }
  }

  div.ebiz-select-trigger__input {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__mirror {
    visibility: hidden;
    white-space: nowrap;
    max-width: inherit;
    padding-left: 10px;
    padding-right: 24px;
    display: inline-block;
    flex: 1;
  }

  &__reset {
    top: 50%;
    right: 8px;
    height: 16px;
    width: 16px;
    font-size: 14px;
    margin-top: -8px;
    position: absolute;
    color: $border-color;
    line-height: 16px !important;
  }

  &__operations {
    font-size: 14px;
    margin-left: 8px;
    line-height: 32px;
    color: $color-blue;
    display: flex;
    align-items: center;

    .operations {
      cursor: pointer;
      user-select: none;
    }
  }
}

// dropdown
.ebiz-select-dropdown {
  line-height: 32px;
  border-radius: 2px;
  background-color: $popoverBgc;
  box-shadow: 1px 1px 4px 0 rgba(10, 42, 97, 0.2);
  z-index: 10005 !important;

  &-provider {
    z-index: 1051;

    .option-list {
      max-height: 270px;
      list-style: none;
      width: inherit;
      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .option-item {
    height: 32px;
    color: $color;
    display: flex;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    position: relative;
    padding: 0 10px;

    &.is-keyboard-checked,
    &.can-select:not(.is-checked):hover {
      background-color: $bg-dark-blue;
    }

    &.is-group {
      font-size: 12px;
    }
    &.is-checked {
      font-weight: bold;
      background-color: $bg-blue;
    }

    &.option-placeholder {
      cursor: not-allowed;
      color: $placeholder;
      justify-content: center;
    }

    &__content {
      flex: 1;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .colour-words {
        font-weight: bolder;
        color: $color-blue;
      }

      .option-item {
        // 超出隐藏
        &__main-content,
        &__extra {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &__extra {
          flex: 1;
          margin-left: 0.5rem;
          justify-self: flex-end;
        }
      }
    }

    .icon-checked {
      right: 4px;
      width: 16px;
      line-height: 32px;
      position: absolute;
    }
  }
}

.ebiz-select-popover-position-top-left.ebiz-select-dropdown {
  background-color: transparent !important;

  .ebiz-select-popover-content {
    position: relative;
    height: 270px !important;
  }

  ul[role='menu'] {
    position: absolute !important;
    bottom: 0 !important;
  }
}
