.top-bar {
  position: fixed;
  top: 0px;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid #ebedf0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.10);

  &-back {
    vertical-align: middle;
    font-size: 14px;
    color: #4f4f4f;
    line-height: 70px;
    position: absolute;
    left: 20px;
    cursor: pointer;
  }

  .decorate-action {
    position: absolute;
    right: 16px;
    top: 20px;

    .popularize-content {
      display: inline-block;
      margin-right: 10px;

      .help-circle-icon {
        color: #ccc;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .decorate-action__more-actions {
      margin-right: 10px;

      &__btn {
        width: 90px;
      }
    }

  }

  .top-bar-preview {
    display: flex;
    text-align: center;
    margin-top: 17px;
    font-size: 12px;
    color: #969799;

    .qrcode {
      margin-left: 23px;
    }

    .qrcode-icon {
      background-image: url('https://img.yzcdn.cn/public_files/2019/01/09/77b40c38d08f02593b895b5f49b166f0.png');
    }

    .mobile-icon {
      background-image: url('https://img.yzcdn.cn/public_files/2019/01/09/1b1a6b84545767d60d71f3e98cef3041.png');
    }

    .mobile-icon, .qrcode-icon {
      display: inline-block;
      height: 22px;
      width: 22px;
      background-position: center;
      background-size: cover;
    }
  }
}

.decorate-action__more-actions-pop {
  z-index: 11;

  .zent-menu {
    width: 90px;
  }
}

.popularize-content-link {
  color: #38f;
}
