@import "classes/new-title";

$backgroundColor: #F7F8FA;
$color: #323233;

.edu-enrollment-block-header {
  background-color: $backgroundColor;
  color: $color;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 40px 0;
  padding: 14px 0 12px 0;
  width: 100%;
  &:first-of-type {
    margin-top: 0;
  }
  &::before {
    background-color: #155BD4;
    content: '';
    display: inline-block;
    height: 14px;
    margin-left: 10px;
    margin-right: 8px;
    width: 3px;
  }
}
