.student-dialog {
  width: 614px;
}

.dialog-r-body {
  padding: 0;
}

.dialog-r-footer {
  padding-right: 0;
}

.dialog-edit-course-time {
  width: 560px;

  .zent-form-control {
    .zent-form-label {
      flex-basis: 100px;
      justify-content: flex-end;
    }
  }

  .zent-form-control-content {
    margin-left: 8px;
  }
}

.field-dialog-item {
  margin-bottom: 16px;

  &__error {
    margin-top: 4px;
  }

  &__help-desc {
    font-size: 12px;
    color: #969799;
    line-height: 18px;
    margin-top: 4px;
  }
}

.dialog-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 32px;

  &:last-child {
    margin-bottom: 0px;
  }

  .label {
    color: #333;
    width: 120px;
    text-align: right;
    position: relative;
  }

  .content {
    margin-left: 8px;

    .dialog-radio {
      display: block;
    }
  }

  .dialog-input {
    display: inline-block;
    margin-right: 10px;
    overflow: unset;
  }

  .warn-msg {
    margin-left: 5px;
    color: #f44;
  }

  .error {
    .zent-input {
      border-color: #f44;
    }
  }

  .required::before {
    content: '*';
    color: #b40000;
    font-size: 18px;
    position: relative;
    left: -4px;
    top: 4px;
  }

  .post-message-link {
    margin: auto 4px;
  }
}

.dialog-item-content {
}

.modify-type-tips {
  color: #969799;
  line-height: 18px;
  font-size: 12px;

  &__out {
    color: #155BD4;
    cursor: pointer;
  }
}

.dialog-mark {
  height: 80px;
}

.dialog-mark-desc {
  font-size: 12px;
  line-height: 17px;
  margin-top: 8px;
  color: #969799;
}
