@import 'common/ellipsis';

.workbook-student__info {
  display: flex;

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .detail {
    margin-left: 10px;
    width: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mobile {
    color: #969799;
  }
}
