@import 'common/filter';
@import 'common/split-form';
@import 'common/app-design';
@import 'classes/new-title';

// compatite with zent7
a{
  color: #155bd4;
}
a.dpSoto{
  color: #155bd4 !important;
}

.freebie-search-input{
  width: 150px;
}

.freebie-wrapper {
  @import './preferential';

  .goods-select-wrapper .zent-radio-wrap {
    display: block;
    margin-bottom:10px;
    line-height: 30px;
  }

  .selected-goods-list {
    margin-top: 24px;
  }
}

.freebie__dialog--effect {
  .freebie-dialog-title {
    margin-bottom: 10px;
  }

  .loading {
    background: url('//b.yzcdn.cn/v2/image/loader@2x.gif') no-repeat center;
    background-size: 16px;
  }
}

.text-tip {
  margin-bottom: 20px;
}

.set-freebie {
  padding: 0 0 40px;

  .zent-form__controls {
    margin-left: 8px !important;
  }
}

.rc-pop-sku__trigger {
  color: #646566;
}
.rc-goods-sku-selector__footer-prefix {
  font-size: 14px;
  color: #323233;
}