.preferential-wrapper {
  .coupon-wrapper {
    height: 31px;
    line-height: 30px;

    .refersh {
      cursor: pointer;
    }
  }

  .score-wrapper {
    height: 31px;
    line-height: 30px;
    margin-top: 10px;
  }

  .inline {
    display: inline-block !important;
    position: relative;
    white-space: nowrap;
    margin-left: -5px;
    .zent-select{
      display: inline-block;
      vertical-align: middle;
    }
    .zent-input-wrapper {
      display: inline-block !important;
      vertical-align: middle;
      .zent-input {
        min-width: 50px;
      }
    }

    span {
      margin-left: 5px;
    }

    p {
      display: inline;
    }
  }
}
