.tags-dialog {
  overflow-y: auto;
  min-height: 70px;
  max-height: 50vh;
  width: 100%;
  color: #333333;
  font-size: 15px;

  &__group {
    margin-top: 10px;

    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title {
      display: flex;
      margin-bottom: 10px;
      &-pop-link {
        margin-left: 4px;
        // 与 Pop 的正文垂直对其
        vertical-align: initial !important;
      }

      .has-error {
        margin-right: 10px;
        color: #f44;
      }
    }

    &__item {
      margin-right: 15px;
      margin-bottom: 10px;
      cursor: pointer;

      .zent-tag-content {
        color: #333333;
      }

      &.active {
        .zent-tag-content {
          color: #ffffff;
        }
      }

    }
  }

  &__wrapper {
    .dialog-r-footer {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      margin: 10px 0 0;
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
  }

  &__link-group {
    display: inline-block;
    margin-left: 8px;
    a {
      color: #155bd4;
      vertical-align: middle;
      cursor: pointer;
      &::after {
        color: #999;
        display: inline-block;
        content: '|';
        padding: 0 4px;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
