.clue-pool-source-filter {
  .zent-cascader__select-text {
    vertical-align: middle;
  }
  .zent-cascader__select {
    width: 184px;
  }
}

.clue-pool-source-filter-popup {
  .zent-cascader__menu-item.active {
    background: #155bd4;
    color: #fff;
  }
}

.zent-cascader__menu-item.active {
  .zent-cascader__menu-item-icon {
    color: #fff;
  }
}
