.edit-form__wrap {
  display: flex;
  align-items: center;
  min-width: 260px;



  .edit-form-number-field {
    width: 80px;
    margin: 0 8px;
    min-width: 80px;
    input.zent-input {
      min-width: 50px;
    }
  }

  .edit-form-number-unit {
    white-space: nowrap;
  }

  .btn-wrap {
    margin-left: 16px;
    min-width: 100px;
  }
}

.icon-edit__wrap {
  width: 12px;
  height: 56px;
  .icon-hidden {
    display: none !important;
  }
}

.edit-form-number-error__text {
  font-size: 12px;
  color: #D0021B;
  padding-top: 4px;
  padding-left: 22px;
  letter-spacing: 0;
}
