.signin_icon-help {
  color: #c8c9cc;
  margin-left: 5px;
  font-size: 16px;
}

.signin_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sigin-edit {
  display: flex;
  min-height: calc(100vh - 201px);
}

.sigin-edit_form {
  flex: auto;
  padding-top: 47px;
  border-left: solid 1px #EBEDF0;
  .zent-input-wrapper {
    width: 205px;
  }
}

.sigin-edit_preview {
  flex: none;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.signin-edit_canvas {
  width: 300px;
  height: 410px;
  background-color: #00B389;
}

.signin-edit_btn-group {
  margin-top: 30px;
}

.sigin-list {
  min-height: calc(100vh - 171px);

  .vis-filter_region {
    margin: 0 0 20px 0;
    padding: 16px;

    .vis-filter_bottom {
      margin-left: 72px;
    }

    .vis-filter_group .vis-filter_item .vis-filter_label {
      width: 72px;
      text-align: right;
    }

    .vis-filter_group .vis-filter_item:first-of-type {
      min-width: 800px;
    }

    .vis-filter_group .vis-filter_item {
      min-width: 310px;
    }
  }
}

.signin-code-select_button {
  line-height: 30px;
}

.signin-code-select_item {
  display: inline-block;
  padding-left: 7px;
  line-height: 28px;
  background-color: #eee;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  box-sizing: border-box;
  .zenticon {
    cursor: pointer;
    color: #999;
    transform: scale(0.625);
    padding-right: 7px;
  }
}

.signin-filter {
  button {
    width: 80px;
  }

  &_view-record {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 16px;
  }

  &_reset {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 8px;
  }
}

.tab {
  border: 1px solid #155bd4;
  border-radius: 2px;
  margin-bottom: 16px;
  &-item {
    cursor: pointer;
    display: inline-block;
    width: 96px;
    height: 30px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color: #155bd4;
    &_active {
      color: #fff;
      background-color: #155bd4;
      &:hover {
        color: #fff;
      }
    }
  }
}

@import 'mixins/ellipsis';
$blue: #4687E6;
$dark-red: #D40000;
$grey: #999999;

@mixin radio-before($background-color) {
  display: inline-flex;
  align-items: center;
  &::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $background-color;
    margin-right: 4px;
  }
}

.sign-blue {
  @include radio-before($blue);
}
.sign-red {
  @include radio-before($dark-red);
}
.sign-grey {
  @include radio-before($grey);
}