.amount-wrapper {
  .amount-title {
    margin-bottom: 10px;
  }

  .zent-block-header__content {
    float: right;
  }

  .blue {
    color: #155bd4;
  }

  .history-button {
    color: #155bd4;
    font-size: 14px;
    cursor: pointer;
  }

  .money-mount {
    $lighterGray: #bbb;

    margin: 10px 0;
    background-color: #f7f8fa;

    .zenticon {
      color: $lighterGray;
      cursor: pointer;
    }

    span {
      color: #323233;
    }
  }
}

.amount-history {
  &-content {
    margin-top: 10px;
  }
}
