@import 'mixins/retina';
@import 'vars/colors';

.rc-design-component-config-preview {
  height: 64px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &--new {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-top: 35px solid $theme-error-2;
      border-right: 35px solid transparent;
      opacity: 0.9;
    }

    &::after {
      content: '新版';
      display: block;
      position: absolute;
      color: $theme-stroke-10;
      top: 4px;
      left: -8px;
      transform: scale(0.5) rotate(-45deg);
      font-size: 20px;
    }
  }

  &__title {
    display: inline-block;
    padding: 23px 60px 0;
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
  }

  &--weapp {
    background-image: url(https://img.yzcdn.cn/public_files/2018/11/14/24843d9fdcdfad4ed8cbc51c543a513e.png);
  }

  &--wechat {
    background-image: url(https://img.yzcdn.cn/public_files/2017/12/15/21b99a4e00245cdbc09a43abb8619f33.png);

    .rc-design-component-config-preview__title {
      color: $theme-stroke-10;
    }
  }
}

@include retina {
  .rc-design-component-config-preview {
    &--weapp {
      background-image: url(https://img.yzcdn.cn/public_files/2018/11/14/24843d9fdcdfad4ed8cbc51c543a513e.png);
    }

    &--wechat {
      background-image: url(https://img.yzcdn.cn/public_files/2017/12/15/c16b686fda5bc8b2c607f8c64edbef6c.png);
    }
  }
}
