<div class="introduce-poster {{ drawInfo.type }}" style="background-image: url({{drawInfo.bg}})">
  {% if drawInfo.type === 'custom' %}
  <div class="introduce-poster__header">
    <img src="{{ drawInfo.avatar }}" alt="头像" class="introduce-poster__avatar">
    <div class="introduce-poster__info">
      <p class="introduce-poster__name ellipse-overflow">{{ drawInfo.name }}</p>
      <p class="introduce-poster__text">{{ drawInfo.label }}</p>
    </div>
  </div>
  <div class="introduce-poster__content">
    <div class="introduce-poster__bg">
      <img src="{{ drawInfo.poster }}" class="introduce-poster__blur">
      <img src="{{ drawInfo.poster }}"  class="introduce-poster__cover" style="width: {{drawInfo.width}}px;height: {{drawInfo.height}}px;transform: translate(-50%, -50%) rotate({{drawInfo.rotate}}deg);">
    </div>
    <div class="introduce-poster__footer">
      <img src="{{ drawInfo.shopLogo }}" alt="机构logo" class="introduce-poster__logo">
      <div class="introduce-poster__desc">
        <p class="introduce-poster__shopName ellipse-overflow ">{{ drawInfo.shopName }}</p>
        <p class="introduce-poster__tip">{{ drawInfo.tip }}</p>
      </div>
      <img src="{{ drawInfo.qrCode }}" alt="二维码" class="introduce-poster__qrCode">
    </div>
  </div>
  {% elif drawInfo.type === 'definition'  %}
  <div class="introduce-poster__content">
    <div class="introduce-poster__bg">
      <img src="{{ drawInfo.poster }}" class="introduce-poster__blur">
      <img src="{{ drawInfo.poster }}"  class="introduce-poster__cover">
    </div>
    <div class="introduce-poster__footer">
      <img src="{{ drawInfo.avatar }}" alt="机构logo" class="introduce-poster__logo">
      <div class="introduce-poster__desc">
        <p class="introduce-poster__shopName ellipse-overflow ">{{ drawInfo.name }}</p>
        <p class="introduce-poster__tip">{{ drawInfo.tip }}</p>
      </div>
      <img src="{{ drawInfo.qrCode }}" alt="二维码" class="introduce-poster__qrCode">
    </div>
  </div>
  {% else %}
    <section class="{{ drawInfo.theme }}">
      <div class="introduce-poster__header">
        <img src="{{ drawInfo.avatar }}" alt="头像" class="introduce-poster__avatar">
        <span class="introduce-poster__name ellipse-overflow">{{ drawInfo.name }}</span>
      </div>
      <div class="introduce-poster__content">
      {% if drawInfo.theme === 'orange' %}
        {{ drawInfo.label }}
      {% else %}
        {{ drawInfo.content }}
      {% endif %}
      </div>
      <div class="introduce-poster__reward ellipse-overflow">
        {% if drawInfo.theme === 'orange' %}
          {{ drawInfo.reward }}
        {% else %}
          送你{{ drawInfo.reward }}
        {% endif %}
      </div>
      <div class="introduce-poster__footer">
        {% if drawInfo.theme === 'orange' %}
        <div class="left">
          <div class="introduce-poster__desc">
            <img src="{{ drawInfo.shopLogo }}" alt="机构logo" class="introduce-poster__logo">
            <span class="introduce-poster__shopName ellipse-overflow">{{ drawInfo.shopName }}</span>
          </div>
          <p class="introduce-poster__tip">
            {{ drawInfo.tip }}
            <img class="tip-img" src="https://img01.yzcdn.cn/upload_files/2020/08/24/Fnx2AzK6VXYpqya9nivtSnLiG6gd.png">
          </p>
        </div>
        {% else %}
        <div class="introduce-poster__desc">
          <p class="introduce-poster__shopName">
            <span>领取奖励</span>
            <img class="tip-img" src="https://img01.yzcdn.cn/upload_files/2020/08/24/Fm3lDb9pS_tvPRSE1XXFk0sVohUN.png">
          </p>
          <p class="introduce-poster__tip">
            {{ drawInfo.tip }}
          </p>
        </div>
        {% endif %}
        <img src="{{ drawInfo.qrCode }}" alt="二维码" class="introduce-poster__qrCode">
      </div>
    </section>
  {% endif %}
</div>
<style>
* {
  padding: 0;
  margin: 0;
}

.ellipse-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.introduce-poster {
  position: relative;
  display: flex;
  width: 292px;
  height: 414px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  flex-direction: column;
  background-size: 100% 100%;
}

.introduce-poster__header {
  padding: 16px 16px 8px 16px;
  display: flex;
  align-items: center;
}

.introduce-poster__avatar {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.introduce-poster__name {
  flex: 1;
  margin-left: 8px;
  font-size: 12px;
}

.introduce-poster__content {
  padding: 0 16px;
  flex: 1;
  font-size: 18px;
}

.introduce-poster__footer {
  padding: 12px;
  display: flex;
  align-items: center;
}

.introduce-poster__desc {
  flex: 1;
  margin: 0 8px;
  overflow: hidden;
}

.introduce-poster__logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.introduce-poster__qrCode {
  width: 65px;
  height: 65px;
}

.introduce-poster__shopName {
  line-height: 20px;
  font-size: 16px;
  width: 100%;
  font-weight: 500;
}

.introduce-poster__tip {
  margin-top: 4px;
  font-size: 10px;
  color: rgba(255, 255, 255, .72);
}

.introduce-poster__info {
  flex: 1;
  margin-left: 8px;
}

.custom .introduce-poster__name {
  margin-left: 0;
  flex: none;
}

.custom .introduce-poster__text {
  margin-top: 3px;
  font-size: 10px;
}

.custom .introduce-poster__content {
  position: relative;
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
}

.custom .introduce-poster__content::before{
  content: '';
  position: absolute;
  left: 26px;
  top: -10px;
  border: 6px solid transparent;
  border-bottom: 7px solid #fff;
  width: 0;
  height: 0;
}

.custom .introduce-poster__bg {
  position: relative;
  flex: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.custom .introduce-poster__blur,
.custom .introduce-poster__cover {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.custom .introduce-poster__cover{
  transform-origin: center center;
}

.custom .introduce-poster__blur {
  width: 100%;
  height: 100%;
  filter: blur(14px);
}

.custom .introduce-poster__shopName {
  font-size: 14px;
  color: #323233;
}

.custom .introduce-poster__tip {
  color: #969799;
}

.custom .introduce-poster__footer {
  background-color: #eef7ff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.custom::after {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 0;
  content: "";
  width: 71px;
  height: 47px;
  background: url("https://b.yzcdn.cn/public_files/2020/04/02/lamp.png") center center no-repeat;
  background-size: contain;
}

.definition {
  overflow: hidden;
}

.definition .introduce-poster__content {
  padding: 0;
}

.definition .introduce-poster__footer {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  padding: 8px;
  background-color: rgb(255 255 255 / .8);
  border-radius: 8px;
}

.definition .introduce-poster__bg {
  position: relative;
  width: 292px;
  height: 414px;
  overflow: hidden;
}

.definition .introduce-poster__blur{
  position: absolute;
  left: -7%;
  top: -7%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(13px);
}

.definition .introduce-poster__cover{
  position: relative;
  left: 50%;
  top: 50%;
  display: block;
  width: 100%;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.definition .introduce-poster__shopName {
  font-size: 14px;
  color: #323233;
}

.definition .introduce-poster__tip {
  color: #969799;
}

.default .blue .introduce-poster__header {
  padding-left: 22px;
  margin-top: 8px;
}

.blue .introduce-poster__name {
  font-size: 14px;
  font-weight: 500;
  color: #323233;
}

.blue .introduce-poster__content {
  padding: 0 22px;
  flex: 1;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #181947;
}

.blue .introduce-poster__reward {
  padding: 0 22px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #181947;
}

.blue .introduce-poster__footer {
  position: absolute;
  bottom: 132px;
  width: 100%;
  padding: 0 12px;
  /* margin-top: 65px; */
  display: flex;
  align-items: center;
  color: #323233;
  justify-content: space-between;
  box-sizing: border-box;
}

.blue .introduce-poster__shopName {
  height: 16px;
  padding: 2px 8px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 12px;
  background-color: #3e41e9;
  color: #fff;
  margin: 0;
  width: fit-content;
}

.blue .introduce-poster__tip {
  margin-top: 4px;
  font-size: 12px;
  color: #323233;
  font-weight: 500;
}

.tip-img {
  margin-left: 2px;
  width: 12px;
  height: 12px;
  padding-top: 2px;
  vertical-align: text-top;
}

.blue .introduce-poster__qrCode {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.orange .introduce-poster__header {
  display: block;
  margin-top: 29px;
  padding: 0;
  text-align: center;
}

.orange .introduce-poster__name {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #323233;
}

.orange .introduce-poster__content {
  margin-top: 2px;
  font-size: 12px;
  line-height: 16px;
  color: #969799;
  text-align: center;
}

.orange .introduce-poster__reward {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 124px;
  padding: 0 43px;
  margin-top: 26px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #f9f5cd;
  text-align: center;
}

.orange .introduce-poster__footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #323233;
  justify-content: space-between;
  box-sizing: border-box;
}

.orange .introduce-poster__desc {
  display: inline-flex;
  align-items: center;
  margin: 0 8px;
  overflow: hidden;
}

.orange .introduce-poster__logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.orange .introduce-poster__qrCode {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.orange .introduce-poster__avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.orange .introduce-poster__name {
  display: block;
  margin-top: 4px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 500;
  color: #323233;
}

.orange .introduce-poster__content {
  margin-top: 2px;
  font-size: 12px;
  line-height: 16px;
  color: #969799;
  text-align: center;
}

.orange .introduce-poster__shopName {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  color: #323233;
  line-height: 20px;
}

.orange .introduce-poster__tip {
  height: 16px;
  padding: 2px 8px;
  border-radius: 10px;
  line-height: 16px;
  font-size: 12px;
  background-color: #ff381a;
  color: #fff !important;
  margin: 6px 8px 0;
  width: fit-content;
}

.orange .tip-img {
  padding-top: 1px;
}
</style>