.drag-select__card {
  box-sizing: border-box;
  width: 169px;
  height: 70px;
  padding: 8px;
  background-color: #fff;

  .card {
    &__title {
      width: 140px;
      height: 34px;
      color: #999;
      font-size: 12px;
      line-height: 17px;
      position: relative;

      &--active {
        color: #333;
      }
    }

    &__title-icon {
      position: absolute;
      right: 4px;
      bottom: 2px;
      font-size: 12px;
    }

    &__footer {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #bbb;
      font-size: 12px;
      line-height: 17px;

      &--active {
        color: #999;
      }
    }
  }
}