.clue-tags {
  display: flex;
  height: calc(100vh - 170px);
  min-height: 500px;

  .serialno-edit {
    color: #999;
    margin-left: 8px;
    visibility: hidden;
  }

  .tbody {
    .tr:hover,
    tr:hover {
      .hovervisible {
        visibility: visible;
      }
    }
  }

  .zent-grid-header {
    margin-bottom: 0 !important;
  }
}

.edu-link-group {
  a {
    cursor: pointer;
  }
}