// 商品列表 通用组件
$border-color: #e5e5e5;
@mixin border-exist($poses) {
  @each $pos in $poses {
    border-#{$pos}: 1px solid $border-color;
  }
}

.sc-goods-list.list {
  .goods-card {
    .photo-block{
      float: left;
      margin-right: 13px;
      width: 125px;
      height: 125px;
      img {
        max-width: 125px;
        max-height: 125px;
      }
    }
    .info {
      height: 125px;
      .goods-title {
        font-size: 14px;
        max-height: 52px;
        margin-bottom: 12px;
      }
      .goods-price {
        font-size: 15px;
        margin-bottom: 8px;
      }
      .goods-wish {
        left: 88px;
        right: auto;
      }
      .wish-response {
        left: 76px;
        right: auto;
      }
    }
    .goods-buy {
      &.btn1 {
        bottom: 2px;
        &.ajax-loading {
          bottom: 6.5px;
        }
      }
      &.btn2 {
        bottom: 3px;
        &.ajax-loading {
          bottom: 5.5px;
        }
      }
      &.btn3 {
        bottom: 0px;
        right: -7px;
        &.ajax-loading {
          bottom: 3px;
          right:10px;
        }
      }
      &.btn4 {
        bottom: 3px;
        &.ajax-loading {
          bottom: 6.5px;
        }
      }
    }
    .sold-out {
      background-size: auto 50%;
    }
  }
}

//商品列表 start
// 商品列表-极简
.sc-goods-list.list {
  .goods-card.normal {
    //@include border-img("wap/border-line-2.png");
    @include border-exist(bottom);
    padding: 10px 0;
    .link{
      background:none;
    }
    .goods-title {
      padding-top: 2px;
    }
  }
}

// 商品列表－卡片
.sc-goods-list.list {
  .goods-card.card {
    padding: 5px 0px 5px 5px;
    margin: 8px;
    //@include border-img("wap/border-line-2.png");
    @include border-exist(top  right  bottom  left);
    background:#fff;
    .goods-title {
      padding: 5px 6px 0 0;
    }
  }
}

// 商品列表 end
