.decorate-contact-us-editor {

  .deco-control-group__label {
    color: #323233;
  }

  .zent-input-wrapper {
    // display: inline-block;
  }

  .zent-input {
    // width: 100px;
  }

  .decorate-contact-us-editor__desc {
    margin-top: 10px;
    font-size: 12px;
    color: #969799;
    display: block;
  }
}
