$blue: #4687e6;
$dark-red: #d40000;
$grey: #999999;

@mixin radio-before($background-color) {
  display: inline-flex;
  align-items: center;
  &::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $background-color;
    margin-right: 4px;
  }
}

.sign-blue {
  @include radio-before($blue);
}
.sign-red {
  @include radio-before($dark-red);
}
.sign-grey {
  @include radio-before($grey);
}

.signin-list {
  &__banner,
  &__body {
    background-color: #fff;
  }

  &__banner {
    margin-bottom: 16px;
  }

  &__body {
    padding: 16px;
  }
}
