@import 'vars/colors';

.lotto-record {
  padding: 16px;

  .header {
    padding-bottom: 16px;
    display: flex;
    align-items: center;

    .title {
      font-size: 20px;
      font-weight: 500;
      display: inline-block;
      margin-right: 16px;
      line-height: 28px;
    }

    .operation {
      font-size: 12px;
      line-height: 28px;
      margin-right: 8px;
    }

    .latest-updated-at {
      color: $grayColor;
      font-size: 12px;
      line-height: 28px;
    }
  }

  span.operation {
    color: $blueColor;
    cursor: pointer;
  }
}
