.batchimport.show-steps {
  .zent-form-control .zent-form-control-content {
    margin-left: 0 !important;
  }

  .step-wrapper .body {
    .file-template .desc {
      margin: 4px auto 16px;
    }

    .file-uploader.file-upload .file-uploader__desc {
      margin: 4px auto 16px;
    }
  }
}
