.esg-goods {
  &-wrapper {
    display: flex;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 240px;

    .brief-title {
      font-size: 14px;
      line-height: 20px;
    }

    .goods-info-wrap {
      line-height: 18px;
    }

    .brief-price {
      margin-left: 5px;
    }
  }

  &__img {
    margin-right: 10px;
    object-fit: contain;
  }
}
