.header-help {
  display: inline-block;

  &-title {
    margin-right: 4px;
  }

  &-icon {
    font-size: 16px;
    color: #c8c9cc;
  }
}

.easy-grid {
  &-container {
    // 兼容zent gridv 排序按钮样式问题
    // .zent-grid-thead-sort-btn {
    //   display: inline-flex;
    // }

    .no-batch-header {
      position: relative;
      padding-left: 16px;
      padding-bottom: 12px;
      height: 28px;
      align-items: center;
    }
  }

  &__custom-columns {
    // 自定义表头高度为32
    line-height: 32px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    right: 8px;
  }
}

.zent-grid-tr:hover {
  .easy-grid__quickEdit-icon {
    visibility: visible;
  }
}

.easy-grid__quickEdit {
  &-container {
    .easy-grid__quickEdit-icon {
      color: #bebebf;
      margin-left: 8px;
      visibility: hidden;
      cursor: pointer;

      &.visible {
        visibility: visible;
      }
    }
  }

  &-input {
    .line {
      display: flex;
      width: 100%;

      & > div:first-child {
        margin-right: 8px;
      }
    }

    .error-message {
      margin-top: 4px;
    }

    &.has-error {
      color: #d40000 !important;

      .zent-input-wrapper {
        outline-color: #d40000 !important;
        border-color: #d40000 !important;
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  &-action {
    color: #155bd4;
    cursor: pointer;

    &.zent-btn {
      color: #155bd4 !important;
      font-size: inherit !important;
      line-height: inherit !important;
      padding: 0 !important;
      border: 0 !important;

      &.zent-btn-loading {
        color: transparent !important;
      }

      &.zent-btn-disabled {
        background-color: transparent !important;
        color: #c8c9cc !important;
      }

      &:active {
        background-color: transparent !important;
      }
    }
  }

  &-actions-split {
    color: #323233;
    margin: 0 4px;
  }
}

.operations-item .operations-item__disabled,
.operations-pop-item .operations-item__disabled {
  color: #dcdee0;
}

.easy-grid__grid-pop {
  .zent-pop-inner {
    min-width: 242px;

    .zent-pop-buttons {
      margin-top: 8px;
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
}

// modify-display-columns style
.custom-columns {
  &__container {
    width: 580px;

    .dialog-r-body,
    .dialog-r-footer {
      padding: 0 !important;
    }

    .dialog-r-footer {
      padding-top: 16px !important;
    }
  }

  &__item {
    margin-top: 16px;
    flex-shrink: 0;
    flex-basis: 180px;

    &-box {
      margin: 0 auto;

      .zent-checkbox-group {
        display: flex !important;
        flex-wrap: wrap;
      }
    }
  }
}
