.custom-time-divide {
  .zent-radio {
    font-size: 0;
  }

  .custom-time-divide__switch {
    line-height: 26px;
  }
}

.self-fetch-time-divide-example {
  .example {
    height: 550px;

    .image-area {
      float: left;

      &:first-child {
        margin-right: 50px;
      }
    }

    .wrap {
      padding: 0 10px;
    }

    p {
      margin: 10px 0;
      text-align: center;
      font-size: 14px;
    }
  }
}
