.dialog-content {
  width: 100%;
  font-size: 14px;
  
  .select-wrap {
    width: 100%;

    &.has-error {
      
      .zent-form__control-label {
        color: #f44;
      }

      .zent-form__error-desc {
        margin-left: 64px;
        color: #f44;
      }
    }
  }

  .zent-dialog-r-footer {
    text-align: right;
    padding: 16px 16px 0;
  }
}