@import './zent-modify.scss';

.profile-list {
  &__dialog {
    &-button {
      padding-left: 0;
    }
  }

  &__container,
  &__dialog {
    position: relative;

    &-button {
      position: absolute;
      z-index: 1;
    }
  }

  &__reserved {
    color: #969799;
  }

  &__grid-checkbox__container {
    position: relative;
  }

  &__select-all {
    position: absolute;
    bottom: 0;
    left: 16px;
    line-height: 32px;
  }
}

.applicable-scene-box {
  &__section {
    display: block;

    label {
      line-height: 32px;
    }

    & > label {
      vertical-align: bottom;
    }
  }
}

.tips {
  font-size: 12px;
  color: #969799;
}
