.applicable-scene-box {
  .zent-checkbox-wrap {
    line-height: 30px;
  }

  .zent-form__help-desc {
    width: 336px;
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.profile-list {
  &__container,
  &__dialog {
    .search-input {
      .zenticon {
        right: 15px;
      }

      .zent-input-wrapper {
        .zent-input {
          padding-left: 1em;
        }
      }
    }

    .zent-dialog-r-body > .zent-dialog-r-body {
      padding: 0;
    }

    .zent-dialog-r-footer {
      padding: 16px 0 0;
      text-align: right;
    }
  }

  &__confirm {
    .zent-pop-inner {
      display: flex;
      line-height: 26px;

      .zent-pop-buttons {
        min-width: unset;
        margin-top: 0;
        margin-left: 16px;
      }
    }
  }

  &.zent-alert {
    margin-bottom: 16px;
  }
}

// input display: flex -> display: inline-block
.custom-opt {
  display: inline-block !important;
  width: 240px;

  & > .zent-input {
    width: inherit;
  }
}

.zent-btn {
  &.add-options {
    padding: 0 !important;
  }

  &.no-active {
    vertical-align: top;
  }

  &.no-active:active {
    color: inherit;
    background-color: transparent;
  }
}

.zent-form__control-group.options:not(:first-child) {
  margin-top: 24px;
  margin-bottom: 0 !important;

  &.last-option {
    margin-bottom: 24px !important;
  }
}

.zenticon-help-circle {
  margin-left: 5px;
  color: #bbb;
  transform: scale(1.25);
}
