.option-group {
  &__wrapper {
    .add-option-button {
      margin-left: 120px;
    }
  }

  &__option-item {
    display: flex;
    margin-bottom: 16px;

    .option-group__rich-text {
      position: relative;
      min-width: 640px;
      min-height: 200px;
      margin-bottom: 8px;

      .remove-option {
        position: absolute;
        top: 0;
        right: -20px;

        .zenticon {
          font-size: 15.8px;
          color: #c8c9cc;
          cursor: pointer;

          &:hover {
            color: #323233;
          }
        }
      }
    }
  }
}

.option-group__option-control.has-error .edui-editor {
  border-color: #d40000 !important;
}
