@import 'common/ellipsis';
@import 'common/filter';
@import 'common/ui-link';
@import 'common/app-design';

.content-form.content-form__benefit-form {
  padding-left: 0;

  .benefit-form {
    padding-left: 16px;

    .zent-form__control-label {
      width: 115px;
    }

    .split-title {
      padding-left: 16px;
    }
  }
}
