.ebiz-select.zent-popover {
  z-index: 1000;
}

.coursegroup-select__wrap {
  .coursegroup-select {
    .ebiz-select-trigger__input {
      width: 100% !important;
    }
  }

  .ebiz-select__container {
    display: flex !important;
  }
}