.shop-number-tips-wrap {
  background-color: #EDF4FF;
  border: 1px solid #A0C7FF;
  line-height: 40px;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  .shop-number-tips {
    margin-left: 18px;
  }
  .shop-number-link {
    margin-left: 10px;
    color: #3388FF;
    cursor: pointer;
  }
}