@import 'common/split-title';
@import 'vars/colors';

.split-title {
  background-color: $whiteColor;
  height: 40px;
  line-height: 40px;
  margin: 8px auto 16px;

  .split {
    margin-left: 12px;
    margin-right: 8px;
    height: 14px;
    top: 2px;
    width: 3px;
  }
}
