.move-directory {

  &__wrapper {
    .move-tree__item {
      height: 42px;
      line-height: 42px;
    }

    .column-directory__tree__wrapper {
      height: 376px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .column-basetree__node__name {
      max-width: 210px !important;
    }

    .column-basetree__node__switcher {
      line-height: 42px !important;
    }

    .column-basetree__node__number {
      margin-right: 56px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &__actions {
    width: 100%;
    text-align: right;
    margin-top: 50px;
  }
}