.zent-display-board__root {
  background-color: #f8f8f8;
}

.zent-display-board__root .zent-display-board--title {
  position: relative;
  clear: both;
}

.zent-display-board__root .zent-display-board__title {
  font-size: 16px;
  line-height: 100px;
  min-height: 100px;
  text-align: center;
  border-right: 1px solid #e5e5e5;
}

.zent-kvpair__root {
  padding: 24px 0;
  text-align: center;
  color: #333;
}

.zent-kvpair__root .zent-kvpair__content {
  display: inline-block;
}

.zent-kvpair__root .zent-kvpair__tooltip-trigger {
  font-size: 14px;
  cursor: pointer;
  color: #cacaca;
}

.zent-kvpair__root .zent-kvpair__bottom,
.zent-kvpair__root .zent-kvpair__top {
  text-align: left;
}

.zent-kvpair__root .zent-kvpair__top {
  font-size: 12px;
  padding-bottom: 5px;
}

.zent-kvpair__root .zent-kvpair__top span {
  padding-right: 5px;
}

.zent-kvpair__root .zent-kvpair__bottom {
  font-size: 26px;
  padding-top: 5px;
}

.zent-kvpair__root .zent-kvpair__link {
  text-decoration: none;
  color: #155bd4;
}

.zent-kvpair__root .zent-kvpair__link:link,
.zent-kvpair__root .zent-kvpair__link:visited,
.zent-kvpair__root .zent-kvpair__link:hover,
.zent-kvpair__root .zent-kvpair__link:active {
  text-decoration: none;
  color: #155bd4;
}

.zent-kvpair__root .zent-kvpair__tooltip {
  max-width: 300px;
  word-wrap: normal;
}
