#js-react-container .moments-container .moments-management {
  .moments-text-content {
    word-break: break-all;
  }

  .moments-extra-content {
    > .img-wrap, > .video-player-wrap {
      display: inline-block;
      margin: 8px 8px 0 0;
    }
  }

  .zent-form-control {
    margin-bottom: 16px;
  }
  
  .zent-form-label {
    flex-basis: 100px;
  }

  .zent-grid-td:first-child {
    padding: 16px 20px 16px 18px;
  }

  .zenticon-video-guide:before {
    font-size: 20px;
  }
}
