.header {
  display: flex;
  justify-content: space-between;
}

.body {
  margin-top: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.filter {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  line-height: 20px;

  > img {
    flex: 60px 0 0;
    margin-right: 10px;
  }
}

.gridfooter {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
