.decorate-richtext-editor {
  .control-label {
    display: inline-block;
    width: 85px;
    text-align: right;
    vertical-align: middle;
  }

  .richtext-group {
    width: 344px;
    margin: 0 auto;
  }

  .editor-bottom-help-desc {
    margin: 24px 0 12px 16px;
    font-size: 12px;
    line-height: 16px;
    color: #969799;
  }

  .yz-edui-small .edui-default .edui-editor-toolbarboxinner {
    padding: 0;
  }
}

