@import 'mixins/ellipsis';

.benefit-content {
  &__header {
    padding: 20px 16px;
    background: #f7f8fa;

    &__info {
      position: relative;
      margin-left: 160px;
    }

    &__name {
      line-height: 18px;
      font-size: 18px;
      color: #323233;
    }

    &__summary {
      margin-top: 14px;
      line-height: 17px;
      font-size: 12px;
      color: #646566;

      @include ellipsis;
    }

    &__card {
      margin-top: 10px;
      color: #969799;
      line-height: 16px;
      font-size: 12px;

      &__num {
        margin-left: 25px;
      }
    }

    &__opts {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__tab {
    margin-top: 16px;
  }

  .cover-box {
    width: 140px;
    height: 75px;
    float: left;
    text-align: center;
    border: 1px solid #eee;

    > img {
      max-width: 140px;
      max-height: 75px;
    }
  }
}
