@import 'vars/colors';

.shop-qr-code {
  position: relative;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;

  .title {
    text-align: left;
  }

  .qrcode {
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }

  .links {
    text-align: left;
    height: 16px;
    line-height: 16px;
    margin-top: 10px;

    .copy {
      cursor: pointer;
      color: $linkColor;
    }

    .open {
      cursor: pointer;
      position: absolute;
      right: 0;
      color: $linkColor;
    }
  }
}
