.educourse-field {
  line-height: 30px;

  .educourse-apply-tag {
    background-color: rgba(155,155,155,0.17);
    border-color: rgba(155,155,155,0.17);;
    line-height: 30px;
    font-size: 12px;
    color: black;
    & .zent-tag-close-btn {
      color: #D8D8D8;
      transform: scale(0.8);
    }
  }
}
.educourse-choose-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .educourse-choose-filter {
    &>.zent-form__control-group{
      display: flex;
      margin-bottom: 0px;
      line-height: 30px;
    }
    .educourse-choose-input {
      margin-top: 1px;
    }
  }
}


