.append-button {
  width: 80px;
  height: 80px;
  border: 1px dashed #DCDEE0;
  border-radius: 2px;
  background-color: #F7F8FA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-right: 12px;

  .icon {
    font-size: 24px;
  }

  .desc {
    margin-top: 4px;
  }
}
