@import 'shared/sass/mixins/_ellipsis';

.input-student {

  .zent-select {
    width: 155px;
    margin-right: 0;
  }

  .zent-input-wrapper {
    display: inline-block;
  }

  &__action {
    display: inline-block;
    margin-left: 10px;
    line-height: 30px;
    font-size: 12px;
    color: #3388ff;
    cursor: pointer;
  }

  &__input input {
    width: 180px;
  }

  &__select {
    position: relative;
    width: 154px;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    // color: #333;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;

    &-content {
      @include ellipsis;
      padding-right: 10px;
    }

    &-content-placeholder {
      color: #999999;
    }

    &::after {
      background: url(https://b.yzcdn.cn/fix-base64/64a4281a4d02f7144d60433d49082fb09dfe6531515747bf605c03429f01c0cd.png) no-repeat;
      background-size: 6px 5px;
      content: '';
      height: 5px;
      margin-top: -3px;
      position: absolute;
      right: 10px;
      top: 50%;
      transition: transform 0.25s;
      width: 6px;
    }
  }
}
