@import 'vars/colors';

.rc-design-component-groupon-editor {

  .zent-input-wrapper {
    display: inline-block;
    width: 80px;

    input {
      width: 80px;
    }
  }

  .zenticon-help-circle {
    margin-left: 3px;
    color: $theme-stroke-5;
    font-size: 13px;
  }

  .zent-design-editor__control-group-help-desc {
    margin-top: 0;
  }

  &__goods-num {

    .zent-design-editor__control-group-label--top {
      margin-top: 6px;
    }

    .zent-checkbox-wrap {
      margin-right: 5px;
    }

    .zent-design-editor__control-group-error {
      margin-left: 0;
    }

    .deco-control-group {
      padding: 0;
    }
  }

  .weapp-design-components-new-label::after {
    top: -6px;
  }

  .view-examples {
    font-size: 12px;
    vertical-align: middle;
    color: #155bd4;
    cursor: pointer;
  }

  .inline-help-desc {
    font-size: 12px;
    margin-left: 3px;
    color: #969799;
  }

  .block-help-desc {
    padding: 0 16px;
    font-size: 12px;
    line-height: 16px;
    color: #969799;
  }

  .controls-card-manual .deco-control-group__content {
    display: block;
  }
}
