{% extends '../../common/base.html' %}

{% block page_title %} 线下课商品 {% endblock %}

{% block app_nav %}
  <div class="zent-breadcrumb js-page-breadcrumb" id='js-page-breadcrumb'>
    <span class="project" data-href="{{ URL.site('/vis/edu/course#/course-manage/list', 'v4') }}">线下课</span>

  </div>
{% endblock %}

{% block page_style %}
  {{ loadCss('version_css.course/course-manage') | safe }}
{% endblock %}

{% block app_content %}
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {% include "../../common/config.html" %}
  {% include "../../common/ueditor.html" %}
  {{ loadJs('version_js.course/course-manage') | safe }}
{% endblock %}
