.temp-item {
  &__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__alert {
    margin-top: 20px;
  }

  &__title {
    span:first-child {
      font-size: 14px;
      color: #333;
    }

    span:nth-child(2) {
      font-size: 14px;
      color: #999;
    }
  }

  &__action {
    p {
      display: inline-block;
      font-size: 14px;
      color: #999;
      margin-right: 10px;
    }

    span {
      color: #155bd4;
      font-size: 14px;
    }

    span + span {
      &::before {
        content: ' - ';
      }
    }
  }

  &__cps {
    margin-top: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 1px solid #ebedf0;
    border-bottom: 1px solid #ebedf0;

    .zent-collapse-panel {
      box-sizing: border-box;
    }

    .zent-collapse-panel__title {
      font-size: 14px;
      line-height: 20px;
      border-bottom: 1px solid #ebedf0;
      border-left: 1px solid #ebedf0;
      border-right: 1px solid #ebedf0;
      color: #323233;
      background-color: #f7f8fa;
      padding: 14px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .zent-collapse-panel__content-box {
      padding: 0;
    }

    .zent-collapse-panel__content {
      padding: 0;

      .zent-grid-table {
        border-top: 0;
      }

      .zent-grid-tbody {
        tr:last-child {
          td {
            border-bottom: 0;
          }
        }

        .zent-grid-tr:hover {
          background-color: #fff;
        }
      }

      .zent-grid-th {
        background-color: #fff;
      }
    }
  }

  &__arrow {
    display: inline-block;
    background: url('https://b.yzcdn.cn/fix-base64/654bb92f22f29d2fc2694ceb88c6b13c20ebc84d62b5cf9b36e0de0eb4b26216.png') no-repeat;
    background-size: 9px 5px;
    background-position: 50%;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    vertical-align: middle;

    &.reverse {
      transform: rotateX(180deg);
    }
  }

  &__pag {
    margin-top: 20px;
  }
}
