.easy-form {
  .preview {
    font-size: 12px;
    position: fixed;
    right: 0;
    top: 0;
    height: 60vh;
    width: 256px;
    overflow: scroll;
    background-color: #0e1019;
    padding: 8px;
    padding-right: 0;
    z-index: 999;

    &-token {
      // wite-space
      &.token-0 {
        display: inline-block;
      }
    }
  }

  .normal-field {
    &__content {
      display: flex;
      min-width: 185px;
    }

    .zent-switch {
      margin-top: 4px;
    }

    .zent-radio-group,
    .zent-checkbox-group {
      vertical-align: middle;
    }
  }

  .group-field {
    &__header {
      display: flex;
      padding: 8px 0;
      border-bottom: 1px solid #d8d8d8;
      margin-bottom: 16px;
    }

    &__group-title {
      font-size: 14px;
      font-weight: 700;
    }

    &__collapse {
      &-trigger {
        user-select: none;
        margin-left: 16px;
      }

      &-text {
        font-size: 14px;
        font-weight: normal;
        color: #155bd4;
        cursor: pointer;
      }

      &-icon {
        margin-left: 2px;
      }
    }

    &__body {
      overflow-y: hidden;

      &.group-collapse {
        height: 0;
      }
    }
  }

  &.description-content,
  &.error-content {
    font-size: 12px;
    margin-top: 8px;
    line-height: 14px;
  }

  &.description-content {
    color: #969799;
  }
}
