.idea
node_modules/
dist/
static-project/
.vscode/
nohup.out
*.DS_Store
app/data/
app/output/
app/update_log.json
search.test.json

config/version_*.json

package-lock.json
localComponentsOutput/
usage/