.other-student-info {
  width: 100%;
  hr {
    margin: 16px 0;
    border-bottom: 0;
  }
  
  dl {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    dt {
      flex: 1;
      color: #969799;
    }

    dd {
      width: 150px;
      box-sizing: border-box;
      word-break: break-all;
    }
  }
}