.clue_add-dialog {
  margin-bottom: 0;
  .zent-form__control-group {
    margin-bottom: 16px;

    .zent-form__control-label {
      width: 90px;
    }

    .zent-input-wrapper {
      height: 34px;
    }

    .zent-checkbox-wrap {
      margin-right: 32px;
    }
  }

  .clue_btn-group {
    .zent-btn + .zent-btn {
      margin-left: 16px;
    }
  }
}
