.edu-enrollment-user {
  &-tip {
    color: #999;
    line-height: 30px;
    padding-left: 10px;
  }

  &-trigger {
    position: relative;
    display: flex;
    width: 380px;
    height: 32px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #dcdee0;
    border-radius: 2px;
    box-sizing: border-box;
    transition: all .2s;
    align-items: center;

    input {
      display: inline-block;
      flex: 1;
      height: 100%;
      min-width: 80px;
      padding: 0 10px;
      margin: 0;
      font-size: 14px;
      border: 0;
      outline: none;
      box-shadow: none;
      box-sizing: border-box;
    }

    .zenticon-close-circle-o {
      font-size: 12px;
      right: 0;
      cursor: pointer;
      padding: 8px;
      opacity: .4;
    }

    &-disabled {
      background-color: #f7f8fa;
      color: #c8c9cc !important;
    }
  }

  &-select {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    max-height: 360px;
    overflow-y: auto;
    width: 380px;
  }

  &-title {
    color: #969799;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
  }

  &-option {
    position: relative;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #edf4ff;
    }
    &-overlay {
      position: absolute;
      display: flex;
      // opacity: 0;
      width: 360px;
      >:nth-child(1) {
        width: 100px;
        padding-right: 20px;
      }
      >:nth-child(2) {
        width: 100px;
        padding-right: 20px;
      }
      >:nth-child(3) {
        width: 120px;
      }
    }
    .edu-enrollment-user-highlight {
      width: 100px;
    }
  }
}
