$gray: #ebedf0;

.overview-container {
  border-bottom: 16px solid #f7f8fa;
  padding: 20px 16px;

  &__header {
    display: flex;
    margin-bottom: 22px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: 28px;
      display: inline-block;
    }

    .date-input {
      display: inline-block;
      flex: 1;
      text-align: right;
    }
  }

  &__sum {
    display: flex;
    margin-bottom: 24px;
    border: 1px solid $gray;

    .statis-item {
      flex: 1;
      position: relative;

      &:not(:last-child)::after {
        content: '';
        border-left: 1px solid $gray;
        height: 56px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }

      &:first-child::after,
      &:nth-child(4n + 3)::after {
        height: 106px;
      }

      &:first-child::before {
        content: '';
        height: 12px;
        width: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-image: url("https://img.yzcdn.cn/public_files/d93996f320244b70a3d68c4b3bc3c279.png");
        background-size: 7px 12px;
        background-color: #fff;
        z-index: 1;
      }
    }
  }

  .chart-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    &__desc {
      font-size: 12px;
      color: #999;
      margin-left: 8px;
    }
  }
}
