.activity-data {
  &-top {
    margin-bottom: 16px;

    &-title {
      line-height: 24px;
      font-size: 16px;
      font-weight: 500;
    }

    &-status {
      margin-left: 8px;
      font-weight: 400;
    }

    &-time {
      margin-top: 8px;
      line-height: 20px;
      font-size: 14px;
      color: #646566;
    }
  }

  &-main {
    display: inline-flex;
    width: 748px;
    flex-flow: row wrap;

    &-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      height: 96px;
      min-width: 187px;
      margin-bottom: 16px;
      background: #f8f8f8;

      &-title {
        font-size: 14px;
        line-height: 20px;
      }

      &-count {
        margin-top: 5px;
        line-height: 28px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  &-bottom {
    line-height: 18px;
    font-size: 12px;
    color: #969799;
    text-align: right;
  }
}
