.certificate-editor {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 96px);
}

.certificate-editor {
  display: flex;
}

.certificate-preview {
  display: inline-block;
  width: 315px;
  height: 500px;

  img::before {
    display: none;
  }
}

.certificate-editor-preview {
  flex: none;
  padding-top: 24px;
  width: 360px;
  display: flex;
  justify-content: center;
  img {
    display: inline-block;
    width: 315px;
    height: 500px;
  }
}

.certificate-list-preview {
  .zent-dialog-r-body {
    text-align: center;
  }
  img {
    display: inline-block;
    width: 315px;
    height: 500px;
  }
}

.certificate-editor-icon {
  padding-left: 5px;
  color: #999;
}

.certificate-editor-title {
  background-color: #f8f8f8;
  height: 40px;
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
}

.certificate-editor-form {
  flex: auto;
  padding-top: 28px;
}

.certificate-editor-continue {
  text-align: center;
  height: calc(100vh - 108px);
  img {
    color: #4b0;
    width: 90px;
    height: 90px;
    margin-top: 150px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  h3 {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

.certificate-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-sizing: border-box;
  border: 2px dashed #ddd;
  font-size: 36px;
  color: #ddd;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  width: 80px;
  height: 80px;
}

.certificate-upload_a {
  visibility: inherit;
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 9px;
  &:hover {
    color: #fff;
    background: #333;
  }
}

.certificate-dialog-subtitle {
  color: #999;
  margin-top: 20px;
}

.certificate-list-icon-wrapper {
  cursor: pointer;
}

.certificate-list-icon {
  color: #999;
  padding-left: 5px;
}

.certificates-alert {
  margin-bottom: 20px;
}

.zent-table-container {
  min-width: 500px;
}

.certificate-filter-table-container {

  tbody td:last-child {
    text-align: right;
  }
}

.zent-grid-th:last-child {
  text-align: right;
  padding-right: 28px;
}