.audio-uploader-preview {
  position: relative;

  &__deleteIcon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, .5);
    background-image: url(https://img.yzcdn.cn/upload_files/2020/12/30/FkKZHgAv0mBEctE9O3EXWmngnSE5.png);
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
