// 基本信息
.exam-basis-wrap {
  min-width: 855px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

  &__preview-wrap {
    width: 320px;
    min-width: 320px;
    height: 569px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(222, 222, 222, 1);
    margin-left: 4px;

    .preview-wrap {
      &__header {
        width: 320px;
        height: 54px;
        background-image: url('//b.yzcdn.cn/public_files/2018/09/20/09af77bef0e47244a92ad41e10cdf557.png');
        background-repeat: no-repeat;
        background-size: 320px;
        padding-top: 25px;
        text-align: center;
        box-sizing: border-box;
      }

      &__title {
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
      }
    }
  }

  &__container {
    height: 514px;
    overflow-y: auto;
  }

  .rc-design-vue-preview {
    overflow-y: auto;
  }
  .campus-select-table {
    min-width: 400px;
    width: 100%;
  }

  .exam-basis-wrap__form .zent-form__control-group {
    min-width: 605px;
  }
}
