.select-time-reserve {
  display: inline-block;

  &__select {
    position: relative;
    width: 98px;
    height: 30px;
    padding: 0 10px;
    margin-left: 10px;
    line-height: 28px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    color: #333333;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;

    &::after {
      background: url(https://b.yzcdn.cn/fix-base64/64a4281a4d02f7144d60433d49082fb09dfe6531515747bf605c03429f01c0cd.png) no-repeat;
      background-size: 6px 5px;
      content: '';
      height: 5px;
      margin-top: -3px;
      position: absolute;
      right: 10px;
      top: 50%;
      transition: transform 0.25s;
      width: 6px;
    }
  }

  &__select-placeholder {
    color: #999999;
  }

  &__section {
    width: 480px;
    height: 278px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 4px #e5e5e5;
    background-color: #fff;
  }

  &__content {
    height: 220px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }

  &__item {
    width: 34px;
    padding: 4px 2px;
    margin: 4px 10px;
    line-height: 22px;
    font-size: 14px;
    color: #333333;
    border-bottom: 2px solid #fff;
    text-align: center;
    cursor: pointer;
  }

  &__item-select {
    border-color: #1989fa;
  }

  &__item-disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &__actions {
    margin-top: 12px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
  }
}

.zent-popover {
  z-index: 1050;
}

.select-input {
  position: relative;

  .zent-input[readonly] {
    border: 1px solid #bbb;
    background-color: #fff;
    cursor: pointer;
    color: #333;
  }

  .zenticon {
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    color: #bbb;
  }
}

.has-error .remove-addon-bgc input[readonly] {
  border: 1px solid #f44;
  color: #f44;
}
