
.dropdown-input-list {
  margin-bottom: 0;
  display: inline-flex;
  .dropdown-left-input{
    flex: 1;
    width: 80px;
    & .zent-input {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  .dropdown-right-list {
      width: 55px !important;
      & .zent-select-text {
        background-color: rgba(242, 242, 242, 1);
        border-left-width: 0px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
      }
  }
}

.dropdown-right-list-popup {
  width: 40px;
}

.dropdown-input-bottom-explain {
  padding-top: 5px;
  color: gray;
}

