.application-counts {
  display: inline-block;
  height: 14px;
  vertical-align: top;
  text-align: center;
  margin-left: 5px;
  line-height: 14px;
  min-width: 14px;
  padding: 0 5px;
  border-radius: 7px;
  font-size: 10px;
  color: #fff;
  background: #f44;

  &-single {
    padding: 0;
  }
}
