{% extends '../../common/base.html' %}

{% block page_title %} 缴费凭证 {% endblock %}

{% block app_nav %}
  <div class="zent-breadcrumb js-page-breadcrumb" id='js-page-breadcrumb'>
    <span>打印凭证</span>
  </div>
{% endblock %}

{% block page_style %}
  {{ loadCss('version_css.recruit/enrollment-certificate', 'all') | safe }}
{% endblock %}

{% block app_content %}
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {{ loadJs('version_js.recruit/enrollment-certificate') | safe }}
{% endblock %}
