@import 'vars/_colors.scss';

.coupon-selector {
  display: flex;
  flex-direction: column;

  .zent-grid {
    margin-top: 16px;
    width: inherit;
  }

  .description {
    font-size: 14px;
    color: $grayColor;
  }
}

.coupon-selector__container__refresh {
  vertical-align: middle;
}
