@import 'vars/colors';

.result-container {
  display: flex;
  max-height: 850px;

  &-aside {
    flex: 0 0 175px;
    border-right: 1px $theme-stroke-8 solid;
  }

  &-main {
    flex: 1;
    min-width: 600px;
    margin-left: 16px;
    overflow-y: auto;

    .question-field {
      min-height: 500px;
    }
  }

  &-main::-webkit-scrollbar {
    display: none;
  }
}