@font-face {
  font-family: "{{ fontName }}";
  src: url('{{ fontPath }}{{ fontName }}.eot'); /* IE9 */
  src:
    url('{{ fontPath }}{{ fontName }}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('{{ fontPath }}{{ fontName }}.woff2') format('woff2'),
    url('{{ fontPath }}{{ fontName }}.woff') format('woff'),
    url('{{ fontPath }}{{ fontName }}.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('{{ fontPath }}{{ fontName }}.svg#{{ fontName }}') format('svg'); /* iOS 4.1- */
}

[class^="{{ className }}-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "{{ fontName }}" !important;
  display: block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

{% for glyph in glyphs %}
.{{ className }}-{{ glyph.name }}::before {
  content: "\{{ glyph.unicode[0].charCodeAt(0).toString(16) }}";
}
{% endfor %}

{# .{{ className }}-lg {
  vertical-align: -15%;
  line-height: 0.75em;
  font-size: 1.33333333em;
}

.{{ className }}-2x {
  font-size: 2em;
}

.{{ className }}-3x {
  font-size: 3em;
}

.{{ className }}-4x {
  font-size: 4em;
}

.{{ className }}-5x {
  font-size: 5em;
}

.{{ className }}-fw {
  width: 1.28571429em;
  text-align: center;
} #}
