.common-field-style {
  background: #F7F8FA;
  display: flex;
  border-radius: 2px;
  text-align: center;
  flex: 1;
  height: 36px;
  align-items: center;
  line-height: 36px;
}

.search-wrapper {
  width: 100%;
  height: 54px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .van-field__control {
    user-select: text;
    -webkit-user-select: text;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
  }

  .cancel-btn {
    display: block;
    margin-left: 16px;
  }

  .overlay-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__container {
    position: relative;
    z-index: 1001;
    padding: 8px 16px;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    .search-field-overlay {
      @extend .common-field-style;
      justify-content: center;
      position: absolute;
      z-index: 1;
      width: calc(100% - 32px);
      &__placeholder {
        opacity: 0.89;
        font-size: 14px;
        color: #C8C9CC;
        margin-left: 6px;
      }
      .left-search {
        color: #7D7E80;
      }
    }
    .search-field {
      @extend .common-field-style;
    }
    .cancel-btn {
      font-size: 16px;
      color: #323233;
      width: 40px;
    }
  }

  .search-wrapper__list {
    position: absolute;
    width: 100%;
    top: 52px;
    background: #fff;
    z-index: 1001;
    left: 0;
    height: calc(100vh - 52px);
    overflow-y: scroll;
    &-loading {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;
      line-height: 50px;
    }
    &-item {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #323233;
      line-height: 20px;
      height: 64px;
      border-bottom: 1px solid #ebedf0;
      &:first-child {
        border-top: 1px solid #ebedf0;
      }
      &-center {
        justify-content: center;
      }
    }
  }
}
