.punch-diary {
  display: flex;
  width: 100%;

  &__task {
    flex: 0 0 200px;
    width: 200px;
    height: 692px;
    border: 1px solid #e4e4e4;

    &__title {
      box-sizing: border-box;
      padding: 10px 20px;
      width: 100%;
      border-bottom: 1px solid #e4e4e4;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
    }

    &__list {
      min-height: 600px;
      border-bottom: 1px solid #e4e4e4;

      &__item {
        box-sizing: border-box;
        padding-top: 13px;
        padding-left: 20px;
        height: 60px;
        cursor: pointer;

        &.active {
          background-color: #F7F8FA;
        }

        &.gray {
          h4 {
            color: #969799;
          }
        }

        h4 {
          display: inline-block;
          color: #333333;
          font-weight: bold;
          font-size: 14px;
        }

        .setting {
          float: right;
          margin-right: 10px;
          color: #155bd4;
        }

        .sub {
          color: #999999;
          font-weight: 400;

          .zent-tag {
            margin-left: 5px;
          }
        }
      }
    }

    &__bottom {
      overflow: hidden;
      padding-top: 8px;
      height: 40px;
    }
  }

  .zent-loading-container {
    width: 100%;
  }

  &__comments {
    margin-top: 10px;
    padding-left: 30px;
    min-height: 620px;
    width: calc(100% - 50px);

    &__head {
      font-size: 14px;
      line-height: 20px;

      h4 {
        display: inline-block;
        font-weight: bold;
      }

      .date {
        display: inline-block;
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid #999999;
        color: #969799;
        font-weight: 400;
        line-height: 15px;
      }

      .right {
        float: right;
        color: #333333;
      }
    }

    &__list {
      margin-top: 8px;

      &__item {
        position: relative;
        margin-bottom: 20px;
        padding-top: 25px;
        padding-left: 56px;
        border-top: 1px solid #ebebeb;

        .item-head {
          line-height: 20px;

          &__avatar {
            position: absolute;
            left: 2px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
          }

          &__content {
            line-height: 20px;

            .nickname {
              color: #333333;
              font-size: 14px;
            }

            .zent-tag {
              margin-left: 10px;
            }

            .operate {
              float: right;
            }

            .comment-link {
              display: inline-block;
              vertical-align: middle;
              line-height: 20px;
            }

            .desc {
              margin-top: 5px;
              color: #999999;
              line-height: 17px;

              span {
                margin-right: 10px;
              }
            }
          }
        }

        .item-content {
          margin-top: 15px;
          line-height: 17px;

          &__audio {
            .pct-audio-play {
              margin-top: 10px;
            }
          }

          &__images {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            width: 210px;

            &__item {
              margin: 0 10px 10px 0;
              width: 60px;
              height: 60px;
              border-radius: 2px;
              background-position: center center;
              background-size: cover;
            }
          }
        }
      }
    }

    .no-log {
      margin-top: 50px;
      width: 100%;
      text-align: center;
    }
  }

  .teacher-comments {
    &__list {
      margin-bottom: 10px;

      &__item {
        margin-bottom: 10px;
        border-top: 1px solid #e4e4e4;

        .item-head {
          margin-top: 20px;
          line-height: 17px;

          &__title {
            display: inline-block;
            margin-right: 10px;
            font-weight: bold;
          }

          &__date {
            color: #999999;
          }

          .operate {
            float: right;
          }
        }

        .item-content {
          &__text {
            word-break: break-all;
          }
        }
      }
    }
  }
}
