.award-manage__row {
  &:hover {
    background-color: #fff !important;
  }
  .zent-grid-td {
    padding: 0 12px!important;
  }
}

.icon-style {
  position: absolute;
  line-height: 56px;
  left: 0;
}

.points-reward {
  padding: 0px;
  &__edit {
    display: inline-block;
    vertical-align: middle;
    height: 56px;
    position: relative;
    margin-left: 8px;
    .icon-edit {
      @extend .icon-style;
      display: none;
      z-index: 2;
    }
    .edit-replace {
      @extend .icon-style;
    }
  }

  &:hover {
    .points-reward__edit {
      .icon-edit {
        display: inline-block;
      }
    }
  }
}

.reward-lead-close__btn {
  color: #D8D8D8;
  margin-left: 8px;
  cursor: pointer;
}