.ticket-print-config-wrapper {
  .content {
    color: #323233;
    font-size: 14px;
    display: flex;
    background-color: transparent;

    p {
      align-items: stretch;
      line-height: normal;
    }
  }
}

.ticket-print-config-core {
  .tip,
  .zent-link {
    font-size: 12px;
  }

  .tip {
    color: #969799;

    a {
      line-height: normal;
    }
  }

  .zent-checkbox-wrap {
    margin-bottom: 12px;
  }

  .select-group {
    margin-left: 22px;
  }

  .select-item {
    padding: 12px 0;

    .zent-select {
      margin: 0 10px;
    }
  }
}

.local-delivery-form__autoprint {
  .ticket-print-config-core .zent-checkbox-wrap {
    margin-top: 4px;
  }
}
