@keyframes fadeIn
{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.edu-enrollment {
  &-tab-btn {
    width: 130px;
    height: 48px!important;
    font-size: 16px!important;
    line-height: 48px!important;
  }

  &-price-wrapper {
    &::before {
      display: inline-block;
      content: '￥';
      position: relative;
      transform: translateY(4%);
    }
  }

  &-payment {
    width: 848px;
    min-height: 640px;
  
    &-price {
      margin-top: 40px;
      font-size: 18px;
      line-height: 36px;
  
      span {
        font-size: 30px;
        color: #f44;
        vertical-align: baseline;
      }
    }
  
    &-calc {
      width: 240px;
      margin: auto;
      margin-top: 40px;
  
      &-change {
        margin-top: 10px;
        line-height: 24px;
        vertical-align: baseline;
        text-align: right;
  
        :first-child {
          color: #969799;
          font-size: 16px;
        }
  
        :last-child {
          color: #F44;
          font-size: 20px;
        }
      }
  
      .zent-input-wrapper {
        position: relative;
        width: 100%;
        height: 48px !important;
        max-height: 48px !important;
        line-height: 48px !important;
  
        &::before {
          display: inline-block;
          content: '实收金额';
          position: absolute;
          font-size: 14px;
          line-height: 20px;
          left: 16px;
          top: 14px;
        }
      }
      .zent-input {
        font-size: 20px;
        padding: 14px 16px;
        text-align: right;
      }
    }
    &-body {
      text-align: center;
    }
    &-btn {
      width: 240px !important;
      height: 48px !important;
      font-size: 18px !important;
  
      &-cash {
        margin-top: 24px;
      }
      &:nth-child(2) {
        margin-left: 24px;
      }
  
      img {
        width: 20px;
        margin-right: 16px;
        vertical-align: middle;
      }
    }
    &-scan {
      width: 160px;
      height: 160px;
      margin-top: 32px;
      &-tips {
        margin: 50px 0;
        font-size: 18px;
        line-height: 25px;
      }
    }
    &-qrcode {
      animation: fadeIn 0.25s;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(200, 201, 204, 0.5);
      display: inline-block;
      margin-top: 16px;
      padding: 30px;
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      &::after {
        border-top: solid 8px #fff;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent;
        bottom: -8px;
        content: '';
        display: inline-block;
        left: 250px;
        position: absolute;
      }
    }
    &-card {
      align-items: center;
      background: #fff;
      border: solid 1px transparent;
      border-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
      cursor: pointer;
      display: flex;
      flex: none;
      font-size: 16px;
      margin: 12px;
      padding: 28px 24px;
      position: relative;
      text-align: left;
      transition: all 0.25s;
      &:last-of-type {
        margin-right: 0;
      }
      &-title {
        color: #333;
        font-weight: bold;
        font-size: 18px;
        margin-top: 35px;
      }
      &-content {
        width: 130px;
      }
      &-tip {
        display: flex;
        color: #999;
        width: 520px;
        margin: 5px auto 50px auto;
        text-align: left;
        &::before {
          display: block;
          content: '注：';
        }
      }
      &-active {
        border: solid 1px #1989fa;
        &::after {
          animation: fadeIn 0.25s;
          background-image: url(//img.yzcdn.cn/publicPath/2019/07/02/selected-card.png);
          background-position: center;
          background-repeat: none;
          background-size: cover;
          content: '';
          display: block;
          height: 40px;
          position: absolute;
          right: 0;
          top: 0;
          width: 40px;
        }
      }
      &-icon {
        height: 24px;
        margin-right: 24px;
        width: 24px;
      }
      &-type {
        font-weight: bold;
        height: 24px;
        margin-bottom: 6px;
      }
      &-subtype {
        color: #969799;
        height: 24px;
      }
      &-box {
        width: 100%;
        max-height: 450px;
        text-align: center;
      }
      &-group {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
      }
    }
  }
}
