.pop-status {
  &__item {
    width: 88px;
    height: 28px;
    padding: 0 12px;
    box-sizing: border-box;
    line-height: 28px;
    color: #333333;
    cursor: pointer;

    &:hover {
      background-color: #f8f8f8;
    }
  }

  &__icon {
    display: inline-block;
    margin-left: 10px;
    color: #666666;
    transform: scale(0.6, 0.6);
  }
}
