:local(.infoTip) {
  box-sizing: border-box;
  width: 100%;
  background: #f2f3f5;
  margin-top: 16px;
  padding: 10px 8px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  .infoLeft {
    color: #646566;
  }
  .infoRight {
    .infoAddLink {
      margin-right: 8px;
    }
  }
}
