@import 'shared/sass/mixins/ellipsis';

.course-container {
  border-bottom: 16px solid #f7f8fa;
  padding: 20px 16px;

  &__header {
    display: flex;
    margin-bottom: 24px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      line-height: 28px;
      display: inline-block;
    }

    &-right {
      display: inline-block;
      flex: 1;
      text-align: right;
    }

    .export-link {
      margin-left: 16px;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .zent-tabs {
    margin-bottom: 24px;
  }

  .zent-block-header__title {

    h3 {
      font-weight: bold;
    }

    &::before {
      content: none;
    }
  }

  &__content {
    display: flex;

    &-chart {
      flex: 1;
      width: 50%;
      margin-right: 24px;
      position: relative;
    }

    &-table {
      flex: 1;
      width: 50%;
    }

    .piechart-title {
      position: absolute;
      top: 140px;
      left: 50%;
      display: inline-block;
      transform: translateX(-50%);
      font-size: 12px;
      text-align: center;
      width: 100px;
      height: 40px;
      line-height: 20px;
      color: #7d7e80;

      &__sum {
        font-size: 14px;
        color: #323233;
      }
    }
  }

  .rank-title-container {
    position: relative;
    text-align: left;

    .change-trend {
      display: inline-block;
      width: 8px;
      height: 14px;
      margin-right: 6px;
    }
  }

  .title-container {
    @include text-ellipsis(2);
    padding-right: 20px;
  }

  .chart-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    &__desc {
      font-size: 12px;
      color: #999;
      margin-left: 8px;
    }
  }
}
