.rc-design-component-edu-regis-form-editor {
  .first-group{
    margin-top: 12px;
  }

  .field-wrap{
    margin-bottom: 14px;

    &.hint {
      font-size: 13px;
      padding: 0 16px;
      color: #969799;

      a {
        cursor: pointer;
        color: #327ffb;
        margin-left: 16px;
      }
    }
  }

  &__list {
    .deco-editor-card {
      width: 100%;
      .deco-control-group__header {
        width: 70px;
        display: flex;
        justify-content: flex-end;
        .deco-control-group__label {
          margin-right: 10px;
        }
      }
      .deco-control-group__content {
        justify-content: flex-start;
        font-size: 12px;
      }
      .zent-input-wrapper {
        flex: 1;
      }
    }

    .edu-regis-form {
      &__field--canDel + .deco-editor-card-item-delete {
        display: none !important;
      }
      &__hd {
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        font-size: 14px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        border-bottom: 1px solid #dcdee0;
      }
      &__icon {
        &-drag {
          flex: 0 0 auto;
          margin-right: 8px;
          background-position: center;
          background-size: cover;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          background-image: url(https://img.yzcdn.cn/public_files/2019/02/11/6c383209a91d0cba0c46b906f3d027d2.png);
        }
      }
      &__bd {
        padding: 10px 0px;
        .deco-control-group{
          padding: 8px 16px;
        }
      }
      &__captcha{
        position: relative;
        padding-bottom: 48px !important;
      }
      &__captchaTip{
        position: absolute;
        left: 86px;
        top: 38px;
        line-height: 20px;
        color: #7D7E80;
        a{
          color: #155bd4;
        }
      }
    }
  }
}

// 自定义链接表单项
.custom-url {

  &__pop-content {
    width: 300px;
    height: 534px;

    img {
      width: 300px;
      height: 534px;
    }
  }

  &__url-chooser {
    margin: 0 17px 0 15px;
    padding: 12px;
    background: #F7F8FA;

    &__container {
      display: flex;
      justify-content: space-between;
      padding: 10px 12px;
      background: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(10,42,97,0.10);
      border-radius: 2px;
    }
  }

  &__type-chooser {
    padding-top: 4px;

    .zenticon-help-circle {
      color: #c8c9cc;
    }
  }
}
