:local(.control) {
  margin-bottom: 16px;
  border-bottom: 1px solid #ebedf0;
  .header {
    font-size: 16px;
    color: #323233;
    line-height: 24px;
    font-weight: 700;
  }
  .line {
    margin: 16px 0;
    display: flex;
    align-items: center;
    .right {
      display: flex;
      align-items: center;
      :global(.zent-number-input) {
        width: 80px;
        margin:0 8px;
        input {
          min-width: 40px;
        }
      }
      :global(.zent-select) {
        width: 96px;
        margin:0 8px;
      }
    }
  }
  .sum {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #323233;
    line-height: 20px;
    span {
      color: #155BD4;
    }
  }
}

:local(.popup) {
  width: 110px !important;
}