/* 适配iphonex */
.fit-iphonex .moments-feeds__add {
  bottom: 54px !important;
  bottom: calc(20px + constant(safe-area-inset-bottom)) !important;
  bottom: calc(20px + env(safe-area-inset-bottom)) !important;
}

.fit-iphonex .video-control {
  padding-bottom: constant(safe-area-inset-bottom) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}
