.pct-freebie-list {
  margin-top: 15px;
}

.pct-freebie-list-operations {
  > * {
    &::after {
      display: inline;
      color: #dcdee0;
      content: ' | ';
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
