.addgroup-form, .modifygroup-form {
  .zent-form__control-label {
    width: 160px !important;
  }
}

.edu-clue-tags-dialog-small {
  .zent-form__control-label {
    width: 90px !important;
  }
}

.zent-dialog-r {
  min-width: 480px !important;

  &-footer {
    padding: 16px 0 0;
    text-align: right;
  }
}
