.homework-list {
  [class*=van-hairline]::after {
    display: none;
  }

  .van-tabs__line {
    width: 40px !important;
  }

  .van-tag {
    height: 12px;
    padding-right: 7px;
    padding-left: 7px;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 500;
  }

  .homework-group {
    &__date {
      padding-left: 12px;
      margin-top: 24px;
      font-size: 14px;
      line-height: 24px;
      color: #646566;
    }
  }

  &__show-overtime {
    margin: 24px 0;
    font-size: 14px;
    line-height: 20px;
    color: #969799;
    text-align: center;

    .van-icon {
      vertical-align: middle;
    }
  }

  .empty {
    margin-top: 240px;
  }

  .van-tab__pane {
    .empty {
      margin-top: 120px;
    }
  }
}

.container {
  background-image: none !important;
}
