@import "vars/_colors";

// reset color of a
.edu-enrollment, .edu-enrollment-user-select, .edu-enrollment-courses-dialog {
  a {
    color: #155BD4;
  }
}

.edu-enrollment {
  .zent-select-text .zent-select-placeholder {
    color: $normalColor;
  }

  .zent-form__control-label {
    width: 120px;
  }

  &-affix {
    margin-bottom: 16px;
  }
  
  &-other-seller {
    .zent-select-popup {
      max-height: 160px;
    }
  }

  &-tab-btn {
    width: 130px;
    height: 48px !important;
    font-size: 16px !important;
    line-height: 48px !important;

    &-group {
      margin-top: 20px;
    }
  }

  &-sku-select {
    text-align: right;
    &-grey {
      color: #c8c9cc;
    }
    &-list {
      max-height: 240px;
      overflow-y: auto;
    }
    &-pop {
      .zent-table .thead .tr {
        background: #fff;
      }
      .zent-pop-inner {
        padding: 5px 15px 15px;
      }
    }
  }

  &-courses {
    .zent-form__control-label {
      display: none;
    }

    .zent-form__controls {
      display: block;
      margin-left: 0;
    }

    &-list {
      margin-top: 30px;
      .zent-input {
        min-width: 60px !important;
      }

      .real-price {
        .zent-input {
          text-align: right;
        }
      }
    }

    &-select {
      margin-top: 16px;
      text-align: right;
    }

    &-add {
      display: flex;
      align-items: center;
      a {
        color: $blueColor;
        font-size: 14px;
        margin-left: 10px;
      }
    }

    &-dialog {
      min-width: 842px!important;
      .zent-select {
        width: 140px !important;
      }
      .zent-select-placeholder {
        color: #333;
      }
    }

    &-price {
      color: $normalColor;
    }

    &-title {
      display: block;
      line-height: 1;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }

      .zent-tag {
        margin-top: 4px;
      }
    }
  }

  &-sku-wrapper {
    .zenticon {
      color: #a4a4a4;
      margin-left: 6px;
      cursor: pointer;
      visibility: hidden;
    }
  }

  &-price-wrapper {
    &::before {
      display: inline-block;
      content: '￥';
      position: relative;
      transform: translateY(4%);
    }
  }

  &-pop-content {
    cursor: pointer;
    .zent-pop-wrapper {
      color: #979797;
      padding-left: 4px;
    }
  }

  .new-title {
    margin-top: 0;
    margin-left: 10px;
  }

  .zent-form__control-group.has-error {
    .zent-input-wrapper {
      color: $redColor;
    }

    .zent-form__error-desc {
      color: $redColor;
    }
  }
}

.tr:hover .edu-enrollment-sku-wrapper .zenticon {
  visibility: visible;
}

.app-inner {
  min-height: calc(100vh - 155px) !important;
}

[class^='infoTip'] {
  margin: -16px 0 30px 120px;
  background-color: #fff;
  justify-content: flex-start;
}
.cursor-link {
  cursor: pointer;
}
