.certificate-timing-input {
  margin: 0 5px;
}

.certificate-timing-desc {
  color: #999;
}

.certificate-timing-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: 30px;
}
