.rc-design-component-store-editor {
    .zent-design-editor__control-group-label {
        width: 40px;
    }
    .zent-design-editor__control-group-error {
        margin-left: 50px;
    }
    .zent-design-editor__control-group-control {
        .zent-input-wrapper {
            width: 200px;
        }
    }
}
