{% extends '../../common/base.html' %}

{% block page_title %} 线索标签 {% endblock %}

{% block app_nav %}
<div class="zent-breadcrumb js-page-breadcrumb" id="js-page-breadcrumb">

  {% if isYZEdu %}

  <span class="project" data-href="{{ URL.site('/vis/edu/page/clue/cluetags', 'v4') }}">线索标签</span>

  {% elif isWSC %}

    <a href="{{ URL.site('/ump/appcenter/channel', 'v4') }}">销售渠道</a>
    <span class="project">线索标签</span>

  {% else %}

    <span class="project" data-href="{{ URL.site('/vis/edu/page/clue/cluetags', 'v4') }}">线索标签</span>

  {% endif %}

  <!-- <span class="third"></span> -->
</div>
{% endblock %}

{% block page_style %}
  {{ loadCss('version_css.recruit/cluetags') | safe }}
{% endblock %}

{% block app_content %}
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {% include "../../common/config.html" %}
  {% include "../../common/ueditor.html" %}
  {{ loadJs('version_js.recruit/cluetags') | safe }}
{% endblock %}
