.vip-card-field {
  line-height: 30px;

  .help-inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;

    span {
      color: #999;
    }

    a {
      color: #155bd4;
    }
  }
}
