@import 'vars/colors';

.educlass-homework {
  padding: 16px;
  
  .homework-list {
    .zent-form-horizontal.easy-filter {
      background-color: #fff !important;
      padding: 0;
      margin: 0;

      .zent-form-control.easy-filter__zent-control {
        margin-bottom: 16px;
      }
    }

    .easy-grid-container {
      .zent-grid-empty {
        padding-top: 0;
      }
    }

    span.disabled {
      color: #bbb;
      cursor: not-allowed;
    }
  }

  .operations-container {
    .operation {
      color: $blueColor;
      cursor: pointer;

      &.disabled {
        color: #969799;
        cursor: not-allowed;
      }
    }
  }
}
