.mp-follow-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 12px;
  background-color: #fff;
  border-radius: 8px;

  &__left {
    font-size: 14px;
    line-height: 18px;
    color: #323233;
    box-sizing: border-box;

    .mp-follow-card__desc {
      max-width: 200px;
    }
  }

  &__right {
    display: flex;
    box-sizing: border-box;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &__button {
    position: relative;
    display: block;
    width: 84px;
    height: 28px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 28px;
    color: #fff;

    .van-button__text {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: fit-content;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.vis-standard-popup__content {
  min-height: auto !important;
}
