@import 'vars/colors';

.rc-design-component-unicashier-editor {
  font-size: 14px;

  .unicashier-editor-content{
    padding: 24px 16px 0;
  }

  .refresh-btn {
    padding: 0 10px;
    color: $theme-primary-2;
    border-right: 1px solid #ccc;
    cursor: pointer;
  }

  .change-activity-btn {
    padding-left: 10px;
  }

  .notice-msg {
    color: #999;
    margin-top: 10px;
    padding-left: 16px;
  }
}
