.content-form {
  padding: 0 10px 40px 60px;

  & > textarea {
    display: none;
  }

  .zent-form__control-label {
    width: 90px;
    margin-right: 6px;
  }

  .split-title {
    .help-icon {
      color: #bbb;
      margin-left: 5px;
    }
  }

  & > .desc {
    margin-bottom: 20px;
    margin-left: 65px;
  }

  .size-110 {
    width: 110px;
  }

  .publish-type-group {
    position: relative;

    .zent-radio-wrap {
      line-height: 30px;
      display: block;
    }

    .zent-datetime-picker {
      position: absolute;
      left: 160px;
      top: 50%;
      margin-top: -15px;
    }
  }

  .checkbox-desc {
    margin-left: 18px;
  }

  .school-tip {
    font-size: 12px;
    color: #999;
    vertical-align: middle;
  }

  .upload-cover-wrapper .upload-text-trigger span::after {
    color: #155bd4;
  }
}
