:local(.select-channel) {
  width: 670px;

  .create-wrap {
    margin-bottom: 16px;
  }

  .list-wrap {
    display: block;
    margin-bottom: 16px;
  }

  .submit-wrap {
    text-align: right;
  }

  .column-name {
    padding-left: 24px;
  }
}
