.workbook-choose-block {
  .van-cell:not(:last-child)::after {
    display: none;
  }

  .van-cell__title {
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .van-list {
    .workbook-grid {
      display: flex;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;

      p {
        display: inline-block;
        width: 120px;
        margin-left: -10px;
        text-align: center;
        word-break: break-all;
      }

      & > div {
        display: flex;
        width: 120px;
        padding-right: calc(25% - 60px);
        padding-left: calc(25% - 60px);
        margin-top: 32px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;

        .workbook-cover {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}
