.deco-radio-button-group {
  display: flex;
  flex-wrap: wrap;

  &--block {
    width: 100%;

    .deco-radio-button {
      flex: 1;

      .zent-btn {
        width: 100%;
      }
    }
  }

  &--rect {
    .deco-radio-button {
      &:hover {
        z-index: 2;
      }
    }
  }

  &--round {
    .deco-radio-button {
      & + .deco-radio-button {
        margin-left: 8px;
      }

      .zent-btn {
        width: 24px;
        height: 24px;
        padding: 3px;
        border-radius: 50%;
        line-height: 14px;
      }
    }
  }
}
