.deco-radio-button {
  position: relative;
  display: inline-block;

  .zent-btn {
    width: 100%;
    padding: 0 14px;
    border-radius: 0;
    border-color: #ebedf0;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      border-color: #155bd4;

      [class^="deco-icon-"] {
        color: #155bd4;
      }
    }
  }

  [class^="deco-icon-"] {
    font-size: 20px;
    color: #979797;
  }

  &__pop {
    pointer-events: none;

    .zent-pop-inner {
      padding: 10px;
    }
  }

  &--top-left {
    .zent-btn {
      border-top-left-radius: 2px;
    }
  }

  &--top-right {
    .zent-btn {
      border-top-right-radius: 2px;
    }
  }

  &--bottom-left {
    .zent-btn {
      border-bottom-left-radius: 2px;
    }
  }

  &--bottom-right {
    .zent-btn {
      border-bottom-right-radius: 2px;
    }
  }

  &--active {
    z-index: 3;

    .zent-btn {
      border-color: #155bd4;
      background-color: #e0edff;
    }

    [class^="deco-icon-"] {
      color: #155bd4;
    }
  }
}
