@import 'mixins/ellipsis';

.panel__schedule__detail {
  width: 100%;
  height: 100%;

  &-pop {
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 16px;

    &__content {
      position: relative;
      z-index: 10;
      overflow: hidden;
      box-sizing: border-box;
      padding: 18px 15px 10px;
      width: 253px;
      height: auto;
      border-radius: 2px;
      background-color: #F7F8FA;
      color: #666666;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #3dc16b;
        content: '';
      }

      &.conflict {
        &::before {
          background-color: #ff4444;
        }
      }

      &.deprecated {
        &::before {
          background-color: #C8C9CC;
        }
      }

      & > header {
        position: relative;

        .status {
          position: absolute;
          top: 1px;
          right: 0;
          color: #333333;
          text-align: right;
          letter-spacing: 0;
          font-size: 12px;
          line-height: 16px;
        }

        .title {
          margin-bottom: 5px;
          width: 150px;
          color: #333333;
          word-break: keep-all;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;

          @include ellipsis;
        }

        .subtitle {
          margin-bottom: 5px;
          color: #323233;
        }

        .zent-tag {
          margin-right: 5px;
        }
      }

      & > section {
        margin: 14px 0 14px 0;
        padding: 15px 0 0 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        & > ul {
          display: flex;
          flex-direction: column;
          word-break: keep-all;

          & > li {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            width: 100%;

            & > label {
              display: inline-block;
              min-width: 48px;
              width: 48px;
              text-align: justify;
              text-align-last: justify;
              text-justify: inter-ideograph;
            }

            & > span {
              display: inline-block;
              overflow: hidden;
              width: calc(100% - 48px);
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: keep-all;
            }
          }
        }
      }

      & > footer {
        text-align: right;
        display: flex;
        justify-content: space-between;
        a {
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

.panel__schedule__detail-pop__wrap {
  .zent-pop {
    &-inner {
      background-color: #F7F8FA !important;
      padding: 0 !important;
      box-shadow: 0 3px 8px rgba(225, 227, 230, 1) !important;
    }
  }
}

.trial-schedule__tag {
  margin-top: 3px;
  height: 16px;
  line-height: 16px;
}
