{% from "./base.html" import punchInfoBlock %}

<style>
.punch-long {
  width: 325px;
  height: 490px;
  background: #fff;
}

.punch-long__header {
  padding-top: 15px;
  text-align: center;
}

.punch-long__body {
  height: 322px;
  margin: 14px 20px 0;
  overflow: hidden;
  background: url(https://b.yzcdn.cn/public_files/28d01ca7df49a6315b152e39738711dc.png!large.png) no-repeat;
  background-size: 285px 322px;
  background-origin: border-box;
  border: 15px solid transparent;
  border-width: 15px 0;
  box-sizing: border-box;
}

.punch-long__footer {
  height: 90px;
  overflow: hidden;
}

/* header */
.text--a {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.task-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #333;
}

/* body */

/* userInfo */
.user-info {
  display: flex;
  max-height: 280px;
  padding: 0 15px;
  width: 375px;
  height: 100%;
  transform: scale(.7);
  transform-origin: left top;
}

.user-info aside {
  flex: 0 0 auto;
}

.user-info main {
  flex: 1 1 auto;
  margin-left: 8px;
}

.user-info__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.user-info__name {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.user-info__punch-times {
  font-size: 11px;
  line-height: 16px;
  color: #979797;
}

.user-info__punch-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #4a4a4a;
  text-align: justify;
}

.user-info__punch-text pre {
  white-space: pre-wrap;
}

.user-info__punch-text.text--ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.user-info__punch-audios img {
  display: block;
  width: 180px;
  height: 36px;
  margin-top: 10px;
}

.user-info__punch-images {
  width: calc(100% + 10px);
  line-height: 0;
}

.user-info__punch-images img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 10px 0 0;
  border-radius: 6px;
}
</style>

<div class="punch-long">
  <div class="punch-long__header">
    <div class="text--a">今日任务</div>
    <div class="task-title">
      {{ punchInfo.taskName }}
    </div>
  </div>
  <div class="punch-long__body">
    <div class="user-info">
      <aside>
        <img src="{{ userInfo.avatar }}" class="user-info__avatar">
      </aside>
      <main>
        <div class="user-info__name">
          {{ userInfo.name }}
        </div>
        <div class="user-info__punch-times">
          已打卡{{ userInfo.punchDays }}次
        </div>
        {% if showText %}
          {% if textEllipsis %}
            <div class="user-info__punch-text text--ellipsis">
              <pre>{{ userInfo.punchText }}</pre>
            </div>
          {% else %}
            <div class="user-info__punch-text">
              <pre>{{ userInfo.punchText }}</pre>
            </div>
          {% endif %}
        {% endif %}
        {% if showAudios %}
          <div class="user-info__punch-audios">
            {% for audio in userInfo.punchAudios %}
              <img src="https://b.yzcdn.cn/public_files/ee88f48caf76dd8828a066b4cf9d9810.png">
            {% endfor %}
          </div>
        {% endif %}
        {% if showImages %}
          <div class="user-info__punch-images">
            {% for image in userInfo.punchImages %}
              <img src="{{ image }}">
            {% endfor %}
          </div>
        {% endif %}
      </main>
    </div>
  </div>
  <div class="punch-long__footer">
    {{ punchInfoBlock(punchInfo) }}
  </div>
</div>
