.intro-feature-dialog {

  .zent-dialog-r-footer {
    .fans-poster-intro-trangle {
      border-top: 6px solid #fff;
      content: '';
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      width: 0;
      height: 0;
      position: absolute;
      left: 21px;
    }

    .application-item {
      margin-right: 0;
      margin-top: 0;
      transform: translateX(-15px) translateY(10px);
      position: absolute;
      display: flex;
      width: inherit;

      .application-entry {
        .application-desc {
          display: flex;
        }
      }
    }
  }
}
