.upload-cover-wrapper {
  display: flex;

  .upload-text-trigger {
    align-self: flex-end;
    margin-left: 10px;

    span {
      font-size: 0;

      &::after {
        margin-left: -8px;
        color: #38f;
        content: '重新选择';
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .rc-upload-trigger {
    width: 80px;
    height: 80px;
  }

  .upload-cover-ele {
    display: flex;
    vertical-align: bottom;

    &__square {
      margin-left: 8px;
      width: 80px;
      height: 80px;
    }
  }

  .cover-img {
    position: relative;
    margin: 0 8px 0 0;
    width: 78px;
    height: 78px;
    border: 1px solid #ddd;
    background-color: #fff;

    &__square {
      width: 78px;
      height: 78px;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 78px;
      max-height: 78px;
      border: 0;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .img-container {
    position: relative;

    &:hover {
      .hover-close {
        position: absolute;
        top: -12px;
        right: -8px;    
        z-index: 11;
        padding: 1px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: rgba($color: #000000, $alpha: 0.45);
        font-size: 16px;
        line-height: 18px;
        text-align: center;

        .zenticon.zenticon-close-circle {
          font-size: 23px;
          cursor: pointer;
        }
      }
    }

    &:not(:hover) .hover-close {
      display: none;
    }
  }

  .cover-item {
    .cover-img {
      position: relative;
      margin-right: 15px;

      .attfix-close {
        position: absolute;
        top: -9px;
        right: -9px;
        z-index: 11;
        padding: 1px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        color: #666;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .img-blur {
    height: 100%;
    width: 100%;
    filter: blur(10px);
  }
}
