{% extends 'layout/without_side_menu_layout.html' %}

{% block body_html %}
  <!-- ▼ 页面主体内容 -->
  {% block container %}
    <div id="blank-app-container" class="container">
        {% block app_content %}
        {% endblock %}
    </div>
  {% endblock %}
  <!-- ▲ 页面主体内容 -->

  <!-- ▼ 底部页脚 -->
  {% block app_footer %}
    <div id="app-footer">
      <a href="{{ URL.site('/') }}" class="logo" target="_blank"></a>
    </div>
  {% endblock %}
  <!-- ▲ 底部页脚 -->
{% endblock %}

{% block project_style %}
  {{ loadCss('dll/component') | safe }}
  {{ loadCss('vendors') | safe }}
  {{ loadCss('global') | safe }}
{% endblock %}

{% block project_js %}
  {{ loadJs('dll/framework') | safe }}
  {{ loadJs('dll/library') | safe }}
  {{ loadJs('dll/component') | safe }}
  {{ loadJs('vendors') | safe }}
{% endblock %}
