.course-settings {
  min-height: calc(100vh - 200px);

  .setting-item-supply {
    cursor: pointer;
  }

  .zent-form__control-label {
    width: 154px;
  }
}

.edu-settings_radio-field {
  line-height: 30px;
}

.edu-bottom_fixed {
  position: fixed;
  right: 0 !important; // sass-lint:disable-line no-important
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 10px 0;
  min-width: 780px;
  width: auto;
  background-color: #fff;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  transition: right .5s;
}

.nonZeroButtonConf {
  min-width: 760px;
}

.nonZeroButtonConf .zent-form__controls {
  .zent-form__help-desc {
    margin-left: -120px;
  }

  .zent-input-wrapper {
    width: 169px;
  }
}
