.rc-design-component-default-preview {
  height: 136px;
  background-color: #ebf8fd;
  text-align: center;
  color: #88c4dc;

  .rc-design-component-default-preview__title {
    margin-top: 50px;
    font-size: 14px;
  }

  .rc-design-component-default-preview__text {
    line-height: 136px;
    font-size: 14px;
  }
}
