.week-quick-picker {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;

  &__gap {
    font-size: 12px;
    color: #666;
    padding: 0 10px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin: 0 4px;
    background-position: center;
    background-size: 9px 14px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__icon-left {
    background-image: url('https://img.yzcdn.cn/upload_files/2018/11/16/FooamiCUm_OhRNnbZyNWkuB2pTwJ.png');
  }

  &__icon-right {
    background-image: url('https://img.yzcdn.cn/upload_files/2018/11/16/FsMbuJhWwiIkRZqoTkhlQUxzOiEL.png');
  }

  &__quick-btn {
    margin-left: 4px;
    font-size: 14px;
    color: #155bd4;
    cursor: pointer;
  }
}
