<!DOCTYPE html>
<html class="{% block html_class %}{% endblock %}" lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    {% block viewport %}
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    {% endblock %}
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    {# seo特殊需求，几个特殊店铺需要防止商品被爬虫 #}
    {% if isPreventCrawler %}
      <meta name="robots" content="noindex,nofollow" />
    {% endif %}
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="description" content="{{ description }}" />
    <title>{% block page_title %}{{ title }}{% endblock %}</title>
    <link rel="icon" href="//img01.yzcdn.cn/v2/image/yz_fc.ico">

    {# 全局样式 #}
    {% block base_style %}
      {{ loadCss('version_h5_css.css/vant') | safe }}
      {{ loadCss('version_h5_css.css/vendors') | safe }}
    {% endblock %}

    {# 业务级样式 #}
    {% block project_style %}
    {% endblock %}

    {# 页面级样式 #}
    {% block page_style %}
    {% endblock %}

    {# 全店风格 #}
    {% block shop_style %}
      {% if globalTheme %}
        {{ loadCss('version_h5_css.css/global-theme/' + globalTheme) | safe }}
      {% endif %}
    {% endblock %}

    {# 通用脚本 #}
    {% block head_script %}
      {{ inlineJs('@youzan/cdn-fallback', './dist/index.js') | safe }}
    {% endblock %}
    <script>
      window._global = {{ _global | safe }}
    </script>
  </head>
  <body class="{{ globalTheme }}">
    {# 顶部栏 #}
    {% block base_header %}{% endblock %}

    {# 页面内容 #}
    {% block page_content %}
      <div class="container" style="min-height: 812px; min-height: 100vh;">
          <div id="app"></div>
      </div>
    {% endblock %}

    {# 通用footer #}
    {% block base_footer %}
      {% if footerHtml %}
        {{ footerHtml | safe }}
      {% endif %}
    {% endblock %}

    {# 全局脚本 #}
    {% block base_script %}
      {% include './tpl/sentry_script.html' %}
      {{ loadJs('version_h5_js.js/dll/vue') | safe }}
      {{ loadJs('version_h5_js.js/dll/vant') | safe }}
      {{ loadJs('version_h5_js.js/dll/common') | safe }}
      {{ loadJs('version_h5_js.js/vendors') | safe }}
    {% endblock %}

    {# 业务级脚本 #}
    {% block project_script %}
    {% endblock %}
    {# 页面级脚本 #}
    <!-- page-js start -->
    {% block page_script %}
    {% endblock %}
    <!-- page-js end -->

    {# debug 脚本 #}
    {% block debug_script %}
      {% include './tpl/debug_script.html' %}
    {% endblock %}

    {# 统计脚本 #}
    {% block tongji_script %}
      <script src="https://b.yzcdn.cn/client-log-sdk/heatmap-log-1.0.3-min.js" onerror="_cdnFallback(this)" async defer></script>
    {% endblock %}

    {% if condolenceScript %}
      <script src="{{ condolenceScript }}"></script>
    {% endif %}

    <script>
      function replaceImgCdn(target) {
        try {
          if (!target || target.nodeName.toUpperCase() !== 'IMG') return;
          var src = target.src || '';
          if (src.indexOf('//img.yzcdn.cn/') !== -1) {
            target.src = src.replace(/\/\/img\.yzcdn\.cn\//, '//img01.yzcdn.cn/');
          }
        } catch(_) {}
      }

      document.body.addEventListener(
        'error',
        function(e) {
          replaceImgCdn(e.target);
        },
        true
      );

      document.querySelectorAll('img').forEach(function(target) {
        replaceImgCdn(target);
      });
    </script>
  </body>
</html>
