.educourse-field {
  line-height: 30px;

  .educourse-apply-tag {
    background-color: rgba(155,155,155,0.17) !important;
    border-color: rgba(155,155,155,0.17) !important;
    line-height: 30px !important;
    font-size: 12px !important;
    margin: 10px 0;
    color: black;
    & .zent-tag-close-btn {
      color: #D8D8D8;
      transform: scale(0.8);
    }
  }
}
.educourse-choose-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .educourse-choose-filter {
    &>.zent-form__control-group{
      display: flex;
      margin-bottom: 0px;
      line-height: 30px;
    }
    .educourse-choose-input {
      margin-top: 1px;
    }
  }
}

.educourse_apply {
  &__type {
    border: 1px solid #e5e5e5;
    padding: 10px 0 0 15px;
    width: 500px;
    margin-top: 5px;
  }

  &__desc {
    color: #969799;
    font-size: 12px;
  }

 &__educoursegroup {
   margin-bottom: 10px;
 }
}
