.delivery-weight-fee {
  display: flex;
  align-items: center;
  width: 650px;
  height: 30px;
  position: relative;
  margin-bottom: 0;

  &.error {
    margin-bottom: 20px;
  }

  .zent-input-wrapper,
  .zent-number-input-wrapper {
    width: 60px;

    .zent-input {
      width: 100%;
      min-width: 60px;
      padding: 0 7px;
    }
  }

  .zent-form__control-group {
    margin-bottom: 0;
  }

  .zent-form__control-label {
    display: none;
  }

  .zent-form__control-label + .zent-form__controls {
    margin-left: 0;
  }

  .zent-form__error-desc {
    position: absolute;
    top: 24px;
  }
}
