.custom-apointment-long {
  margin-top: 5px;

  &__type {
    .zent-radio-wrap {
      display: block;
      margin-top: 16px;

      &:first-child {
        margin-top: 0;
      }
    }

    .zent-popover-wrapper {
      width: 70px;
      margin-left: 10px;
    }
  }
}
