$red: #f44;

.team-category {

  .category-picker {
    width: 396px;
    height: 40px;

    .category-picker-bar {
      height: 40px;

      &__placeholder {
        line-height: 30px;
      }
    }
  }

  .zent-region-select {
    width: 396px;
    height: 40px;
  }

  .zent-region-select__text {
    height: 40px;
    padding: 10px 30px 10px 10px;
  }
}

.zent-form__control-group.has-error {

  .widget-selectbox-handle,
  .category-picker-bar {
    border-color: $red;

    &__placeholder {
      color: $red;
    }
  }
}

