@import 'vars/colors';
@import 'common/ellipsis';

.operation {
  color: $blueColor;
  cursor: pointer;

  &.disabled {
    color: $grayColor;
    cursor: not-allowed;
  }
}

.class-selector {
  margin: 8px auto 8px 25px;

  .class-selector__grid .zent-grid-tfoot {
    display: none;
  }

  .selected-class {
    margin-top: 8px;
  }
}

.class-selector__content {
  .class-manage {
    margin-right: 16px;
  }

  // .table {
  //   &.empty .zent-grid-tfoot {
  //     display: none;
  //   }
  // }

  .bottom-actions {
    margin-top: 17px;
    text-align: right;

    button {
      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }
}

.zent-dialog-r.teacher-selector-dialog {
  width: 700px;
}
