.filter {
  &__actions > * {
    margin-right: 10px;
  }

  &__actions {
    &__reset {
      margin-left: 10px;
      line-height: 30px;
      color: #155bd4;
      cursor: pointer;
      user-select: none;
    }
  }
}

.vis-list {
  .tfoot__batchcomponents--has-children {
    border: 0;

    .zent-btn {
      margin-left: 10px;
    }
  }

  &__table-container {
    .zent-grid-tr {
      .zent-checkbox-wrap {
        vertical-align: baseline;
      }

      .zent-grid-th:first-child,
      .zent-grid-td:first-child {
        padding-right: 16px;

        & > span {
          vertical-align: super;
        }
      }
    }

    .zent-grid-tfoot-page {
      float: right;
    }

    .tfoot__batchcomponents--has-children {
      border: 0;

      .zent-btn {
        margin-left: 8px;
      }
    }

    .batch-box {
      padding: 0;
      margin-left: 16px;
      display: flex;
      align-items: center;

      .zent-checkbox-wrap {
        line-height: 1;
        margin-right: 8px;
      }
    }
  }
}

.vis-filter {
  &_region {
    margin: 16px 0;
    padding: 16px;
    background-color: #f7f8fa;
  }

  &_item {
    display: inline-block;
    min-width: 380px;
    margin-right: 32px;
    margin-bottom: 16px;

    &.date-range-quick-picker {
      display: block;
      width: 100%;
    }
  }

  &_label {
    display: inline-block;
    width: 120px;
    overflow: hidden;
    color: #323233;
    text-align: right;
    vertical-align: middle;
  }

  &_controls {
    display: inline-block;
    margin: 0 15px 0 5px;

    &.date-range-picker-wrapper {
      width: 232px;

      .picker-input {
        width: 100px;
      }
    }

    &.date-range-quick-picker-wrapper {
      width: 80%;
    }
  }

  &_bottom {
    padding-left: 5px;
    margin-left: 120px;
  }

  &_action {
    > a {
      margin-left: 10px;
      vertical-align: middle;
    }

    .link {
      cursor: pointer;
    }
  }
}

.search-input {
  position: relative;
  display: flex;
  vertical-align: middle;
  margin-bottom: 15px;

  &.flex-right {
    justify-content: flex-end;
  }

  .zenticon {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(0.5em, -50%);
  }

  input {
    padding-left: 2em !important;
  }
}

.vis-search__icon {
  color: #999;
}
