.certificate-goods-selector {
  background-color: white;
}

.certificate-goods-list-detail {
  display: flex;
}

.certificate-goods-list-desc {
  line-height: 45px;
  margin-left: 10px;
  width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.certificate-goods-list-price {
  color: #f60;
}

.certificate-goods-selector-btn {
  border: 0;
  padding: 0;
}

.certificate-goods-selector-list {
  width: 400px;
}