.edu-refund {
  min-height: calc(100vh - 56px);

  &-course-header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 16px;
  }

  &-course-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    &-user {
      display: flex;
      div {
        padding-right: 32px;
      }
    }
  }

  &-course-list {
    &-title {
      .zenticon-help-circle {
        color: #969799;
        margin-left: 4px;
      }
    }
  }

  &-course-help {
    .zenticon {
      margin-left: 2px;
    }
  }

  &-warning {
    .zenticon-warning {
      color: #ed6a0c;
      margin-right: 8px;
    }
  }

  .has-error {
    .zent-form__help-desc {
      display: none;
    }
  }
}
