.other-assignment {
  margin-top: 0;

  &[excellent] {
    padding-top: 98px;
    background-image: url(https://b.yzcdn.cn/public_files/0a58da35d4431e0c5a6abdb2b8869bff.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .empty {
    margin-top: calc(50vh - 50%);
  }
}

.container {
  background-image: none !important;
}
