.market-wrapper {
  margin: 8px 0 16px;
  .widget-app-board-v2 {
    margin-bottom: 16px;
    .title {
      font-size: 18px;
    }
  }
}

.ump-moments {
  position: relative;
}

body #app-container {
  padding-bottom: 0;
}

#js-react-container .moments-container {
  display: flex;
  min-height: calc(100vh - 180px);

  .moments-content {
    width: 0;
    padding-left: 8px;
    flex-grow: 1;
  }

  .zent-tabs {
    position: relative;
    left: -8px;
    margin-bottom: 0;
    background-color: white;
    z-index: 1;

    &-panel-wrapper {
      display: none;
    }

    &-tab-inner {
      padding: 5px 8px;
    }

    &-nav {
      padding-top: 0;
      padding-right: 8px;
      border-right-color: #ebedf0;
    }

    &-tab {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .zent-form .zent-radio-wrap {
    margin-right: 24px;
  }

  .form-sub-row {
    margin-top: 16px;

    .zent-input-wrapper {
      width: 80px;
      margin: 0 8px;
    }

    .zent-select {
      width: 108px;
      margin: 0 8px;
    }
  }
}

