.zent-loading.zent-loading--inline {
  display: block;
}

.polling-dialog {
  margin: auto;

  .progress-title {
    margin: 8px auto;
    font-size: 14px;
    color: #155BD4;
    text-align: center;
  }

  .progress-text {
    font-size: 12px;
    color: #646566;
    text-align: center;
  }

  &-wrapper {
    .zent-dialog-r-body {
      padding: 8px 16px !important;
    }
  }
}

.confirm-dialog {
  width: 528px;
}
