$c-white: #fff;
$c-black: #333;
$c-green: #4b0;
$c-green-wx: #4b0;
$c-red: #ed5050;
$c-red-light: #f44;
$c-gray: #c9c9c9;
$c-gray-silver: #9b9b9b;
$c-gray-light: #e5e5e5;
$c-gray-dark: #999;
$c-gray-darker: #666;
$c-yellow: #f09000;
$c-yellow-light: #fcff00;
$c-orange: #f60;
$c-orange-dark: #f15a0c;
$c-blue: #38f;
$c-darker: #4a4a4a;
$c-background: #f8f8f8;
