.recommend-gift-poster {
  &__container {
    width: 300px;
    padding-top: 6px;
  }

  &__poster {
    width: 100%;
    height: auto;
  }

  &__tip {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
    text-align: center;
  }
}
