.reserve-list {
  margin-top: 16px;

  .reserve-grid-operate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #3388ff;

    &__item {
      padding: 0 6px;
      border-right: 1px solid #999999;
      white-space: nowrap;
      line-height: 12px;
      cursor: pointer;

      &:last-child {
        border: 0;
      }
    }

    .zent-table .cell:last-child .cell__child-container {
      text-align: right;
      width: 100%;
    }
  }

  &__pagination {
    margin-top: 20px;
  }

  &__link {
    color: #3388ff;
    cursor: pointer;
    display: inline-block;
  }

  .reserve-grid-assistants {
    min-width: 50px;
  }
}

.reserve-status-item {
  &__dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 4px;
    vertical-align: 1px;
  }

  &__dot-not-confirmed {
    background-color: #ff7019;
  }

  &__dot-not-class {
    background-color: #3dc16b;
  }

  &__dot-classed {
    background-color: #3388ff;
  }

  &__dot-ruancy {
    background-color: #999999;
  }

  &__dot-leave {
    background-color: #d40000;
  }

  &__dot-cancel {
    background-color: #C8C9CC;
  }
}

.reserve-pop-item {
  max-width: 280px;
  word-wrap: break-word;
}

.inline-block-vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

.ellipsis-line {
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
