@import 'classes/cursor-link';

.zent-page-loading {
  z-index: 999;
}

.ebiz-schedule__columns__showmore__pop {
  width: 100px;
}

.ebiz-schedule__columns {
  .ebiz-mouse-follow {
    width: auto;
  }
}
