.button-like-outline__span {
  border-color: var(--theme-stroke-5, #dcdee0);
  display: inline-block;
  height: 32px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 16px;
  border-radius: 2px;
  font-family: inherit;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0 8px;
}