@import 'vars/colors';

.detailtable-user {
  display: flex;

  .avatar {
    width: 30px;
    height: 30px;
    margin: auto 8px auto 0;
    border-radius: 2px;
  }

  .detail {
    flex: 0 0 75%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .name,
    .name-anonymous,
    .mobile {
      font-size: 14px;
      line-height: 18px;
    }

    .name {
      color: $blueColor;
      cursor: pointer;
    }
  }
}

.view-answersheet {
  color: $blueColor;
  cursor: pointer;
}

.table-filter-text {
  margin-left: 16px;
  font-size: 14;
  color: $blueColor;
  cursor: pointer;
}
