@import 'vars/colors';

.app-inner {
  min-width: 910px;
  min-height: 580px;
}

.tooltip {
  width: 300px;
}

.fail-text {
  margin-right: 5px;
  color: #D40000;
}

.fail-pop {
  transform: translateX(-8px);
}

.print-page {
  &-content {
    min-height: 500px;
  }
}

.refund-print {
  min-width: 710px;
  max-width: 900px;
  margin: 0 auto;
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .print-title {
      position: relative;
      font-size: 28px;
      color: #000000;
      letter-spacing: 0.66px;
      text-align: center;
      margin-top: 50px;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -16px;
        left: 0;
        height: 0;
        border-bottom: 4px double #323233;
      }
    }
    .print-header {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #969799;
      line-height: 20px;
      em {
        color: #323233;
        font-weight: 700;
      }
    }
    .print-content {
      margin: 20px 0;
      table {
        width: 910px;
        border: 1px solid #E5E5E5;
        page-break-inside: auto;
        text-align: left;
        tr,
        th,
        td {
          border: 1px solid #E5E5E5;
        }
        td {
          padding: 20px 0;
          font-size: 14px;
        }
        th {
          padding: 10px 0;
        }
        th,
        td {
          padding-left: 14px;
        }
        thead {
          tr {
            background: #f7f8fa;
          }
        }
        .print-table-label,
        .print-table-desc {
          display: inline-block;
          vertical-align: top;
        }
        .total-statistics {
          display: inline-flex;
          width: 100%;
          align-items: center;
          justify-content: flex-end;
          padding-right: 20px;
          box-sizing: border-box;
          color: #323233;
          font-size: 14px;
          .print-table-value {
            color: #D40000;
          }
        }
      }
    }
    .print-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #969799;
      line-height: 20px;
      em {
        color: #323233;
        font-weight: 700;
      }
    }
    .print-code {
      position: absolute;
      top: 27px;
      right: 58px;
      &-img {
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        height: 80px;
      }
      &-info {
        display: inline-block;
        vertical-align: middle;
        width: 58px;
        height: 80px;
        font-size: 14px;
        color: #969799;
      }
    }
  }
}

.refund-record {
  .zent-select-text {
    color: $normalColor;

    .zent-select-placeholder {
      color: $normalColor;
    }
  }
}

// 打印时的样式
@page {
  size: landscape;
  margin: 0;

  :footer,
  :header {
    display: none;
  }
}

@media print {
  aside,
  .noprint,
  .js-app-third-sidebar,
  .js-app-help-button,
  #app-help-container-react,
  #app-footer,
  .wsc-search-layer-wrap {
    display: none;
  }

  body #app-container {
    padding: 0;
    margin: 0;
  }

  .print-page-content {
    margin-top: -10px;
  }
}
