{% extends '../../common/base.html' %}

{% block page_title %} 线索设置 {% endblock %}

{% block app_nav %}
<div class="zent-breadcrumb js-page-breadcrumb" id="js-page-breadcrumb">

    <a href="{{ URL.site('/ump/appcenter/channel', 'v4') }}">销售渠道</a>
    <span data-href="{{ URL.site('/vis/edu/page/clue/cluesetting', 'v4') }}" class="project">线索设置</span>

  <!-- <span class="third"></span> -->
</div>
{% endblock %}

{% block page_style %}
  {{ loadCss('version_css.ump/clue/cluesetting') | safe }}
{% endblock %}

{% block app_content %}
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {% include "../../common/config.html" %}
  {% include "../../common/ueditor.html" %}
  {{ loadJs('version_js.ump/clue/cluesetting') | safe }}
{% endblock %}
