.certificate_btn-group {
  position: fixed;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0 !important;
  width: auto;
  min-width: 780px;
  padding: 10px 0;
  text-align: center;
  transition: right .5s;
  background-color: #fff;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.07);
}
