.live-manage__replayDialog {
  .dialog-r-body {
    display: flex;
    padding: 0;

    .label {
      margin-right: 16px;
      line-height: 40px; // 定位不齐，出此下策
    }

    .field {
      width: 432px;
      line-height: 32px;
    }

    .helpDesc {
      line-height: 18px;
      color: #969799;
    }
  }

  .dialog-r-footer {
    padding-right: 0;
    padding-left: 0;
  }
}
