.groupon-show-example {
  width: 100%;
  white-space: nowrap;

  img {
    width: 280px;
    height: auto;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.column-upload .upload-text-trigger {
  display: block; 
  width: 80px;
  height: 25px;
  border: none; 
  line-height: 20px; 
  box-sizing: content-box; 
  text-align: start; 
  font-size: 14px; 
  color: #323233;
  overflow: visible; 
  text-decoration: none;
}