$borderColor: #e8eaee;
.summary-info-block {
  .info-title {
    margin-bottom: 16px;
  }

  .info-list {
    margin-bottom: 16px;
    padding: 16px 0;
    box-sizing: border-box;
    border: 1px solid $borderColor;
    border-radius: 3px;
    overflow: hidden;
    display: flex;

    .info-item {
      flex: 1;
      align-items: center;
      position: relative;
      padding-left: 40px;
      margin-right: 8px;

      &::after {
        content: '';
        position: absolute;
        right: 3px;
        width: 1px;
        height: 56px;
        margin-top: -28px;
        top: 50%;
        border: none;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: $borderColor;
      }

      &:last-child {
        margin-right: 0;

        &::after {
          display: none;
        }
      }

      .header {
        display: flex;
        line-height: 20px;
        margin-bottom: 12px;

        .icon {
          margin-right: 7px;
          height: 16px;
          width: 16px;

          img {
            height: inherit;
            width: inherit;
          }
        }

        .title {
          color: #646566;
          font-size: 14px;
        }
      }

      .content {
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        color: #323233;
        background-color: transparent;
      }
    }
  }
}
