.ebiz-order-table {
  width: 100%;
  min-height: 30px;
  margin-top: 8px;
}
.ebiz-order-table tr:not(.ebiz-order-table__blank-end) td,
.ebiz-order-table tr:not(.ebiz-order-table__blank-end) th {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  width: auto;
  padding: 10px 16px;
}
.ebiz-order-table .comp-extend-cell {
  width: 100%;
  height: 0px;
}
.ebiz-order-table .cell__selection {
  width: 34px;
}
.ebiz-order-table .ebiz-order-table__tr {
  background: #F7F8FA;
  padding: 10px;
}
.ebiz-order-table .ebiz-order-table__tr-cell {
  border: 1px solid #E5E5E5;
  border-left: 0px;
  border-right: 0px;
}
.ebiz-order-table .ebiz-order-table__tr-cell:first-child {
  border-left: 1px solid #E5E5E5;
}
.ebiz-order-table .ebiz-order-table__tr-cell:last-child {
  border-right: 1px solid #E5E5E5;
}
.ebiz-order-table__blank-start, .ebiz-order-table__blank-end {
  background-color: transparent;
}
.ebiz-order-table__blank-start {
  height: 16px;
}
.ebiz-order-table__blank-end {
  height: 16px;
}
.ebiz-order-table__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.ebiz-order-table__footer-pagination {
  justify-content: flex-end;
  flex-grow: 1;
}
.ebiz-order-table__empty-label > td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #E5E5E5;
}
.ebiz-order-table__body-check {
  border: 1px solid #E5E5E5;
  padding: 10px;
}
.ebiz-order-table__body-check .cell__selection {
  display: inline-block;
}
.ebiz-order-table__body-header {
  display: inline-block;
  padding-right: 10px;
  min-width: 150px;
}
.ebiz-order-table__body-content-box:hover {
  background-color: #f8f8f8;
}
.ebiz-order-table__body-content-cell {
  padding: 10px;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  word-break: break-all;
}
.ebiz-order-table__body-content-cell:last-child {
  border-right: 1px solid #E5E5E5;
}
.ebiz-order-table__body-extend > td {
  padding: 0 10px;
  border: 1px solid #E5E5E5;
  border-top: 0px;
}