.course-school-page {
  .zent-table-container {
    margin-bottom: 0;
  }

  .set-batch-status {
    margin-left: 0 !important;
  }
}

.sku-config-tips-wrap {
  background-color: #FFF7CC;
  border: 1px solid #FFEEBB;
  line-height: 44px;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  .sku-config-tips {
    margin-left: 15px;
  }
  .sku-config-link {
    margin-left: 10px;
    color: #3388FF;
    cursor: pointer;
  }
}

.batch-set-dialog-header {
  margin-bottom: 10px;
  font-size: 14px;
}

.batch-set-dialog-content {
  margin-bottom: 20px;
  & label {
    font-size: 14px;
  }
}

.batch-set-dialog-foot {
  display: flex;
  justify-content: space-between;
}

.shop-status-tag {
  margin-left: 5px;
  width: 55px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  background: #e5e5e5 !important;
  color: black;
  border-color: #e5e5e5 !important;
}