.homework-list {
  padding: 12px;

  &__group {
    margin-bottom: 16px;

    &__title {
      font-size: 13px;
      line-height: 19px;
      color: #969799;
    }
  }

  &__button {
    position: fixed;
    right: 16px;
    bottom: 128px;
  }
}
