.class-dialog-form {
  &__actions {
    margin-top: 30px;
    text-align: right;
  }

  .zent-form {
    margin-bottom: 0;
  }

  .zent-form__control-label {
    width: 90px;
  }
}

.course-name {
  width: 148px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
