{% extends '../base/ump.html' %} 

{% block page_style %}
  {{ loadCss('version_css.ump/referral') | safe }} 
{% endblock %} 

{% block app_nav %}
	<div class="zent-breadcrumb" id="js-page-breadcrumb">
    <a href="{{ URL.site('/ump/appcenter', 'v4') }}">应用中心</a>
    <a href="{{ URL.site('/ump/appcenter/marketing', 'v4') }}">营销玩法</a>
		<span class="project" data-href="{{ URL.site('/vis/pct/page/referral', 'v4') }}">推荐有奖</span>
	</div>
{% endblock %}

{% block app_content %}
  <div id="js-react-container"></div>
{% endblock %} 

{% block page_js %} 
  {{ loadJs('version_js.ump/referral') | safe }} 
{% endblock %}