.column-action-bar {
  .batch-btn {
    margin-left: 10px;
  }

  .list-filter {
    display: flex;
    margin: 0 0 16px;
    justify-content: space-between;

    &__btngroup {
      display: flex;
    }

    &__search {
      display: flex;

      .ebiz-select__container {
        margin-right: 15px;
      }

      // .ebiz-select-dropdown,
      // .ebiz-select-trigger {
      //   width: 90px !important;
      // }
    }
  }

  .batch-wrap {
    display: flex;
    align-items: center;
  }

  .column-batch-help-icon {
    margin-left: 10px;
    color: #bbb;
    font-size: 16px;
    cursor: pointer;
  }

  .tips {
    color: #999;
    margin-top: 5px;
    margin-left: 5px;
  }
}

.multi-audio-upload {
  .zent-upload-local-attachment-region .zent-upload__upload-local-voice-list {
    margin-left: 0px;
  }
  .zent-upload-local-attachment-region
    .zent-upload__upload-local-voice-list
    .zent-upload-voice-item {
    margin-right: 10px;
    margin-left: 0px;
  }
}

.batch-update-retry-wrap {
  font-size: 12px;
  &__tips {
    font-weight: bold;
  }
}

.modal-footer {
  // 专栏提醒勾
  position: relative;

  .checkbox-form {
    position: absolute;
    top: -58px;
    left: 10px;
  }
}
