.poster__edit-valitime {
  .zent-datetime-picker {
    margin-bottom: 10px;
  }
}

.poster__cover-field {
  .zent-form__help-desc {
    width: 310px;
  }

  .poster-download-trigger {
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 4px;
    align-self: flex-end;
  }
}

.zent-select {
  width: 160px;
}

.number {
  display: inline-block;
  vertical-align: middle;
}
