.grad-with-img {
  display: flex;
  align-items: center;
  img {
    flex-shrink: 0;
    margin-right: 8px;
    overflow: hidden;
    width: 40px;
    height: 71px;
    background-color: #979797;
    background: url('https://img.yzcdn.cn/wsc/paidcontent/poster/img_loading_white.png') 0 0 / 40px 71px no-repeat;
  }


  .img-loading {
    display: block;
    padding: 28px 12px;
    width: 16px;
    height: 16px;
  }
}
