.empty {
  position: relative;
  width: 100%;
  height: 100%;

  &__icon {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  &__info {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #999;
    text-align: center;
  }

  &__button {
    position: relative;
    display: block;
    width: 100px;
    height: 32px;
    padding: 0 16px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
  }

  .van-button__text {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: fit-content;
    transform: translate3d(-50%, -50%, 0);
  }
}
