.create-result {
  padding-top: 135px;
  text-align: center;

  &__img {
    width: 141px;
    height: 160px;
  }

  &__progress {
    margin: 19px auto 13px;
    display: block;
    width: 120px;
    height: 12px;
    background: #f2f2f2;
    position: relative;
    border-radius: 6px;

    &-inner {
      position: absolute;
      left: 0;
      right: 0;
      background: #ffcd00;
      width: 0;
      height: 100%;
      border-radius: 6px;

      &.loading {
        animation: progress 3s forwards;
      }
    }
  }

  &__text {
    color: #333;
  }
}

@keyframes progress {

  0% {
    width: 0%;
  }

  50% {
    width: 35%;
  }

  80% {
    width: 75%;
  }

  100% {
    width: 95%;
  }
}
