.homework-score {
  position: relative;
  width: 85px;
  height: 85px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  transform: rotate(15deg);
  box-sizing: border-box;

  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    font-weight: bold;
    color: #fff;
    transform: translate3d(-50%, -50%, 0);
    flex-flow: row nowrap;
    justify-self: center;
    align-items: center;

    &__integer {
      &--normal {
        font-size: 20px;
      }

      &--small {
        font-size: 32px;
      }
    }

    &__float {
      &--normal {
        font-size: 12px;
      }

      &--small {
        font-size: 20px;
      }
    }
  }

  &__value--small {
    & > div {
      transform: scale(.5);
      transform-origin: 50% 50% 0;
    }
  }
}
