@import "vars/_colors";

.clue-pool-tags-filter {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 200px;

  .zent-multi-cascader__tags {
    position: static;
    overflow-y: auto;
    text-overflow: clip;

    .zenticon-caret-down {
      font-size: 0;
      background-image: url(https://img.yzcdn.cn/public_files/265d47301e76ad0c35bd13bc9b3def4e.png);
      background-repeat: no-repeat;
      background-size: 10px 8px;
      background-position: center;
      top: 50%;
      right: 8px;
      width: 16px;
      content: "";
      height: 16px;
      position: absolute;
      transform: scale(1);
      transition: transform 0.25s;
    }
  }

  .zent-multi-cascader__tag {
    background-color: #fff;
    border: solid 1px #c8c9cc;
  }

  & .open .zenticon-caret-dow {
    transform: rotate(180deg) translateY(50%);
  }

  .tags__empty {
    color: #999;
    padding-left: 10px;
  }
}
