{% extends '../../common/base.html' %}

{% block page_title %} 转介绍 {% endblock %}

{% block page_style %}
  {{ loadCss('version_css.ump/invite-reward') | safe }}
{% endblock %}

{% block app_nav %}
	<div class="zent-breadcrumb" id="js-page-breadcrumb">
    <a href="{{ URL.site('/ump/appcenter', 'v4') }}">应用中心</a>
    <span data-href="{{ URL.site('/vis/ump/invite-reward#/', 'v4')}}" class="project">转介绍</span>
	</div>
{% endblock %}

{% block app_content %}
<div id="js-react-container-alert"></div>
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {% include "../../common/config.html" %}
  <script src="{{ URL.site('/v2/vendor/ueditor/release/ueditor.config.202002232235.js', 'cdnStatic') }}"></script>
  <script src="{{ URL.site('/v2/vendor/ueditor/release/ueditor.all.min.202002232235.js', 'cdnStatic') }}"></script>
  {{ loadJs('version_js.ump/invite-reward') | safe }}
{% endblock %}
