.edu-settings {
  min-height: calc(100vh - 200px);
  padding-top: 15px;

  &-row {
    margin: 24px 0 0 0;
    &-justify {
      margin-left: 24px;
    }
  }
  .zent-number-input {
    display: inline-flex!important;
    width: 100px;
    margin: 0 7px;
  }

  .zent-form__control-label {
    width: 140px;
  }

  &.eliminate .zent-form__control-label {
    width: 96px;
  }

  .zent-checkbox-wrap,
  .zent-radio-wrap {
    margin-right: 32px;
  }
}

.edu-settings_radio-field {
  line-height: 30px;
  display: flex;
  flex-direction: column;
}

.edu-bottom_fixed {
  position: fixed;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0 !important;
  width: auto;
  min-width: 780px;
  padding: 10px 0;
  text-align: center;
  transition: right .5s;
  background-color: #fff;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.07);
}
