@import "vars/_colors";

// reset color of a
.edu-adjustcourse, .edu-adjustcourse-user-select, .edu-adjustcourse-courses-dialog {
  a {
    color: #155BD4;
  }
}

.edu-adjustcourse {
  .zent-select-text .zent-select-placeholder {
    color: $normalColor;
  }

  .zent-form__control-label {
    width: 130px;
  }

  .cell-div {
    width: 140px;
    &.less-width {
      width: 120px;
    }
    &.more-width {
      width: 180px;
    }
  }
  
  .suggest-adjust-amount {
    color: #969799;
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;

    .zent-form__control-label {
      display: none;
    }
    .zent-form__controls {
      margin-left: 0;
    }
  }

  &-affix {
    margin-bottom: 16px;
  }

  &-other-field {
    .zent-select-popup {
      max-height: 160px;
    }
  }

  &-student {
    margin-left: 15px;
    margin-bottom: 40px;
    &-info {
      margin-top: 16px;
    }
  }

  &-trans {
    margin-left: 15px;

    &-add {
      margin-bottom: 16px;
    }

    &-other {
      margin-top: 24px;
    }

    .order-no {
      display: inline-block;
      // max-width: 200px;
      min-width: 140px;
      // white-space: pre-wrap;
      // word-break: break-all;
    }

    .split-line {
      padding: 0 5px;
      color: #dcdee0;
    }

    .field-input {
      &.zent-form__control-group {
        margin-bottom: 0;
      }
      &.more-width {
        .zent-input-wrapper {
          width: 150px;
        }
        .zent-form__control-label {
          width: 0;
        }
      }
      &.margin-btm {
        margin-bottom: 23px;
      }
      &.no-margin {
        margin-bottom: 0;
        margin-top: -24px;
      }
  
      .zent-input-wrapper {
        width: 130px;
      }
  
      .zent-form__controls {
        margin-left: 0;
      }
    }

    .inline-field {
      display: inline-block;
      margin-right: 50px;

      .zent-form__control-label {
        width: 120px;
        text-align: right;
      }
    }
  }

  &-unlock-dialog-tips {
    margin-bottom: 16px;
  }

  .hidden-field {
    display: none;
  }

  &-amount-display {
    margin: 16px 0 0;
    text-align: right;
    font-size: 14px;
    color: $redColor;

    &.inline {
      margin: 0 16px 0 0;
    }

    label {
      color: #323233;

      &.integer-label {
        color: $redColor;
        font-size: 24px;
        font-weight: 500;
      }

      &.decimal-label {
        color: $redColor;
        font-size: 12px;
      }
    }
  }

  .info-item {
    margin-bottom: 16px;
    color: #323233;
    font-size: 14px;

    label {
      margin-right: 16px;
      display: inline-block;
      width: 90px;
      color: #969799;
      font-size: 14px;
    }
  }

  

  .zent-form__control-group.has-error {
    .zent-input-wrapper {
      color: $redColor;
    }

    .zent-form__error-desc {
      color: $redColor;
    }
  }

  &-button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0 !important;
    width: auto;
    min-width: 780px;
    padding: 10px 240px 10px 0;
    text-align: center;
    transition: right .5s;
    background-color: #fff;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.07);
  }
}

.tr:hover .edu-enrollment-sku-wrapper .zenticon {
  visibility: visible;
}

.app-inner {
  min-height: calc(100vh - 155px) !important;
  padding-left: 0 !important;
}

[class^='infoTip'] {
  margin: -16px 0 30px 120px;
  background-color: #fff;
  justify-content: flex-start;
}
.cursor-link {
  cursor: pointer;
}
