.ebiz-time-picker {
  &__trigger {
    position: relative;
    width: 125px;

    .zenticon {
      position: absolute;
      top: 0;
      right: 10px;
      color: #bbb;
      line-height: 30px;
    }
  }

  &__panel {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 332px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(200, 201, 204, 0.5);

    &__select {
      display: flex;
      overflow: hidden;
      flex-direction: row;
      border-bottom: 1px solid #dcdee0;
    }

    &__actions {
      flex: 1;
      box-sizing: border-box;
      padding: 7px 15px;
      text-align: right;
    }

    ul {
      overflow: auto;
      margin: 0;
      padding: 0;
      width: 92px;
      height: 288px;
      border-left: 1px solid #dcdee0;
      color: #323233;
      list-style: none;
      text-align: center;
      line-height: 32px;

      &:first-child {
        border-left: 0;
      }

      &::-webkit-scrollbar {
        width: 0 !important;
      }

      li {
        height: 32px;
        cursor: pointer;

        &.active {
          background-color: #f2f3f5;
        }

        &.disabled {
          color: #e5e5e5;
        }
      }
    }
  }
}
