@import 'vars/_colors';

.surplus {
  padding: 16px;
  margin-bottom: 18px;
  background-color: $theme-stroke-11;

  :global {
    .surplus-title {
      display: flex;
      padding-bottom: 8px;;
    }

    .surplus-content {
      display: flex;
      align-items: center;
    }

    .surplus-num {
      color: $theme-primary-4;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
    }

    .surplus-button {
      margin-left: 12px;
      width: 74px;
      padding: 0;
    }

    .text--bold {
      color: $theme-stroke-1;
    }

    .zenticon-help-circle {
      font-size: 16px;
      color: $theme-stroke-3;
    }
  }
}