.hide-info {

  .hide-info__title_bg {
    background-color: #f2f2f2;
  }

  .hide-info__list {
    height: 68px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    color: #666;

    &__item1 {
      padding-left: 16px;
    }

    &__item2_em_num1 span em:nth-child(1) {
      color: #333;
      padding-right: 16px;
    }

    &__item3 {
      padding-right: 6px;

      span:nth-child(1) {
        float: right;
      }
    }
  }
}
