.preview-swiper-wrapper {
  width: 320px !important;
  flex-shrink: 0;

  height: 692px;

  .zent-affix {
    height: 692px;
  }

  .preview-swiper {
    height: 100%;

    .zent-swiper__container {
      height: 655px;
    }

    .preview-image-container img {
      width: 318px;
      border: 1px solid #ebedf0;
    }

    .zent-swiper__dots-item {
      border-radius: initial !important;
      transition: width 0.1s ease-in-out !important;
      width: 16px !important;
      height: 8px !important;
    }

    .zent-swiper__dots-item-active {
      width: 24px !important;
    }
  }
}
