.video-preview {
  &__container {
    position: relative;
    width: 692px;
    height: 396px;
    overflow: hidden;
    background-color: #000;

    video {
      width: inherit;
      height: inherit;
      object-fit: contain;
    }

    .watermark {
      position: absolute;
      display: block;
      width: auto;
      transform-origin: center;
      white-space: nowrap;
      transform: translateZ(0);
      animation-timing-function: linear;

      & div {
        height: inherit;
        line-height: 100%;

        &::after {
          clear: both;
          content: '';
        }
      }
    }
  }
}

.watermark.right2left,
.watermark.left2right {
  bottom: 96px;
}

.watermark.top2bottom,
.watermark.bottom2top {
  left: 0;
}
