@import "../../variables.scss";
@import "common/ellipsis.scss";

.live-manage__recordManage {
  @include headerStyles;

  min-height: 686px;
  padding: 1em;

  .ebiz-drag-list__container {
    margin-top: 1em;
  }

  .operations-container .operations-item a {
    cursor: pointer;
  }

  .actions-disabled {
    color: #DCDEE0;
    cursor: not-allowed !important;
  }

  &__startTime p {
    line-height: 16px;
  }

  thead[role=header] tr th:nth-child(2) div {
    min-width: 245px;

    @media screen and (max-width: 1440px) {
      min-width: 125px;
    }

    @media screen and (max-width: 1280px) {
      min-width: 100px;
    }
  }
}

.double-confirm .zent-pop-buttons {
  display: flex;
  width: 270px;
  margin-top: 8px;
  flex: 1;
  justify-content: flex-end;
}
