.card-item-zent-card .zent-card-header,
.card-item-zent-card .zent-card-body {
  padding: 16px !important;
  box-sizing: content-box !important;
}
.card-item-container + .card-item-container {
  margin-top: 16px;
}
.card-item-container.no-card-body .zent-card-body {
  height: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}
.card-item-container.no-card-body .zent-card-header {
  border-bottom: 0 !important;
}
.card-item-container.no-border .card-item-zent-card {
  border: none !important;
}
.card-item-header {
  position: relative;
  font-weight: 500;
}
.card-item-header-title {
  line-height: 24px;
  font-size: 16px;
}
.card-item-header-subtitle {
  margin-top: 8px;
  line-height: 20px;
  font-size: 14px;
}
.card-item-header-operations {
  align-self: flex-end;
}
.card-item-header-operations .operations-item {
  cursor: pointer;
  user-select: none;
}
.card-item-content {
  position: relative;
}
.card-item-content .card-content__line {
  line-height: 20px;
}
.card-item-content .card-content__line div:nth-child(2) {
  margin-top: 4px;
}
.card-item-content .card-content__line + .card-content__line {
  margin-top: 16px;
}