@import "vars/_colors";

.help-title {
  &-pop {
    margin-left: 2px;
  }
  &-icon {
    cursor: pointer;
    color: $theme-stroke-5;
    font-size: 16px;
  }
}

.help-title-pop-content {
  width: 206px;
}
