.list-popup-editor_trigger {
  visibility: hidden;
  padding-left: 4px;
  color: #999!important;
}

.list-popup-editor_desc {
  color: #f44;
}

.list-popup-editor-pop {
  .zent-pop-inner {
    padding: 10px;
  }
}

.tr:hover, tr:hover {
  .list-popup-editor_trigger {
    visibility: visible;
  }
}

.list-popup-editor-num {
  display: flex;
  align-items: center;
  .zent-btn {
    margin-left: 5px;
  }
}

.list-popup-editor_btn-group {
  line-height: 1;
  padding-left: 10px;
  a {
    &::after {
      color: #333;
      content: ' | ';
      display: inline;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
