.tend-to-order {
  &__container {
    font-size: 12px;
    line-height: 18px;
  }

  &__des {
    color: #969799;
    margin-right: 8px;
  }
  &__link {
    cursor: pointer;
    color: #155bd4;
  }
}
