@import 'vars/colors';
$black: #333;

.date-input {
  display: inline-block;

  &__title {
    vertical-align: middle;
    color: $black;
  }

  &__range {
    display: inline-block;
    vertical-align: middle;

    &-refresh {
      margin-left: 10px;
    }
  }

  &__select {
    vertical-align: middle;
  }

  &__range-picker .picker-input {
    width: 110px;
  }

  a {
    color: $linkColor;

    &:hover,
    &:focus {
      color: $linkColor;
      cursor: pointer;
    }
  }
}
