.rc-design-component-knowledge-goods-editor {
  .decorate-divider {
    padding: 14px 16px;
  }

  .deco-control-group.title-bar {
    padding: 24px 16px;
  }
  .controls-card.title-bar {
    margin-bottom: 10px;
  }
  .goods-from-mode {
    .zent-number-input-wrapper {
      padding: 0 8px;
      width: 60px;
      display: inline-block;
      .zent-input {
        min-width: 60px;
      }
    }

    .deco-editor-card {
      width: 100%;
    }
  }

  .icon {

    &-drag {
      flex: 0 0 auto;
      margin-right: 8px;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-image: url(https://img.yzcdn.cn/public_files/2019/02/11/6c383209a91d0cba0c46b906f3d027d2.png);
      cursor: move;
    }

    &-delete {
      visibility: hidden;
      flex: 0 0 auto;
      margin-left: 12px;
      margin-right: 8px;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-image: url(https://img.yzcdn.cn/public_files/2019/01/25/9b128a3927c6e1484058d2c70cf2e11f.png);
      cursor: pointer;
    }
  }

  .subentry-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 40px;
    font-size: 14px;
    padding: 0 10px;

    a {
      flex: 1 1 auto;
      margin-left: 8px;
      color: #155bd4;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }


    &:hover {
      .icon-delete {
        visibility: visible;
      }
    }
  }

  .controls-card__style {
    .deco-radio-button {
      flex-grow: 1;
    }
    .zent-checkbox-group {
      display: block;
    }
  }
}
