@import 'vars/colors';
@import '~shared/sass/mixins/retina';

.order-delivery-bar {
  background: $theme-stroke-9;
  padding: 10px;
  text-align: left;

  & + & {
    border-top: 1px solid $borderColor;
  }

  &__row {
    display: flex;
    align-items: center;
    line-height: 30px;
  }

  &__operation {
    margin-left: 10px;
  }

  &-text {
    color: $greenColor;

    &__danger {
      color: $redColor;

      .order-delivery-bar-icon {
        background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/378efdd20e2ca983d42d5b372e316805.png);

        @include retina {
          background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/159fa7d0372b8e9da07eba7eed5eec7a.png);
        }
      }
    }
  }

  &-icon {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 10px;
    background-size: cover;
    background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/e6a2a97efa46fa01a656a7a3f9c0d113.png);

    @include retina {
      background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/5c86a16d1cf51795e5e93346558e0b86.png);
    }
  }

  &-transport {
    text-align: center;

    &-text {
      color: $grayColor;
      margin-right: 10px;
    }
  }

  &__action {
    text-align: right;

    &-btn {
      margin-right: 10px;
    }
  }

  &__tip {
    .price-content {
      margin: 10px 0 20px;
    }

    .is-selected {
      position: relative;
      border-color: $linkColor;
    }

    .is-selected:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 15px 15px;
      border-color: transparent transparent $linkColor;
      bottom: 0;
      right: 0;
    }

    .is-selected:before {
      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      background-image: url(https://dn-kdt-img-test.qbox.me/public_files/2018/06/04/cd87acb01c80b7f5089e983f05636bd0.png);
      background-size: 100% 100%;
      bottom: 0;
      right: 0;
      z-index: 1;
    }

    &-text {
      margin: 10px 0;
    }

    &-action {
      text-align: right;
    }
  }

  &__detail {
    &-main {
      display: inline-block;
    }

    &-map {
      margin-bottom: 20px;
      width: 575px;
      height: 300px;
    }

    &-table {
      tr {
        border: 1px solid $borderColor;
      }

      td {
        padding: 10px;
        box-sizing: border-box;
      }

      .item {
        border-left: 1px solid $borderColor;
        line-height: 20px;
      }

      &-item {
        padding: 10px;
        vertical-align: middle;

        img {
          width: 60px;
          height: 60px;
        }

        .item-info {
          width: 150px;
          vertical-align: middle;
        }

        .num {
          width: 50px;
          vertical-align: middle;
          text-align: right;
        }
      }

      &-info {
        width: 230px;
        padding: 20px;
        vertical-align: middle;
      }

      &-fee {
        padding: 20px;
        vertical-align: middle;
        text-align: center;
      }
    }

    &-side {
      display: inline-block;
      margin-left: 20px;
      vertical-align: top;

      &-btn {
        margin-bottom: 20px;
      }

      .record-step {
        display: flex;

        &-bar {
          width: 20px;
          margin-right: 20px;

          &-icon {
            text-align: center;
          }

          .current-icon {
            color: $greenColor;
          }

          .done-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $theme-stroke-6;
          }

          &-tail {
            background: $theme-stroke-6;
            width: 2px;
            height: 50px;
            margin: 0 auto;
          }
        }

        &-content {
          &-time {
            font-size: 12px;
            color: $grayColor;
          }
        }
      }
    }
  }
}

.delivery-cancel-dialog-select {
  width: 100%;
}
