.reserve-panel {
  position: relative;

  .zent-page-loading {
    z-index: 102;
  }
}

.reserve-panel-content {
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 222px); // test

  &__left {
    float: left;
    overflow: hidden;
    padding-top: 10px;
    width: 45px;
  }

  &__right {
    overflow-x: auto;
    margin-left: 45px;
    padding-top: 10px;
    white-space: nowrap;
  }
}

.appointment-panel-content {
  height: calc(100vh - 300px);
  // todo 蒙层问题

  .ebiz-schedule__week__header {
    height: 50px;
  }
}

.ebiz-schedule__columns {
  .ebiz-mouse-follow {
    width: auto;
  }
}
