@import 'vars/colors';

.question-container {

  .question-body {
    margin-left: 16px;

    .option-container {
      padding: 8px 0;

      &:last-of-type {
        padding-bottom: 40px;
      }

      .option-radio-label {
        margin-left: 8px;
      }

      div.question-option {
        width: 56px;
        height: 56px;
        position: relative;
        display: inline-block;
        cursor: default;

        .zent-checkbox-label {
          position: relative;
        }

        img {
          display: block;
          margin: auto;
          width: 48px;
          height: 48px;
          position: relative;
          top: 4px;
          border-radius: 2px;
        }

        .option {
          display: none;
        }

        div.option-correct {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px $theme-success-7 solid;
          border-radius: 4px;
          box-sizing: border-box;

          i {
            position: absolute;
            right: 1px;
            top: 1px;
            z-index: 2;
          }

          .zenticon-check {
            font-size: 11px;
            color: $theme-stroke-12;
            font-weight: 900;
            top: -1px;
            right: -0.5px;
          }

          &:after {
            position: absolute;
            display: block;
            content: " ";
            right: 0;
            top: 0;
            border-color: $theme-success-7 $theme-success-7 transparent transparent;
            border-style: solid;
            border-width: 10.5px;
            z-index: 1;
          }
        }
      }

      span.question-option {
        color: $normalColor;
      }

      .question-option.option-correct {
        color: $theme-success-7;
      }

      .zent-checkbox > input, .zent-radio > input {
        cursor: default;
      }

      .zent-radio-wrap, .zent-checkbox-wrap {
        cursor: default;
      }
    }
  }

  .question-title {
    display: flex;
    padding-bottom: 16px;

    span {
      font-weight: 500;
    }

    .question-image {
      display: block;
      width: 88px;
      height: 88px;
      margin: 8px 0 0 0;
      position: relative;
      border-radius: 2px;
    }

    .question-number {
      margin-right: 4px;
    }

    .question-type {
      font-size: 12px;
      color: $darkGrayColor;
      border: 1px $theme-stroke-5 solid;
      border-radius: 2px;
      margin-left: 8px;
      padding: 0 4px;
    }

    .video-player-wrap {
      margin: 8px 0 0 0;

      .img-wrap {
        border-radius: 2px;
      }

      .video__headImg__icon {
        font-size: 24px;
      }
    }
  }

  &.show {
    animation: highlight-content 1s linear 0s 1 normal none;
  }

  @keyframes highlight-content {
    0% { background: #fff; }
    10% { background: aliceblue; }
    100% { background: #fff; }
  }
}