{% extends '../common/base.html' %}

{% block page_title %} {{ title }} {% endblock %}

{% block page_style %}
  {{ loadCss('version_h5_css.css/trade/buy') | safe }}
{% endblock %}

{# 页面内容 #}
{% block page_content %}
  <div class="container" style="min-height: 812px; min-height: 100vh;">
      <div id="app"></div>
  </div>

  {# 店铺休息 #}
  {% if shopRestHtml %}
    {{ shopRestHtml | safe }}
  {% endif %}
{% endblock %}

{% block page_script %}
  <script src="{{ diyCheckScript }}"></script>
  {{ loadJs('version_h5_js.js/trade/buy') | safe }}
{% endblock %}
