.reply_dialog_option {
  color: #155bd4;
  cursor: pointer;
}

.reply_dialog_option_disabled {
  color: #999;
}

.reply_dialog_grid {
  .zent-grid-thead {
    display: none;
  }

  .zent-grid-td {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .zent-grid-empty {
    padding-top: 30px;
    min-height: 200px;
  }
}

.reply_dialog_top {
  margin-bottom: 16px;
}

.reply_dialog_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  &-img {
    width: 118px;
    height: 90px;
  }
  &-tip {
   margin-top: 16px;
   margin-bottom: 0;
   line-height: 20px;
   font-size: 14px;
   color: #969799;
  }
}

.create_reply_input {
  margin-bottom: 15px;
  height: 158px !important;

  .zent-textarea {
    height: 100%;
  }
}

.create-reply-operation {
  width: 100%;
  text-align: right;
}

.reply-user-wrap {
  display: flex;
  .reply-avatar {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    overflow: hidden;
    background-color: #DBDBDB;
    border-radius: 40px;
  }

  .reply-content-row {
    margin-bottom: 10px;
    margin-top: 5px;
    max-width: 500px;
    word-break: break-all;
  }

  .reply-operation-wrap {
    // display: flex;
    position: relative;
    text-align: right;
    // justify-content: space-between;
    .reply-operation-time {
      color: #969799;
      font-size: 12px;
      position: absolute;
      left: 0;
      bottom: 0;
      line-height: 1;
    }
  }
}
