@import '../_theme_template';

// 颜色依次为： 通用组件（价格、图标、规格选中色等）、主按钮背景、主按钮文字、辅按钮背景、辅按钮文字
$general: #09bb07;
$main-bg: #09bb07;
$main-text: #fff;
$vice-bg: #333;
$vice-text: #fff;
$start-bg: #09bb07;
$end-bg: #84dd83;
$start-new-bg: #56c700;
$end-new-bg: #09bb07;
$tag-new-bg: #e6f8e6;
$vice-new-bg: #333;
$vice-new-text: #fff;
$activity-main-lines: url('https://img.yzcdn.cn/wsc-h5-vis/light-lines_2019-11-1.png');
$activity-vice-lines: url('https://img.yzcdn.cn/wsc-h5-vis/light-lines_2019-11-1.png');

.green-black-theme {
  /* jscpd:ignore-start */
  @include colorGenerator($general, $main-bg, $main-text, $vice-bg, $vice-text);
	@include vantSkuGenerator($general, $main-bg, $main-text, $vice-bg, $vice-text);
  @include colorActivityBanner($start-new-bg, $end-new-bg);
  @include featureColorGenerator($general, $start-bg, $end-bg, $main-text, $tag-new-bg);
  @include classGenerator(
    $general,
    $main-bg,
    $main-text,
    $vice-bg,
    $vice-text,
    $start-bg,
    $end-bg,
    $start-new-bg,
    $end-new-bg,
    $tag-new-bg,
    $vice-new-bg,
    $vice-new-text,
    $activity-main-lines,
    $activity-vice-lines
  );
  /* jscpd:ignore-end */
}
