.zent-radio-group.ebiz-radio-input-field {
  display: flex;
  flex-direction: column;
}
.zent-radio-group.ebiz-radio-input-field--row {
  flex-direction: row;
}
.zent-radio-group.ebiz-radio-input-field .zent-radio-wrap {
  display: flex;
  align-items: center;
  min-height: 30px;
}
.zent-radio-group.ebiz-radio-input-field .zent-radio-wrap + .zent-radio-wrap {
  margin-top: 10px;
}
.zent-radio-group.ebiz-radio-input-field .zent-radio-wrap .zent-radio-label {
  display: flex;
  align-items: center;
}
.zent-radio-group.ebiz-radio-input-field .zent-radio-wrap .ebiz-radio-input-field__input {
  margin: 0 10px;
}
.zent-radio-group.ebiz-radio-input-field .ebiz-radio-input-field__desc {
  margin: 10px 0 0 24px;
  color: #969799;
  line-height: 14px;
  font-size: 12px;
}
.zent-radio-group.ebiz-radio-input-field .ebiz-radio-input-field__desc + .zent-radio-wrap {
  margin-top: 10px;
}.ebiz-form__preview {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px 0.1px #000;
  white-space: pre-wrap;
  z-index: 1000;
}