.notice__dialog {
  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__description {
    margin-top: 60px;
    & p {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-top: 32px;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
  }
}