.limit-type-group {
  display: flex;

  &__input {
    display: inline-block;
    margin: 0 10px;

    .zent-input {
      width: 200px;
      min-width: 65px !important;
    }
  }

  span {
    line-height: 30px;
  }

  .zent-checkbox-wrap {
    line-height: 30px;
    margin-right: 8px;
  }
}
