@import 'vars/colors';

.page-container {
  padding: 16px;
  background-color: #fff;
}

.event-list {
  h1 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: 16px;
  }

  .easy-grid-container .zent-grid-empty {
    height: 215px;
    border-bottom: none;

    & + .zent-grid-tfoot {
      display: none;
    }
  }

  .operations .operation {
    color: $blueColor;
    cursor: pointer;
  }
}

.referral__invalidate-pop {
  .content {
    width: 376px;
    margin-bottom: 16px;
  }

  &.zent-pop--no-header .zent-pop-buttons {
    display: block;
  }
}
