@import 'vars/colors';

.upsert-student-dialog {
  &-wrapper {
    width: 630px;
  }

  &-footer {
    margin-top: 50px;
    text-align: right;
  }

  .zent-form-horizontal .zent-form-label {
    flex-basis: 160px;
  }

  .zent-form-error.zent-font-small {
    margin-top: 10px;
  }

  .zent-input-wrapper.zent-input--size-normal {
    width: 185px;
  }

  .ebiz-select-trigger__input::-webkit-input-placeholder {
    color: $theme-stroke-5;
  }

  .has-error {
    &.period-field, &.validDate-field {
      .zent-form-description {
        display: none;
      }
    }
  }
}

.ebiz-select.zent-popover {
  z-index: 2000;
}

.has-error .ebiz-select-trigger.wrapper {
  border-color: var(--theme-error-2, #d40000);
}