.workbook-manage {
  @import 'common/empty-list';

  &__list-container {
    padding: 16px;

    span.disabled {
      color: #bbb;
      cursor: not-allowed;
    }

    .easy-filter__actions-preset, .easy-filter__actions-custom {
      margin-left: 8px;
    }

    .student-assignments {
      height: 17px;
    }

    .operations-container .commonlink-operation {
      height: 17px;
    }
  }
}
