



// 文字类颜色
$text-n5: #c8c9cc; // Disable、提示文字等
$text-n6: #969799; // 辅助、说明文字 
$text-n7: #646566; // 主文字2
$text-n8: #323233; // 主文字


// 白色
$white: #ffffff;

// 黑色
$black: #000000;


:export {
    bg: {
        n1: $bg-n1;
        n2: $bg-n2;
    }
}