.flex-center {
  display: flex;
  align-items: center;
}

.contact-phone-field {
  & &__select {
    width: 70px;
  }

  &__input {
    display: inline-block;

    &--short {
      max-width: 50px;

      .zent-input {
        width: 100%;
        min-width: 0;
      }
    }
  }

  & > &__control {
    display: flex;
  }

}

.separator {
  margin: 0 5px;
}
