.decorate-weapp-live-editor {
  &__card-item {
    width: 50px;
    height: 50px;
  }

  &__card-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__tips {
    padding: 0 12px;
    color: #323233;
  }

  &__star {
    color: #d40000;
  }

  a {
    color: #155bd4;
  }
}
