@import 'mixins/index.scss';

.insti-intro {
  padding: 16px 16px 14px;
  &__content {
    position: relative;
    min-height: 100px;
    margin-bottom: 8px;
    background-color: $white;

    .intro {
      min-height: 100px;
      font-size: 14px;
      line-height: 24px;
      color: $main-text-color;

      ::v-deep img {
        width: 100%;
      }

      ::v-deep video {
        width: 100%;
      }
    }

    &-showMore {
      margin-top: 16px;
      font-size: 14px;
      color: $main-text-color;
      text-align: center;

      .icon {
        vertical-align: top;
      }
    }
  }
}
