.schedule__loading__wrap {
  .zent-loading-mask {
    z-index: 999;
  }
}
.panel__schedule {
  position: relative;
  z-index: 10;
  margin-top: 16px;
  background: #fff;
 
  .schedule__view__pagination {
    margin-top: 16px;
  }

  .schedule-week-header {
    &__icon {
      position: absolute;
      top: 0 
    }

    &__today {
      margin-top: 8px;
      color: #000;
      font-size: 16px;
    }

    &__content{
      margin-top: 8px;
      color: #969799;
      font-size: 16px;
    }

    &__enabled {
      margin-bottom: 8px;
      cursor: pointer;
      color: #155bd4;
    }

    &__disabled {
      margin-bottom: 8px;
      color: #969799;
    }
  }

  .render-field-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .resource-field-wrapper {
    width: 100%;
    height: 100%;

    .panel__schedule__detail {
      height: auto;
    }
  }

  .ebiz-schedule {
    overflow-x: auto;
    overflow-y: hidden;
    height: 85%;
    &__week {
      min-width: 930px;

      &__header {
        line-height: normal;
        &__cell {
          position: relative;
        }
      }
    }

    &__month {
      .ebiz-calendar__panel {
        height: auto;
      }
    }

    &__week__header__viewstart {
      color: #969799;
      font-size: 16px;
      margin: 8px 0 4px;
    }

    .ebiz-calendar__columnstart {
      width: 100%;
      text-align: center;
      word-break: break-all;
      white-space: normal;
      font-size: 14px;
    }

    &.schedule-scroll::before {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 101;
      display: none;
      display: table-cell;
      height: 100%;
      background-color: #f2f3f5;
      color: #999;
      content: '向右查看更多';
      -ms-writing-mode: tb-rl;
      vertical-align: middle;
      text-align: center;
      word-wrap: break-word;
      letter-spacing: 5px;

      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }

    .ebiz-calendar__panel__body-cell {
      .active {
        background-color: transparent;
      }
    }
  }

  &__legend {
    position: relative;
    margin-left: 15px;
    padding: 12px;
    color: #333;

    li {
      position: relative;
      float: left;
      line-height: 14px;

      &.status {
        margin-right: 10px;
        width: 14px;
        height: 14px;
        border-radius: 2px;
      }

      &.success {
        background: #3dc16b;
      }

      &.danger {
        background: #ff4444;
      }

      &.text {
        margin-right: 40px;
      }
    }
  }

  .ebiz-calendar__panel {
    position: relative;
    height: calc(100vh - 220px);

    &__days {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      line-height: 40px;
    }

    &__body {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      height: calc(100% - 40px);

      & > .ebiz-calendar__panel__row {
        display: flex;
        flex: 1;
        flex-direction: row;
      }

      &-cell {
        height: 100%;

        .full-calendar {
          &__cell {
            display: flex;
            flex-direction: column;
            height: 100%;
          }

          &__content {
            flex: 1;
          }
        }
      }
    }
  }
}

.schedule__notice {
  position: absolute !important;
  left: 260px;
  top: 100px;
  padding-top: 0 !important;
  &__subtitle {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 35px;
  }

  &__btn {
    text-align: right;
  }

}

.ebiz-schedule__day__content {
  .ebiz-schedule__column__field {
    width: 125px !important;
  }
}