
.statistic-student {
  &__wrap {
    display: flex;

    .avatar {
      height: 48px;
      width: 48px;
      line-height: 48px;
    }
  }

  &__info {
    margin-left: 10px;
  }

  &__mobile {
    margin-top: 8px;
  }
}
