.examination__blank-state {
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-content {
        text-align: center;
        font-size: 14px;
        color: #969799;
        img {
            height: 90px;
            margin-bottom: 16px;
        }
    }
}