.student-dialog {
  &__footer {
    width: 100%;
    padding-top: 4px;
    text-align: right;
  }

  &__filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 15px;
    color: #9B9B9B;
  } 
}