.captcha-input-field {
  .zent-input-wrapper {
    height: 40px;
    max-height: 40px;
  }

  .zent-btn-primary {
    line-height: 40px;
    height: 40px;
    width: 110px;
  }

  .zent-btn-disabled {
    line-height: 40px;
    height: 40px;
    width: 110px;
  }

  .captcha-input {
    height: 40px !important;
    width: 200px !important;// sass-lint:disable-line no-important
  }
}

