$text--gray: #a0a1a3;

.editable {
  padding: 8px 16px 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    color: $text--gray;
    box-sizing: border-box;
  }

  &__children {
    margin-top: 8px;
  }

  &__error-msg {
    height: 24px;
    padding-left: 28px;
    margin: -8px 0;
    font-size: 12px;
    line-height: 24px;
    color: #ee0a24;
  }
}
