@import 'vars/_colors';

.awards-wrap {
  .coupon-wrap {
    margin-bottom: 0px;
    .zent-form__control-label {
      width: 0px;
    }
  }

  .zent-row {
    flex-direction: column;
  }

  .coupon-row {
    & > label {
      line-height: 32px;
    }
    margin-bottom: 5px;
  }

  .awards-helpdesc {
    font-size: 12px;
    color: rgb(153, 153, 153);
  }

  .pointnumber-field {
    margin: 0 12px 0 0 !important;
    .zent-form__control-label {
      width: 0px;
    }
  }

  .processing-award__node {
    display: flex;
    line-height: 32px;
  }

  .member-pointer-row {
    & .zent-radio {
      line-height: 32px !important;
    }
    & label, & .zent-radio-label {
      display: flex !important;
      line-height: 32px !important;
    }
  }

  .tip-link {
    color: $blueColor;
  }
}
