.source-info {
  width: inherit;
  dl {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    dt {
      flex: 1;
      color: #969799;
    }

    dd {
      width: 150px;
      box-sizing: border-box;
      word-break: break-all;
    }
  }
  dl > dd > a {
    display: inline-block;
    margin-top: 10px;
  }
}