.paid-content-container {
  float: left;
  margin-left: -200px;
  width: 200px;
  border-right: 1px solid #f2f2f2;
  box-sizing: border-box;

  &__title {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .paid-content-list {
    margin-top: 15px;
    height: calc(100vh - 225px);
    min-height: 435px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
    }

    &__item-wrap {
      padding-right: 10px;

      &--active {
        background: #f8f8f8;
      }

      &:hover {
        background: #f8f8f8;
      }

      &--disabled {
        padding-right: 10px;
        position: relative;

        .tip-title {
          padding: 12px 10px 10px;
          border-bottom: 1px solid #e5e5e5;
        }

        .tip-link {
          position: absolute;
          right: 10px;
          top: 12px;
        }
      }
    }

    &__item {
      cursor: pointer;
      padding: 12px 10px 10px;
      border-bottom: 1px solid #e5e5e5;

      &__title {
        font-size: 14px;
        line-height: 17px;

        .zent-tag {
          margin-right: 5px;
        }
      }

      &__desc {
        margin-top: 3px;
        color: #969799;
        font-size: 14px;
        line-height: 17px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__other {
        margin-top: 21px;
        color: #969799;
        font-size: 12px;
        line-height: 14px;
        position: relative;

        .zent-popover-wrapper {
          float: right;
        }
      }

      &__bubble {
        position: absolute;
        min-width: 14px;
        top: -24px;
        right: 0;
        background-color: #FC4343;
        text-align: center;
        color: #fff;
        padding: 2px;
        border-radius: 2px;
        &::before {
          position: absolute;
          content: '';
          border-left: solid 3px transparent;
          border-right: solid 3px transparent;
          border-top: solid 3px #FC4343;
          top: 18px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &__time {
        float: left;
      }

      &__count {
        float: right;
        position: relative;

        &--new {
          position: absolute;
          top: -16px;
          right: 0;
          height: 16px;
          width: 18px;
          // background-image: url(./bubble.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}
