.clue-detail__etc {
  padding: 0 0 0 16px;

  hr {
    margin: 16px 0;
    border-bottom: 0;
  }

  &__tabs {
    margin-top: 14px;
  }

  &__header {
    h3 {
      display: inline-block;
      margin-right: 21px;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      vertical-align: middle;
    }
  }
}
