.modify-teacherAndAssistant__container {
  .addon-info.zent-form-control {
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;

    .zent-form-label {
      width: 120px;
      text-align: right;
    }

    .zent-form-control-content {
      margin-left: 10px;
      flex: 1;
    }
  }

  .dialog-r-body {
    padding: 0;
  }

  .dialog-r-footer {
    padding-right: 0;
    padding-left: 0;
  }

  .addon-info.zent-form-control:last-child {
    margin-bottom: 0;
  }
}