.fullguide-follow {
  .fullguide-copyright {
    > p {
      line-height: 1.2;
    }
  }

  > p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }

  > img {
    width: 160px;
    height: 160px;
    margin-top: 20px;
  }

  &__wxid {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;

    img {
      width: 200px;
      height: 200px;
      margin-top: 20px;
    }
  }

  &__no-weixin {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    background: url(https://img01.yzcdn.cn/v2/image/wap/cannot_follow@2x.png) no-repeat;
    background-size: cover;
  }

  &__inner-title {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    border-bottom: 1px solid #666;
  }

  &__text {
    padding-bottom: 20px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #666;

    &-title {
      margin: 15px 0;
      font-size: 20px;
      color: #fff;
    }

    &-step {
      padding-left: 56px;
      margin-bottom: 10px;
      font-size: 16px;
      color: #fff;
      text-align: left;
    }
  }
}
