.fullguide-share {
  line-height: 30px;
  color: #fff;
  text-align: center;
}

.fullguide-share__one {
  font-size: 20px;
  font-weight: 500;
}

.fullguide-share__two {
  font-size: 14px;
}

.has-floating-window {
  max-height: 100vh;
}
