@import "vars/_colors";

.nav-wrapper {
  position: relative;
  min-width: 800px;
  background-color: #fff;
  &__navbar {
    margin-top: -10px;
    margin-bottom: 16px;

    .rc-sidebar-breadcrumb {
      color: $normalColor;
    }
  }
}
