@import 'vars/_colors.scss';

.goods-selector-v2 {
  &__goods {
    display: flex;
    // 宽度要减去左右内边距28px
    width: 332px;
    overflow: hidden;
    align-items: center;

    &-info {
      margin-left: 8px;
      display: flex;
      flex-direction: column;

      &_price {
        margin-top: 6px;
        font-size: 12px;
        color: #ED6A0C;
      }
    }
  }

  .zent-grid {
    margin-top: 16px;
    width: inherit;
  }

  .description {
    font-size: 14px;
    color: $grayColor;
  }

  &__dialog .gsv2-selector {
    max-height: unset !important;
  }
}
