.edu__clue-detail-change-phase-dialog {
  .zent-form__control-group {
    display: flex;
  }

  .zent-form__control-label {
    width: 95px;
    padding-right: 5px;
    text-align: right;
  }

  .zent-dialog-r-footer {
    text-align: right;
    padding: 16px 16px 0;
  }
}
