.upload-cover-wrapper {
  .cover-img {
    position: relative;
    display: inline-block;

    img {
      max-width: 80px;
      max-height: 80px;
    }

    &.cover-img-remove {
      &:hover {
        .cover-close-icon {
          width: 12px;
          height: 12px;
          position: absolute;
          right: -6px;
          top: -6px;
          background-image: url('https://b.yzcdn.cn/fix-base64/a401f6641dedae29f85bf21cf8f6e9291aa0651f88ee55272e9181b96560a408.png');
          background-repeat: no-repeat;
          background-size: 12px;
          z-index: 99;
          cursor: pointer;
        }
      }
    }
  }

  .upload-text-trigger {
    margin-left: 5px;
    font-size: 0;

    span::after {
      content: '重新选择';
      line-height: 16px;
      font-size: 12px;
      color: #155bd4;
    }
  }

  .upload-cover-ele {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;

    .category-item {
      font-size: 14px;
    }
  }
}

.upload-cover-ele {
  .category-item {
    font-size: 14px !important;
  }
}
