html,
body {
  height: 100%;
}

.app-container {
  height: 100%;
}

.page-consult {
  position: relative;
  width: 900px;
  height: 100%;
  margin: 0 auto;

  .head {
    height: 24px;
    line-height: 30px;
    padding: 26px 0 21px;
  }

  .logo {
    float: left;
    width: 70px;
    height: 24px;
    background-size: 100% 100%;
    background-image: url(https://img.yzcdn.cn/wsc/shop/img/logo@2x.png);
  }

  .tip {
    text-align: center;
    padding: 40px 0 30px;
    border-top: 1px solid #eee;
    font-size: 14px;
    font-weight: bold;
  }

  .zent-form {
    width: 450px;
    margin: 0 auto;
  }

  .foot {
    text-align: center;
    font-size: 12px;
    color: #999;
    position: absolute;
    width: 100%;
    bottom: 30px;
  }

  .consult-form {
    .zent-form__control-group {
      display: flex;

      .zent-form__controls {
        flex-grow: 1;
      }
    }

    .zent-form__form-actions {
      .zent-btn {
        width: 100%;
      }
    }
  }
}
