.edit-rewards-form {
  .hide {
    display: none;
  }

  .app-design {
    min-width: 750px;
    margin: 0 auto;
    position: relative;
  
    .app-action {
      position: fixed;
      bottom: 0;
      z-index: 1;
      left: 100px !important;
      width: 96%;
      padding: 10px 0;
      text-align: center;
      transition: right .5s;
      background-color: #fff;
      box-shadow: 0 -2px 2px 0 rgba(0,0,0,.07);
    }
  }

  .rewardsection-title-block {
    width: 100%;
    height: 40px;
    background-color: rgba(248, 248, 248, 1);
    margin-bottom: 20px;
    .rewardsection-title {
      font-size: 14px;
      line-height: 40px;
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .reward-course-select-wrap {
    margin-top: 5px;
  }

  .reward-course-column-wrap {
    display: flex;
    .reward-course-image-wrap {
      position: relative;
      overflow: hidden;
      width: 60px;
      height: 60px;
    }
    
    .reward-course-image-blur {
      filter: blur(10px);
      width: 100%;
      height: 100%;
    }
    
    .reward-course-image {
      position: absolute;
      left: 50%;
      top: 50%;
      max-height: 100%;
      max-width: 100%;
      border-radius: 4px;
      transform: translate(-50%, -50%)
    }

    .reward-course-words {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 10px;
      max-width: 100px;
    }
  }

  .reward-course-operation {
    color: #3283FA;
    cursor: pointer;
  }

  .awards-wrap .tip-link {
    color: inherit;
  }
}
