
.reward-nav-wrapper {
  margin-top: -15px;
}

.rewards-list {

  .reward-operation-cell {
    margin-left: 5px;
    color: #38f;
    cursor: pointer;
  }

  .reward-create-btn {
    margin-top: 15px;
  }

  .zent-select {
    margin-right: 0;
  }
}
