.campus-filter-wrap {

  line-height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;

  // 普通选择器适配样式
  .zent-select {
    margin-right: 0;
    width: max-content;

    &-text {
      border: 0;
      padding-left: 0;

      .zent-select-placeholder {
        // @include theme-color(color, stroke, 3);
      }

      &::after {
        right: 5px;
      }

      &.visible {
        box-shadow: none;
      }
    }
  }

}
