.card-list__item {
    &-header-subtitle {
        font-weight: normal;
    }
    &-zent-card {
        .operations-item {
            &:empty {
                display: none;
            }
            a {
                font-weight: normal;
            }
        }
    }
}
