.suitage-range-wrap {
  display: flex;
  line-height: 30px;
  &>span {
    padding: 0 5px;
  }
}

.educourse-number {
  width: 80px;
}

.suitage-dropdownbtn {
  width: 60px;
  margin-left: 5px;
  text-align: center;

}

.suitage-dropdownbtn-popup {
  width: 60px;
}