.teacher-list-wrap {
  .vis-filter_region {
    margin-top: 0;

    .valuntary-async-select-option {
      margin-bottom: 0;
    }
  }

  .picker-input {
    width: 165px;
  }

  .dpSoto {
    color: #155bd4 !important;
  }
}
