:local(.content) {
  display: flex;
  min-height: 400px;
  .img {
    width: 240px;
    height: 240px;
    background: #f7f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 160px;
      height: 160px;
    }
  }
  .info {
    margin-left: 16px;
    .url {
      margin-top: 12px;
      margin-bottom: 24px;
      display: flex;
      .input {
        width: 260px;
        :global(.zent-input-addon-after) {
          padding: 0;
        }
      }
      :global(.copy-button) {
        border-radius: 0;
        border: 0;
      }
    }
    .action {
      color: #646566;
    }
  }
}
