.mp-account-warning {
  margin-bottom: 10px;

  strong {
    font-weight: bolder;
  }
}

.global-warning-tip {
  margin-bottom: 15px;

  &__ignore-action {
    margin-left: 15px;
    cursor: pointer;
  }

  &__text-btn {
    margin-left: 15px;
    cursor: pointer;
  }
}

.big-tab {
  // margin-bottom: 20px;

  [aria-labelledby$='gpunch'] {
    &::before {
      position: absolute;
      top: 0;
      right: 7px;
      box-sizing: border-box;
      width: 15px;
      height: 15px;
      background-color: #ef5435;
      color: #ffffff;
      content: 'N';
      vertical-align: middle;
      text-align: center;
      font-size: 10px;
      transform: scale(0.8) translate(-1px, -3px);
    }

    &::after {
      position: absolute;
      top: 10px;
      right: 14px;
      width: 0;
      height: 0;
      border-top: 5px solid #ef5435;
      border-right: 6px solid transparent;
      content: ' ';
    }
  }
}

.global-tab-wrap {
  position: relative;

  .zent-tabs-nav-content {
    padding-right: 60px;
  }

  &__setting-action {
    cursor: pointer;
  }

  .zent-tabs-tab__actived {
    background-color: transparent;
  }

  // 互动上的红点
  .zent-tabs.has-unread [aria-labelledby*='interactive']::after {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ff0000;
    content: ' ';
  }
}

.tabs-dot {
  position: absolute;
}

.market-wrapper {
  margin-bottom: 0;
  min-height: 30px;
  width: 100%;

  .app-board-fadeIn {
    margin-bottom: 0;
  }
}

// 营销 Tab 上的红点，直接使用 Zent 的 Badge 会有 Bug
.ump-tabname-dot{
  position: relative;
}
.ump-tabname-dot::after{
  content: " ";
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  background-color: #d40000;
  top:0px;
  right: -15px;
}