.deco-footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 376px;
  padding: 9px;
  background-color: #fff;
  box-shadow: 0 -2px 8px 0 rgba(200,201,204,0.50);
  z-index: 10;
}

/* 右侧展开帮助菜单 */
.show-help .deco-footer {
  right: 224px;
}
