.block-editor {
  .vis-video-patch__container {
    width: 100% !important;
  }

  &__buttons {
    display: flex;
    padding: 16px;

    .vis-img-uploader,
    .vis-video-uploader,
    .audio-uploader {
      flex: 1 1 auto;
      margin-right: 8px;

      .vis-img-uploader-drag,
      .vis-video-uploader-drag,
      .van-uploader,
      .van-uploader__wrapper,
      .van-button,
      .van-uploader__input-wrapper {
        width: 100%;
        margin-right: 0;
      }
    }

    .van-button {
      margin-right: 8px;
      flex: 1 1 auto;

      &:last-child {
        margin-right: 0;
      }

      .vis-icon {
        margin-right: 4px;
        vertical-align: -.3em;
      }
    }
  }

  &__error-msg {
    height: 24px;
    padding-left: 28px;
    margin: -8px 0;
    font-size: 12px;
    line-height: 24px;
    color: #ee0a24;
  }
}
