.contact-customer-pop-wrap {
  width: auto !important;

  .zent-pop-inner {
    padding: 0 !important;
  }
}

.contact-customer-wrap {
  min-height: 30px;
  width: 148px;
  text-align: center;

  .loading-img {
    margin-top: 6px;
  }

  .way-menu {
    width: 148px !important;
  }
}

.way-menu__item-image {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  transform: translateY(4px);
}

.contact-customer.disabled {
  color: #999;

  * {
    color: #999 !important;
  }
}