.activity-success-page {
  padding-top: 144px;
  text-align: center;

  .success-icon {
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
  }

  .success-info {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }

  .promotion-desc {
    margin-bottom: 16px;
    font-size: 14px;
    color: #646566;
  }

  .promotion-option {
    margin-bottom: 64px;
  }

  .activity-option > a {
    margin-left: 16px;
  }
}
