.pct-freebie-gift-field {
  .zent-checkbox-wrap {
    display: flex;
  }

  .zent-checkbox {
    padding-top: 6px;
  }
}

.pct-freebie-edit {
  padding: 0;
}

.pct-freebie-inline-field {
  display: inline-block;
  margin: 0 16px !important;
  vertical-align: middle;

  .zent-form__control-label {
    display: none !important;
  }

  .zent-form__controls {
    margin-left: 0 !important;
  }
}

.pct-freebie-sub-field {
  margin-bottom: 8px;
  margin-left: 24px;
  font-size: 14px;

  .zent-form__control-label {
    display: none !important;
  }

  .zent-form__controls {
    margin-left: 0 !important;
  }
}

.pct-freebie-radio-field {
  margin-bottom: 16px;
  line-height: 28px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.pct-freebie-no-field {
  margin-bottom: 8px !important;
  line-height: 30px;
}

.pct-freebie-hidden-field {
  width: 0;
  height: 0;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.pct-freebie-help-desc {
  margin: 10px 0 24px 130px;
  font-size: 12px;
  line-height: 14px;
  color: #969799;
}

.pct-freebie-link {
  margin-bottom: 8px;
  cursor: pointer;
}

.pct-freebie-limit-num-radio-field {
  .zent-form__help-desc {
    max-width: 702px;
  }
}

.form-presents__show {
  display: block;
}

.form-presents__hidden {
  display: none;
}