.ebiz-drag-list__container {
  transform: translate3d();
  font-size: 14px;
  position: relative;
  width: 100%;
}
.ebiz-drag-list__container table {
  color: #323233;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}
.ebiz-drag-list__container table::-webkit-scrollbar {
  display: none;
}
.ebiz-drag-list__container table tr {
  width: 100%;
}
.ebiz-drag-list__container table tr.no-data td {
  text-align: center;
}
.ebiz-drag-list__container table tr td {
  padding: 1rem;
  line-height: 1.5rem;
  border: 0;
  font-size: 1em;
  vertical-align: middle;
  border-bottom: 1px solid #e8eaee;
  word-break: break-all;
}
.ebiz-drag-list__container table thead th {
  font-weight: 500;
  padding: 1rem;
  line-height: 1.5rem;
  border: 0;
  font-size: 1em;
  vertical-align: middle;
  border-bottom: 1px solid #e8eaee;
  word-break: break-all;
}
.ebiz-drag-list__header {
  background-color: #f7f8fa;
  width: 100%;
}
.ebiz-drag-list__content-container {
  position: relative;
  max-height: 65rem;
  overflow-y: scroll;
}
.ebiz-drag-list__content-line {
  user-select: none;
}
.ebiz-drag-list__content-dragAnchor {
  cursor: move;
}
.ebiz-drag-list__content-move, .ebiz-drag-list__content-chosen {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 7px;
  background-color: #fff;
}
.ebiz-drag-list__content-placeholder {
  opacity: 0;
}
.ebiz-drag-list__content .swap-standard-style td {
  border-bottom: 2px solid #155bd4;
}
.ebiz-drag-list__content .swap-standard-style td:first-child {
  position: relative;
}
.ebiz-drag-list__content .swap-standard-style td:first-child::before {
  content: "";
  position: absolute;
  border: 2px solid #155bd4;
  height: 4px;
  width: 4px;
  overflow: hidden;
  border-radius: 50%;
  left: 0;
  bottom: -5px;
  background-color: #fff;
}
.ebiz-drag-list__loading-container .zent-loading-mask {
  z-index: 11 !important;
}
.ebiz-drag-list__with-help {
  display: flex;
}
.ebiz-drag-list__with-help span ~ span {
  margin-left: 0.5rem;
}.ebiz-icon {
  overflow: hidden;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
}