.column-content-form {
  .invite-friend-field {
    margin-left: 100px;

    .zent-form__control-label {
      width: auto;
      margin-left: 10px;
    }
  }
}

.after-text-input-wrap {
  display: inline-flex;
  align-items: center;
}

.after-text {
  font-size: 14px;
  margin-left: 8px;
}
