.invite-friend-wrap {
  margin-top: 20px;
  font-size: 12px;

  .zent-form__control-label {
    width: 100px;
  }

  .zent-input {
    min-width: 42px;
  }

  .zent-form__help-desc {
    margin-left: -108px;
  }
}

.after-text-input-wrap {
  display: inline-flex;
  align-items: center;
}

.after-text {
  font-size: 14px;
  margin-left: 8px;
}

.invite-friend-form {
  margin-bottom: 0;

  .zent-dialog-r-footer {
    text-align: right;
    padding: 16px 16px 0;
  }
}
