.demo-img {
  padding: 16px;

  &__title {
    padding-left: 8px;
    &::before {
      width: 2px;
      height: 10px;
      background-color: #ccc;
      content: '';
      display: inline-block;
      margin-right: 8px;
    }
  }

  .demo-img-uploader {
    width: 100px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #DCDEE0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .demo-img__views {
    display: flex;

    .demo-img__view {
      margin: 0 4px 4px 0;
    }
  }
}

.audio-uploader-view-container {
  flex-direction: column;
}