.activity-detail-banner {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #f7f8fa;

  .activity-title {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;

    .zent-tag {
      margin-left: 8px;

      &.not-started {
        color: #f1924e;
        border-color: #f1924e;
        background-color: #fff5ed;
    
        &::after {
          content: '未开始';
        }
      }

      &.ongoing {
        color: #66be74;
        border-color: #66be74;
        background-color: #f0faf2;
        
        &::after {
          content: '进行中';
        }
      }

      &.ended {
        color: #333333;
        border-color: #c8c9cc;
        background-color: #f2f3f5;
        
        &::after {
          content: '已结束';
        }
      }

      &.invalid {
        color: #333333;
        border-color: #c8c9cc;
        background-color: #f2f3f5;
        
        &::after {
          content: '已失效';
        }
      }
    }
  }

  .activity-time {
    margin-top: 8px;
    line-height: 20px;
    color: #646566;
  }
}
