@import 'vars/colors';

.local-delivery-weapp {
  margin-bottom: 15px;
}

.local-delivery-form {
  min-width: 798px;

  &__mode {
    .zent-form__control-label {
      line-height: 32px;
    }
  }

  &__appointment {
    .zent-form__help-desc {
      margin-top: 5px;
    }
  }

  &__weight {
    .zent-form__help-desc {
      line-height: 18px;
      margin-top: 8px;
    }
  }

  .help-desc {
    color: var(--theme-stroke-3, #969799);
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.delivery-tool__guide {
  margin-left: 130px;
  margin-bottom: 20px;

  a {
    color: #155bd4;
  }
}

.delivery-tool-simple__guide {
  margin-left: 237px;
}

.local-delivery__bottom-container {
  z-index: 180;

  .inner {
    background-color: rgba($color: #fff, $alpha: 1);
  }
}
