.easy-form .preview {
  font-size: 12px;
  position: fixed;
  right: 0;
  top: 0;
  height: 60vh;
  width: 256px;
  overflow: scroll;
  background-color: #0e1019;
  padding: 8px;
  padding-right: 0;
  z-index: 999;
}
.easy-form .preview-token.token-0 {
  display: inline-block;
}
.easy-form .normal-field__content {
  display: flex;
  min-width: 185px;
}
.easy-form .normal-field .zent-switch {
  margin-top: 4px;
}
.easy-form .normal-field .zent-radio-group,
.easy-form .normal-field .zent-checkbox-group {
  vertical-align: middle;
}
.easy-form .group-field__header {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 16px;
}
.easy-form .group-field__group-title {
  font-size: 14px;
  font-weight: 700;
}
.easy-form .group-field__collapse-trigger {
  user-select: none;
  margin-left: 16px;
}
.easy-form .group-field__collapse-text {
  font-size: 14px;
  font-weight: normal;
  color: #155bd4;
  cursor: pointer;
}
.easy-form .group-field__collapse-icon {
  margin-left: 2px;
}
.easy-form .group-field__body {
  overflow-y: hidden;
}
.easy-form .group-field__body.group-collapse {
  height: 0;
}
.easy-form.description-content, .easy-form.error-content {
  font-size: 12px;
  margin-top: 8px;
  line-height: 14px;
}
.easy-form.description-content {
  color: #969799;
}