.schedule_trial_tag {
  background-color: #FFF5ED !important;
  border: solid 1px #F1924E !important;
  color: #F1924E !important;
  width: 36px;
  height: 20px;
  line-height: 14px !important;
  text-align: center;
}