@import 'shared/sass/mixins/_ellipsis';

.ebiz-schedule__column {
  width: 125px;

  &__field {
    min-height: 22px;
    padding: 0 2px;
  }
}

.panel__schedule__field {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 2px 3px 2px 0px;
  padding-left: 5px; // 3px 2px 13px;
  width: calc(100% - 5px);
  height: calc(100% - 4px);
  border-top: 1px solid #fff;
  border-radius: 2px;
  background: #fff;
  color: #000;
  font-size: 10px;
  line-height: 14px;
  box-shadow: 0 1px 6px 0 #DCDEE0;
  cursor: default;

  &__content {
    padding: 0 5px 5px;
  }

  &__item {
    box-sizing: border-box;
    padding-right: 1px;
    width: 100%;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
  }

  &__subtitle {
    box-sizing: border-box;
    margin: 10px 5px 0 0;
    width: 100%;
    color: #646566;
    @include ellipsis;
    &:first-of-type {
      margin-top: 10px;
    }
  }

  & > div {
    text-overflow: ellipsis;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #3dc16b;
    content: '';
  }

  &.conflict {
    background: #fff;
    color: #000;

    &::before {
      background-color: #ff4444;
    }
  }

  &.deprecated {
    background: #fff;
    color: #000;

    &::before {
      background-color: #C8C9CC;
    }
  }

  &.current {
    background: #D9E7FF;
  }
}

.ebiz-schedule__week {
  .ebiz-schedule__columns {
    box-sizing: border-box;
  }

  .panel__schedule__field {
    margin: 2px 0 2px;
    width: 100%;
  }
}
