<div class="share-img">
  <div class="share-img__title">
    {% if drawInfo.newerSubsidyPrice %}
    <p>最高立减</p>
    <div class="main-price__origin">
      <span class="origin-price__symbol">￥</span>
      <span class="origin-price__num">{{drawInfo.newerSubsidyPrice}}</span>
    </div>
    {% else %}
    <p>下单立减</p>
    {% endif %}
  </div>

  <div class="share-img__container">
    <div class="main__img">
      <img class="main__img-cover" src="{{drawInfo.img}}" alt="">
      <img class="main__img-real" src="{{drawInfo.img}}" alt="">
    </div>
    <div class="main-footer">
      {% if drawInfo.minPrice %}
      <div class="footer-price__origin">
        <span class="footer-price__symbol">￥</span>
        <span class="footer-price__num">{{drawInfo.minPrice}}</span>
      </div>
      {% endif %}
      <div class="main-btn">立即报名</div>
    </div>
  </div>
</div>

<style>
* {
  padding: 0;
  margin: 0;
}

.share-img {
  width: 185px;
  height: 148px;
  border-radius: 10px;
  background-image: linear-gradient(131deg, rgba(62,187,110,0.85) 0%, #11BA6B 100%);
  position: relative;
  overflow: hidden;
}

.share-img__title {
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px 2px rgba(20,144,43,0.64);
  margin-top: 2px;
  line-height: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-img__title-text {
  font-size: 16px;
}

.main-price__origin {
  font-size: 15px;
  margin-left: 3px;
  color: #FFE176;
  margin-top: 2px;
}

.origin-price__num {
  font-family: Akrobat;
}

.origin-price__symbol {
  margin-right: -7px;
}

.share-img__container {
  overflow: hidden;
  margin: 2px 8px;
  border-radius: 4px;
  background-color: #fff;
}

.main__img {
  width: 169px;
  height: 81px;
  position: relative;
  overflow: hidden;
}

.main__img-cover {
  position: absolute;
  left: -7%;
  top: -7%;
  width: 114%;
  height: 114%;
  object-fit: cover;
  -webkit-filter: blur(13px);
  filter: blur(13px);
}

.main__img-real {
  object-fit: contain;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn {
  width: 66px;
  height: 20px;
  line-height: 20px;
  background-image: linear-gradient(131deg, rgba(62,187,110,0.85) 0%, #11BA6B 100%);
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 5px 0;
}

.footer-price__origin {
  font-size: 14px;
  color: #45BF55;
  margin-left: -4px;
  margin-right: 41px;
  font-weight: bold;
}

.footer-price__num {
  font-family: Akrobat;
}

.footer-price__symbol {
  margin-right: -7px;
}
</style>