.filter {
  &__actions > * {
    margin-right: 10px;
  }

  &__actions {
    margin-left: 60px;

    &__reset {
      line-height: 30px;
      color: #155bd4;
      cursor: pointer;
      user-select: none;
    }
  }

  &__actions-btn {
    line-height: 28px;
  }

  &__actions-link {
    vertical-align: middle;
  }
}
