.records-buyer-info-col {
  margin-bottom: 10px;

  &.contact-addressd {
    position: relative;

    label {
      float: left;
      width: 70px;
    }

    span {
      width: calc(100% - 70px);
      float: left;
    }
  }
}

.records-buyer-info-row {
  flex-wrap: wrap;
}
