$white: #fff;
$bg-gray: #ecedee;
$lighter-gray: #f7f8fa;
$light-gray: #f2f3f5;
$light-gray-1: #dcdee0;
$light-gray-2: #ebedf0;
$gray: #c8c9cc;
$deep-gray: #646566;
$deeper-gray: #969799;
$black: #323233;
$edu-green: #00b389;
$red: #ff445a;
$yellow: #fffbe8;
$orange: #ed6a0c;
$purple: #574f60;

.text--edu-green {
  color: $edu-green;
}

.text--red {
  color: $red;
}

@mixin block {
  padding: 16px;
  background: $white;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-sizing: border-box;
}

// @include text(16px, $deep-gray, 22px, 500);
@mixin text($size: 14px, $color: $black, $lineHeight: 22px, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;
}

@mixin richtext {
  @include text(14px, $black, 24px);

  padding: 16px;
  font-size: 14px;
  line-height: 24px;

  &--folded {
    max-height: 232px;
    overflow: hidden;
  }

  video {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  strong {
    font-weight: bold;
  }

  &.custom-richtext > * {
    width: inherit !important;
  }

  &.custom-richtext {
    h1,
    h2,
    h3,
    h4 {
      font-weight: bold;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.17em;
    }
  }
}
