.present-selector {
  display: flex;
  flex-direction: column;

  &__trigger {
    .disabled {
      display: none;
    }
  }

  .zent-grid {
    width: inherit;
    margin-top: 16px;
  }

  .description {
    font-size: 14px;
    color:  #969799;
  }
}
