.payback-tips {
  margin-top: 5px;
  margin-bottom: 20px;

  p {
    display: block;
    margin-left: 20px;
  }

  a {
    cursor: pointer;
  }

  .error-icon {
    color: #ff4343;
    margin-right: 5px;
    float: left;
  }
}
