.decorate-component-coms-manager {

  .clear-action {
    color: #155bd4;
    font-size: 12px;
    text-align: right;
    padding-right: 16px;
    margin-top: 12px;

    .clear-action-text {
      cursor: pointer;
    }
  }

  .deco-editor-card-item {
    cursor: move;
  }

  &-editor-item-wrapper {
    margin: 12px 16px 0;
  }
  &-child {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    color: #323233;

    .zent-popover-wrapper {
      float: right;
    }

    &-delete {
      display: inline-block;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-image: url(https://img.yzcdn.cn/public_files/2019/01/25/9b128a3927c6e1484058d2c70cf2e11f.png);
    }

    &-drag {
      display: inline-block;
      margin-right: 5px;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-image: url(https://img.yzcdn.cn/public_files/2019/02/11/6c383209a91d0cba0c46b906f3d027d2.png);
    }

    &-lock {
      display: inline-block;
      margin-right: 5px;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-image: url(https://img.yzcdn.cn/public_files/2019/03/20/5d7a36eda33f82f58d11e4c4f9be8757.png);
    }

    &-notice {
      font-size: 12px;
      color: #969799;
      line-height: 18px;
      display: inline-block;
      margin-left: 8px;
    }
  }

  &-contact-us {
    cursor: not-allowed;
  }

  &__none_com {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 12px;

    .none-image {
      display: block;
    }
  }
}
