.self-fetch-form {
  .self-fetch-map .amap-container {
    height: 100%;

    .amap-info-content span {
      font-size: 14px !important;
    }
  }

  .map-wrapper {
    width: 660px;
    height: 462px;
  }
}
