.edu-plugin-framework {
  display: flex;

  &-title {
    padding: 8px;
  }

  &-aside {
    display: flex;
    flex: none;
    padding-right: 16px;
    margin-left: -16px;

    .zent-tabs {
      margin-bottom: -16px;
    }

    .zent-tabs-tab-inner {
      margin: auto;
    }

    .zent-tabs-nav {
      width: 112px !important;
      padding-right: 0 !important;
      border-right: solid 1px #ebedf0 !important;
    }

    .zent-tabs-scroll {
      width: 112px !important;
      padding-right: 16px;
    }

    .zent-tabs-divide {
      margin: 16px 0 12px;
    }
  }

  &-container {
    width: calc(100% - 116px);
    height: 100%;
  }
}
