@import "vars/_colors";
@import "classes/cursor-link";

.info-collect {
  &__line {
    margin-top: 8px;
    line-height: 30px;
  }

  &__wrapper {
    display: flex;
    width: 470px;

    .zent-checkbox-wrap {
      width: 130px;
      line-height: 30px;

      &:nth-child(n+4) {
        margin-top: 5px;
      }
    }

    .zent-checkbox-disabled .zent-checkbox-label {
      color: #969799 !important;
    }
  }

  &__expand {
    margin-top: 5px;

    a {
      cursor: pointer;
    }

    .zenticon {
      transition: transform .3s ease-in-out;

      &.icon-arrow-up {
        transform: rotate(180deg);
      }
    }
  }

  .link-split {
    border-left: 1px solid #dcdee0;
    margin-left: 12px;
    padding-left: 12px;
  }

  &__ops {
    margin-top: 2px;
  }

  &__preview {
    margin-top: 0;

    span {
      font-size: 12px;
      color: $helpColor;
    }

    .operations-container {
      display: inline-block;
      font-size: 12px;
      vertical-align: middle;
    }
  }

  &__desc {
    line-height: 12px;
  }

  &__ops,
  &__preview {
    .operations {
      justify-content: flex-start;

      .operations-item {
        padding: 0 16px;
        color: $blueColor;
        cursor: pointer;

        a {
          vertical-align: middle;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }

  &__extra {
    // 这里需要指定信息采集的样式，因为是内部的字段，需要设置偏移量来达到跟form-field一样的效果
    padding-top: 24px;
    margin-left: -130px;
    margin-bottom: 0 !important;

    &__page-type {
      padding-top: 4px;
      .operations-item {
        padding-right: 32px !important;
      }
      &.zent-radio-group {
        display: flex !important;
        .zent-radio-wrap {
          margin-right: 8px;
        }
      }
    }

    .zent-radio-group {
      display: inherit;
    }

    .zent-radio-wrap {
      margin-right: 32px;;
    }

    .zent-form-label {
      justify-content: flex-end;
    }
    .zent-form-control-content {
      margin-left: 10px;
    }
  }
}
