@import 'vars/colors';
@import 'common/ellipsis';
@import 'common/app-design';

.upload-confirm {
  position: relative;
  min-height: calc(100vh - 287px);

  .head {
    .toggle-error-text {
      color: $blueColor;
      cursor: pointer;
    }

    .head-actions {
      margin: 16px auto 10px;
      display: flex;
      justify-content: space-between;

      .toggle-error-checkbox {
        line-height: 32px;
      }

      .zent-btn {
        width: 76px;
      }
    }
  }

  .zent-grid-tfoot .zent-checkbox-wrap {
    margin-right: 8px;
  }

  .zent-grid-batch.zent-grid-batch__header {
    display: none;
  }

  .zent-grid-batch.zent-grid-batch__foot {
    .batch-delete {
      width: 76px;
    }

    .batch-more {
      width: 80px;
    }
  }

  .span-select-all,
  .span-select-number {
    padding: 0 8px;
    line-height: 14px;
    border-right: 1px solid #dcdee0;
  }

  .span-label {
    margin-left: 8px;
    line-height: 14px;
  }

  .batch-delete {
    margin-left: 6px;
  }

  .batch-more {
    margin-left: 6px;
    padding-left: 11px;
    padding-right: 10px;

    .more-caret-up,
    .more-caret-down {
      margin-left: 0 !important;
      margin-right: 0 !important;
      font-size: 24px;
      position: relative;
      top: 3px;
      left: 8px;
    }
  }

  .upload-confirm-list-operations {
    .action {
      color: $blueColor;
      cursor: pointer;
    }
  }

  .list-error-msg,
  .list-warn-msg {
    display: block;
    font-size: 12px;
    color: $redColor;
    line-height: 18px;
    margin-top: 4px;

    &.operation {
      cursor: pointer;

      .caret-down {
        margin-left: 4px;
        color: #979797;
      }
    }
  }

  .list-warn-msg {
    color: $theme-warn-1;
  }

  .zent-grid-tr {
    .zent-grid-th:first-child,
    .zent-grid-td:first-child {
      padding-right: 0;
    }

    .zent-grid-th,
    .zent-grid-td {
      &.zent-grid-text-align-right {
        padding-right: 16px;
      }
    }
  }
}

.zent-menu.stu-import-batch-operation {
  width: 111px;

  .zent-menu-item {
    padding-left: 12px;
  }

  .action {
    width: 100px;
    display: block;
  }
}

.pop-delete-confirm .zent-popover-content {
  .zent-pop-inner {
    padding: 16px 18px 18px 16px;
    width: 205px;

    .zent-pop-buttons {
      margin-top: 16px;
      display: block;
    }
  }
}

.zent-popover-content .zent-popover-wrapper.zent-select {
  margin-right: 0;
}
