.self-fetch-region-select {
  .zent-region-select {
    display: inline-flex;
  }

  .zent-region-select__text {
    font-size: 14px;
  }
}

.zent-popover__region-select {
  .zent-region-list__item-link {
    font-size: 14px;
  }
}
