@import 'vars/colors';

.dropdown-menus {
  font-size: 0;
  box-shadow: 0 0 1px rgba(153, 153, 153, 0.5);
  background: #fff;

  span {
    font-size: 14px;
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    // text-align: center;
    padding-left: 15px;
    background: #fff;
    cursor: pointer;
    color: $darkGrayColor;

    &:hover {
      background: #edf4ff;
    }
  }
}

.item-menu-item--disabled {
  cursor: not-allowed;
  color: #c8c9cc;
}
