.rule-field {
  &-example {
    margin-top: 7px;
    font-size: 14px;
    line-height: 20px;
    color: #155bd4;
    cursor: pointer;
  }

  .zent-textarea {
    width: 275px;
    height: 123px;
  }
}
