.summary-card {
  &__list {
    min-width: 896px;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    box-sizing: border-box;
    min-width: 171px;
    height: 88px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background-color: #F7F8FA;

    &:not(:last-child) {
      margin-right: 8.25px;
    }

    .title {
      font-size: 14px;
      line-height: 20px;
      word-break: break-all;
    }

    .value {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      word-break: break-all;
    }
  }
}