.card-list {
  &__container {
    .zent-pagination {
      margin-top: 16px !important;
    }
  }

  &__list {
    min-height: 200px;
    background-color: transparent;

    &.empty {
      min-height: unset;
      height: 32px;
      overflow: hidden;
      font-size: 14px;
      line-height: 32px;
      text-align: center;
    }
    .zent-radio-wrap {
      padding-top: 18px;
    }
  }
  &__item__wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;

    .card-item-container {
      flex: 1;
    }
  }
}