.source-select-pop {
  padding: 3px 4px;

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    min-height: 30px;
  }

  .zent-checkbox-wrap,
  .zent-radio-wrap {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;

    .zent-checkbox-label {
      width: 146px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .zent-checkbox-wrap:nth-child(3n + 3) {
    margin-right: 0;
  }

  &__group {
    margin-top: 10px;
    width: 556px;
    max-height: 500px;
    overflow: auto;
  }

  &__title {
    font-size: 14px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__tip {
    display: flex;
    align-items: center;
    padding: 12px 0 0;
    color: #666;

    .zenticon {
      font-size: 14px;
      margin-right: 5px;
    }

    @keyframes bounce {
      0% {
        transform: translateX(0);
      }

      50% {
        transform: translateX(10px);
      }

      100% {
        transform: translateX(0);
      }
    }

    &-text {
      transition: transform 1s ease-in-out;
      display: inline-block;
      transform: translateX(0);
    }

    &-text--animate {
      animation: bounce 0.2s 2;
    }
  }
}
