$itemBackColor: #ebedf0;

.batchBtn {
  margin-left: 8px;
}

.selectedTip {
  margin-left: 12px;
  font-size: 14px;
  color: #969799;
  font-weight: normal;
}

.box {
  display: flex;
  padding: 16px 0;

  .menu {
    box-shadow: none;
    border-right: 1px $itemBackColor solid;
    box-sizing: border-box;
    padding-right: 8px;
    width: 116px;

    .menuItem {
      color: #646566;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: transparent;
        color: #323233;
      }
    }

    .selectedMenuItem {
      @extend .menuItem;

      background-color: $itemBackColor;
      color: #323233;

      &:hover {
        background-color: $itemBackColor;
        color: #323233;
      }
    }
  }

  .rightContainer {
    position: relative;
    flex: 1;
  }

  .hide {
    visibility: hidden;
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.batchDialog {
  width: 760px;
}

.hide {
  visibility: hidden;
}
