.block-selected-entry {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 56px;
  font-size: 16px;
  line-height: 22px;
  color: #00b389;
  background:
    url('../../../../../../../assets/images/youxiuzuoye.png') 20px center / 99px 26px no-repeat,
    url('../../../../../../../assets/images/excellent.png') 5px -8px / 262px 34px no-repeat,
    linear-gradient(0deg, #fff 0%, #a9efdf 100%, #c7fef1 100%) no-repeat !important;

  strong {
    font-weight: 500;
  }

  .van-icon {
    margin: 0 12px 0 5px;
  }
}
