.deco-component-title {
  padding: 24px 16px;
  border-bottom: 1px solid #F2F4F6;

  &__header {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-right: auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #323233;
    text-align: left;
  }

  &__link {
    font-size: 14px;
    line-height: 18px;
    color: #155bd4;
    text-align: center;

    & + & {
      margin-left: 8px;
    }
  }

  &__msg {
    margin-top: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #969799;

    p {
      margin-top: 5px;
    }

    a {
      color: #155bd4;
    }
  }

  &--with-margin {
    margin-bottom: 14px;
  }

  .deco-control-group {
    padding: 16px 0 0;
  }
}
