@import 'vars/colors';

.tr:hover,
tr:hover {
  .hover-visibleBtn {
    visibility: visible;
    cursor: pointer;
  }

  .title-icon {
    background-image: linear-gradient(to right, transparent 0%, #f8f8f8 40%);
  }
}

.hover-visibleBtn {
  // 这一部分是悬浮显示，脱离不显示的btn
  visibility: hidden;
}

tr:hover,
.tr:hover {
  .hover-visibleBtn {
    visibility: visible;
  }
}

.force-visible {
  visibility: visible;
}

.shortcut-pop {
  margin-left: 5px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;

    .input-disable {
      .zent-input {
        color: #f44;
        border: 1px solid #f44;
      }
    }

    &-action {
      margin-left: 5px;
    }
  }

  .zent-pop-inner {
    padding: 10px;

    .shortcut-pop__container {
      display: flex;
      line-height: 30px;
      align-items: flex-end;
      color: #969799;

      span:nth-child(2) {
        margin-left: 10px;
      }
    }
  }
}

.course-table {
  &__body {
    &__actions {
      color: #38f;

      &__textBtn {
        padding: 0 4px;
        color: #155bd4;
        text-align: right;
        cursor: pointer;
        user-select: none;

        &.disable {
          color: #cacaca;
        }
      }
    }
  }

  &__container {
    width: 100%;

    .icon {
      margin-left: 2px;
      color: #babbbb;
    }

    .zent-table-container {
      margin-bottom: 0;
    }

    .zent-select-placeholder {
      color: $normalColor;
    }

    .zent-select-text {
      color: $normalColor;
    }

    &__des {
      // table容器内的文字描述
      margin: 8px auto;
      font-size: 12px;
      text-align: center;
    }

    &__action {
      line-height: 30px;
      color: #38f;
      cursor: pointer;
      user-select: none;
    }

    &__footer {
      margin-top: 10px;

      & > div {
        margin-bottom: 10px;
      }

      & > div:nth-child(1) {
        float: left;
      }

      > div:nth-child(2) {
        float: right;
      }

      .batch-action__container {
        width: 455px;

        button {
          width: 78px;
          padding: 0;
        }
      }
    }
  }

  &__headImg {
    flex: 0 0 auto;
    display: flex;
    width: (60px / 9 * 16);
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;

    &__default {
      align-self: center;
      width: 25px;
      height: 25px;
    }

    &__icon {
      position: absolute;
      z-index: 1;
      margin-top: (60px - 20px) / 2;
      overflow: hidden;
      font-size: 20px;
      color: #fff;
      background-color: rgba($color: #000, $alpha: .5);
      border-radius: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;

    &-title {
      position: relative;
      display: flex;

      a {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .title-icon {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        padding-left: 15px;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }
}

.flex-row {
  display: flex;
}

.dialog-box {
  min-width: 450px;

  .zent-btn {
    span {
      color: #38f;
    }
  }

  .zent-btn-primary {
    span {
      color: #fff;
    }
  }
}

.qr-code {

  .qr-code-img {
    width: 230px;
    height: 230px;
    margin: 30px auto;
    background: url('https://b.yzcdn.cn/v2/image/loader.gif') center center no-repeat;
  }
}

.down-link {
  display: flex;
  width: 200px;
  margin: auto;
  margin-top: 15px;
  justify-content: center;

  a {
    padding: 4px;
    margin: 0 5px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #38f;
    border-radius: 3px;
    user-select: none;
  }
}

.promote-modal {

  // overwrite
  .zent-input-addon-after {
    padding: 0;
    border: 0;

    .zent-btn {
      border-radius: 0 2px 2px 0;
    }
  }

  .zent-dialog-r-title {
    margin-bottom: 15px;
  }

  // 重写css
  .zent-tabs-nav {
    margin-bottom: 15px;

    .zent-tabs-scroll {
      display: flex;
      justify-content: center;

      .zent-tabs-nav-ink-bar {
        transition: left .2s linear;
      }
    }
  }

  .zent-dialog-r-close.zent-dialog-r-has-title {
    top: 16px;
    font-size: 22px;
    line-height: 22px;
  }
}

.sku-container {
  min-width: 80px;
  min-height: 80px;
  padding: 0 10px;

  .sku-content {
    width: 100%;
    height: inherit;
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .zent-page-mask {
    background-color: transparent;
  }

  &__row {
    width: 100%;
    padding: 3px 0;
    line-height: 36px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;

    table {
      width: 100%;

      td {
        height: 36px;
        min-width: 50px;
        padding-right: 10px;
        overflow: hidden;
      }
    }
  }
}

.easy-filter__tabs-box {
  margin-bottom: 10px;
}

.title .sku-required::before {
  color: #dc453d;
  content: '*';
}

.sku-required {
  width: 80px;
}

.sku-right {
  align-self: flex-end;
  margin-top: 5px;
  margin-right: 5px;
}

.no-border {
  border: 0;
}

.course-table__imgwrap {
  position: relative;
  overflow: hidden;
}

.course-table__blur {
  width: 100%;
  height: 100%;
  filter: blur(10px);
}

.course-table__img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.course-disable-operation {
  cursor: not-allowed;
  & div,
  & p {
    pointer-events: none;
  }
}

.course-table__footer__more{
  .zent-pop-wrapper{
    display: inline-block;
    width: 100%;
    span{
      display: inline-block;
      width: 100%;
    }
  }
}
.btn__start-sell {
  margin-left: 8px;
}
.btn__more{
  margin-left: 8px;
  position: relative;
  width: 78px;
  padding-right: 25px;
  &::after{
    background: url(https://b.yzcdn.cn/fix-base64/64a4281a4d02f7144d60433d49082fb09dfe6531515747bf605c03429f01c0cd.png) no-repeat;
    background-size: 6px 5px;
    content: '';
    height: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
    transition: transform 0.25s;
    width: 6px;
    margin-top: -3px;
  }
}
.group-pop-select{
  .pop-selector-wrap {
    max-width: 230px;

    &.two__cols {
      max-width: 360px;

      .zent-checkbox-group {
        flex-direction: row;
        flex-wrap: wrap;

        .zent-checkbox-wrap {
          width: 50%;
          box-sizing: border-box;
          flex-shrink: 0;
          flex-grow: 0;
          margin-right: 0;
          padding-right: 15px;
        }
      }
    }

    .zent-pop-inner {
      padding: 10px;
    }
  }

  .pop-selector-content {
    min-height: 120px;
    min-width: 200px;

    .zent-pop-inner {
      padding: 10px;
    }

    .zent-search-input {
      margin-bottom: 5px;

      .zenticon-search,
      .zent-input {
        color: #969799;
      }
    }

    .zent-checkbox-group {
      display: flex;
      flex-direction: column;

      .zent-checkbox-wrap {
        height: 30px;
        display: flex;
        align-items: center;

        .zent-checkbox + span {
          flex-grow: 1;
          word-wrap: break-word;
          word-break: break-all;
        }

        .zent-popover-wrapper {
          line-height: 20px;
        }
      }
    }
  }

  .pop-selector-content__head {
    overflow: hidden;
    padding-bottom: 5px;

    &::after {
      content: ' ';
      clear: both;
    }
  }

  .pop-selector-content__title {
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    color: #333;
    float: left;
  }

  .pop-selector-content__subtitle {
    display: inline-block;
    margin-left: 10px;
    float: left;
    color: #38f;
  }

  .pop-selector-content__more {
    display: inline-block;
    float: right;
    color: #38f;

    a {
      color: #38f;
    }
  }

  .pop-selector-footer {
    margin: 0 -10px -10px;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .pop-selector-footer__btn {
    margin-left: auto;
    margin-right: 0;
  }

  .pop-selector-list {
    max-height: 300px;
    overflow: auto;

    .zent-page-mask {
      background: none;
    }
  }

  .pop-selector-list__placeholder {
    height: 160px;
    font-size: 14px;
    color: #969799;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pop-selector-list__radio-group {
    .zent-radio-wrap {
      overflow: hidden;
      display: block;
      height: 30px;
      line-height: 30px;
    }
  }
}
