@font-face {
  font-family: "decorate";
  src: url("https://b.yzcdn.cn/public_files/2019/06/09/84cb79480bf9a081b9bad7df44738f0d.svg#decorate") format("svg"),
    url("https://b.yzcdn.cn/public_files/2019/06/09/fc7dc0d90af317eba2ac15c2883c2b14.ttf") format("truetype"),
    url("https://b.yzcdn.cn/public_files/2019/06/09/b08892b5c2ccdcefa6124c8b50c25fd2.eot?#iefix")
      format("embedded-opentype"),
    url("https://b.yzcdn.cn/public_files/2019/06/09/eb1ea03aad5c71fc7d0d8a037a5de682.woff") format("woff"),
    url("https://b.yzcdn.cn/public_files/2019/06/09/c8cfa82bfb47988927d4b92bb494b6b2.woff2") format("woff2");
}

[class^="deco-icon-"],
[class*="deco-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "decorate" !important;
  display: block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.deco-icon-1-1:before {
  content: "\f101";
}
.deco-icon-16-9:before {
  content: "\f102";
}
.deco-icon-3-2:before {
  content: "\f103";
}
.deco-icon-3-4:before {
  content: "\f104";
}
.deco-icon-align-center:before {
  content: "\f105";
}
.deco-icon-align-left:before {
  content: "\f106";
}
.deco-icon-align-right:before {
  content: "\f107";
}
.deco-icon-audio-player:before {
  content: "\f108";
}
.deco-icon-audio-simple:before {
  content: "\f109";
}
.deco-icon-audio-weixin:before {
  content: "\f10a";
}
.deco-icon-big-slide:before {
  content: "\f10b";
}
.deco-icon-big:before {
  content: "\f10c";
}
.deco-icon-btn-number:before {
  content: "\f10d";
}
.deco-icon-btn-percent:before {
  content: "\f10e";
}
.deco-icon-carousel:before {
  content: "\f10f";
}
.deco-icon-corner-round:before {
  content: "\f110";
}
.deco-icon-corner-straight:before {
  content: "\f111";
}
.deco-icon-coupon-1:before {
  content: "\f112";
}
.deco-icon-coupon-2:before {
  content: "\f113";
}
.deco-icon-coupon-3:before {
  content: "\f114";
}
.deco-icon-coupon-4:before {
  content: "\f115";
}
.deco-icon-cube-custom:before {
  content: "\f116";
}
.deco-icon-cube-upto:before {
  content: "\f117";
}
.deco-icon-cube:before {
  content: "\f118";
}
.deco-icon-cuberow:before {
  content: "\f119";
}
.deco-icon-cuberow1:before {
  content: "\f11a";
}
.deco-icon-cuberow2:before {
  content: "\f11b";
}
.deco-icon-cubeto:before {
  content: "\f11c";
}
.deco-icon-cubeto1:before {
  content: "\f11d";
}
.deco-icon-delete:before {
  content: "\f11e";
}
.deco-icon-edit:before {
  content: "\f11f";
}
.deco-icon-fixed:before {
  content: "\f120";
}
.deco-icon-font-bold:before {
  content: "\f121";
}
.deco-icon-font-m:before {
  content: "\f122";
}
.deco-icon-font-regular:before {
  content: "\f123";
}
.deco-icon-font-s:before {
  content: "\f124";
}
.deco-icon-font-x:before {
  content: "\f125";
}
.deco-icon-hotarea:before {
  content: "\f126";
}
.deco-icon-hybrid:before {
  content: "\f127";
}
.deco-icon-image-ad-normal:before {
  content: "\f128";
}
.deco-icon-img-contain:before {
  content: "\f129";
}
.deco-icon-img-cover:before {
  content: "\f12a";
}
.deco-icon-indicator-1:before {
  content: "\f12b";
}
.deco-icon-indicator-2:before {
  content: "\f12c";
}
.deco-icon-indicator-3:before {
  content: "\f12d";
}
.deco-icon-indicator-4:before {
  content: "\f12e";
}
.deco-icon-line-dashed:before {
  content: "\f12f";
}
.deco-icon-line-dotted:before {
  content: "\f130";
}
.deco-icon-line-no-padding:before {
  content: "\f131";
}
.deco-icon-line-padding:before {
  content: "\f132";
}
.deco-icon-line-solid:before {
  content: "\f133";
}
.deco-icon-line:before {
  content: "\f134";
}
.deco-icon-list:before {
  content: "\f135";
}
.deco-icon-menu-fixed:before {
  content: "\f136";
}
.deco-icon-menu-left:before {
  content: "\f137";
}
.deco-icon-menu-normal:before {
  content: "\f138";
}
.deco-icon-menu-top:before {
  content: "\f139";
}
.deco-icon-nav-slide:before {
  content: "\f13a";
}
.deco-icon-progress-1:before {
  content: "\f13b";
}
.deco-icon-progress-2:before {
  content: "\f13c";
}
.deco-icon-scroll:before {
  content: "\f13d";
}
.deco-icon-search-fixed:before {
  content: "\f13e";
}
.deco-icon-search-normal:before {
  content: "\f13f";
}
.deco-icon-search-round:before {
  content: "\f140";
}
.deco-icon-search-scroll:before {
  content: "\f141";
}
.deco-icon-search-square:before {
  content: "\f142";
}
.deco-icon-search-sticky:before {
  content: "\f143";
}
.deco-icon-shadow:before {
  content: "\f144";
}
.deco-icon-shop-info-1:before {
  content: "\f145";
}
.deco-icon-shop-info-2:before {
  content: "\f146";
}
.deco-icon-shop-info-3:before {
  content: "\f147";
}
.deco-icon-shop-info-4:before {
  content: "\f148";
}
.deco-icon-shop-info-5:before {
  content: "\f149";
}
.deco-icon-small-slide:before {
  content: "\f14a";
}
.deco-icon-small:before {
  content: "\f14b";
}
.deco-icon-social-fans:before {
  content: "\f14c";
}
.deco-icon-swipe:before {
  content: "\f14d";
}
.deco-icon-tabs-1:before {
  content: "\f14e";
}
.deco-icon-tabs-2:before {
  content: "\f14f";
}
.deco-icon-tabs-3:before {
  content: "\f150";
}
.deco-icon-three:before {
  content: "\f151";
}
.deco-icon-up2end:before {
  content: "\f152";
}
.deco-icon-white:before {
  content: "\f153";
}
