@font-face {
  font-family: "decorate";
  src:
    url("https://b.yzcdn.cn/public_files/2019/10/21/e71030ae5f55ee75075557a063add0a1.ttf") format("truetype"),
    url("https://b.yzcdn.cn/public_files/2019/10/21/e6cfc66416f05d67e0209ed9e6264756.eot?#iefix")
      format("embedded-opentype"),
    url("https://b.yzcdn.cn/public_files/2019/10/21/46310ef2573d35f28ee807ac7b775655.woff") format("woff"),
    url("https://b.yzcdn.cn/public_files/2019/10/21/6a4fcd457b967b36f62441912d6c478f.woff2") format("woff2"),
    url("https://b.yzcdn.cn/public_files/2019/10/21/ab2a9907671281e4cac42a1922c4baa3.svg#decorate") format("svg");
}

[class^="deco-icon-"],
[class*="deco-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "decorate" !important;
  display: block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.deco-icon-1-1:before {
  content: "\f101";
}
.deco-icon-16-9:before {
  content: "\f102";
}
.deco-icon-3-2:before {
  content: "\f103";
}
.deco-icon-3-4:before {
  content: "\f104";
}
.deco-icon-align-center:before {
  content: "\f105";
}
.deco-icon-align-left:before {
  content: "\f106";
}
.deco-icon-align-right:before {
  content: "\f107";
}
.deco-icon-audio-player:before {
  content: "\f108";
}
.deco-icon-audio-simple:before {
  content: "\f109";
}
.deco-icon-audio-weixin:before {
  content: "\f10a";
}
.deco-icon-avatar-shape1:before {
  content: "\f10b";
}
.deco-icon-avatar-shape2:before {
  content: "\f10c";
}
.deco-icon-big-slide:before {
  content: "\f10d";
}
.deco-icon-big:before {
  content: "\f10e";
}
.deco-icon-btn-number:before {
  content: "\f10f";
}
.deco-icon-btn-percent:before {
  content: "\f110";
}
.deco-icon-carousel:before {
  content: "\f111";
}
.deco-icon-corner-round:before {
  content: "\f112";
}
.deco-icon-corner-straight:before {
  content: "\f113";
}
.deco-icon-coupon-1:before {
  content: "\f114";
}
.deco-icon-coupon-2:before {
  content: "\f115";
}
.deco-icon-coupon-3:before {
  content: "\f116";
}
.deco-icon-coupon-4:before {
  content: "\f117";
}
.deco-icon-cube-custom:before {
  content: "\f118";
}
.deco-icon-cube-upto:before {
  content: "\f119";
}
.deco-icon-cube:before {
  content: "\f11a";
}
.deco-icon-cuberow:before {
  content: "\f11b";
}
.deco-icon-cuberow1:before {
  content: "\f11c";
}
.deco-icon-cuberow2:before {
  content: "\f11d";
}
.deco-icon-cubeto:before {
  content: "\f11e";
}
.deco-icon-cubeto1:before {
  content: "\f11f";
}
.deco-icon-delete:before {
  content: "\f120";
}
.deco-icon-drag-handler:before {
  content: "\f121";
}
.deco-icon-edit:before {
  content: "\f122";
}
.deco-icon-feature:before {
  content: "\f123";
}
.deco-icon-fixed:before {
  content: "\f124";
}
.deco-icon-float:before {
  content: "\f125";
}
.deco-icon-font-bold:before {
  content: "\f126";
}
.deco-icon-font-m:before {
  content: "\f127";
}
.deco-icon-font-regular:before {
  content: "\f128";
}
.deco-icon-font-s:before {
  content: "\f129";
}
.deco-icon-font-x:before {
  content: "\f12a";
}
.deco-icon-hotarea:before {
  content: "\f12b";
}
.deco-icon-huadong:before {
  content: "\f12c";
}
.deco-icon-huanhang:before {
  content: "\f12d";
}
.deco-icon-hybrid:before {
  content: "\f12e";
}
.deco-icon-image-ad-normal:before {
  content: "\f12f";
}
.deco-icon-img-contain:before {
  content: "\f130";
}
.deco-icon-img-cover:before {
  content: "\f131";
}
.deco-icon-indicator-1:before {
  content: "\f132";
}
.deco-icon-indicator-2:before {
  content: "\f133";
}
.deco-icon-indicator-3:before {
  content: "\f134";
}
.deco-icon-indicator-4:before {
  content: "\f135";
}
.deco-icon-line-dashed:before {
  content: "\f136";
}
.deco-icon-line-dotted:before {
  content: "\f137";
}
.deco-icon-line-no-padding:before {
  content: "\f138";
}
.deco-icon-line-padding:before {
  content: "\f139";
}
.deco-icon-line-solid:before {
  content: "\f13a";
}
.deco-icon-line:before {
  content: "\f13b";
}
.deco-icon-list:before {
  content: "\f13c";
}
.deco-icon-menu-fixed:before {
  content: "\f13d";
}
.deco-icon-menu-left:before {
  content: "\f13e";
}
.deco-icon-menu-normal:before {
  content: "\f13f";
}
.deco-icon-menu-top:before {
  content: "\f140";
}
.deco-icon-nav-slide:before {
  content: "\f141";
}
.deco-icon-neirong:before {
  content: "\f142";
}
.deco-icon-progress-1:before {
  content: "\f143";
}
.deco-icon-progress-2:before {
  content: "\f144";
}
.deco-icon-scroll:before {
  content: "\f145";
}
.deco-icon-search-fixed:before {
  content: "\f146";
}
.deco-icon-search-normal:before {
  content: "\f147";
}
.deco-icon-search-round:before {
  content: "\f148";
}
.deco-icon-search-scroll:before {
  content: "\f149";
}
.deco-icon-search-square:before {
  content: "\f14a";
}
.deco-icon-search-sticky:before {
  content: "\f14b";
}
.deco-icon-shadow:before {
  content: "\f14c";
}
.deco-icon-shop-info-1:before {
  content: "\f14d";
}
.deco-icon-shop-info-2:before {
  content: "\f14e";
}
.deco-icon-shop-info-3:before {
  content: "\f14f";
}
.deco-icon-shop-info-4:before {
  content: "\f150";
}
.deco-icon-shop-info-5:before {
  content: "\f151";
}
.deco-icon-shopnote-hybrid:before {
  content: "\f152";
}
.deco-icon-small-slide:before {
  content: "\f153";
}
.deco-icon-small:before {
  content: "\f154";
}
.deco-icon-social-fans:before {
  content: "\f155";
}
.deco-icon-swipe:before {
  content: "\f156";
}
.deco-icon-tabs-1:before {
  content: "\f157";
}
.deco-icon-tabs-2:before {
  content: "\f158";
}
.deco-icon-tabs-3:before {
  content: "\f159";
}
.deco-icon-text-position-cover:before {
  content: "\f15a";
}
.deco-icon-text-position-follow:before {
  content: "\f15b";
}
.deco-icon-three:before {
  content: "\f15c";
}
.deco-icon-up2end:before {
  content: "\f15d";
}
.deco-icon-white:before {
  content: "\f15e";
}
.deco-icon-xianxiake:before {
  content: "\f15f";
}
.deco-icon-zhibo:before {
  content: "\f160";
}
.deco-icon-zhuanlan:before {
  content: "\f161";
}
