.live-item-select {

  &__cover {
    float: left;
    width: 110px;
    height: 62px;
  }

  &__content {
    margin-left: 125px;
    height: 62px;
    line-height: 62px;

    &__name {
      display: inline-block;
      line-height: 15px;
      font-size: 12px;
      color: #2b85ff;
      vertical-align: middle;
    }
  }
}
