.study-record {
  &__notice {
    display: flex;
  }

  &__update {
    margin-left: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #646566;
    font-weight: normal;
  }

  &__icon {
    color: #c8c9cc;
    font-size: 16px;
  }
}