.block-settings {
  .cell--has-value {
    color: #39393a;
  }

  .cell--has-error {
    font-size: 12px;
    color: #ee0a24;
  }

  .cell--disabled {
    .van-cell__value {
      color: #969799;
    }
  }

  .van-icon-cross {
    margin-left: 5px;
    line-height: 24px;
  }
}
