@import 'shared/sass/mixins/ellipsis';

.consume-list-container {
  border-bottom: 16px solid #f7f8fa;
  padding: 20px 16px 16px;

  &__header {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    display: inline-block;
  }

  &__export {
    font-size: 14px;
    font-weight: normal;
    margin-left: 16px;
    vertical-align: middle;
  }

  .easy-filter {
    &__zent-control {
      min-width: auto;
    }

    .zent-btn-primary-outline {
      background-color: transparent;
    }

    .zent-form-label {
      width: 75px;
      flex-basis: 75px;
    }
  }

  .easy-grid {
    &-container {
      // 覆盖easy-grid排序按钮样式问题
      .zent-grid-thead-sort-btn {
        display: block;
      }
    }
  }
}
