.custom-profile {
  .address-field {
    .zent-form__error-desc {
      color: #f44;
    }

    .zent-cascader {
      width: inherit;

      &__select {
        width: 100%;
      }

      &.has-error {
        .zent-cascader__select-text {
          color: #f44;
          border: 1px solid #f44;
        }
      }

      &+.zent-form__error-desc {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .zent-form__control-label.has-error {
      color: #f44;
    }
  }
}
