{% extends '../base.html' %}

{% block page_title %} 正在跳转... {% endblock %}

{% block base_style %}{% endblock %}
{% block project_style %}{% endblock %}
{% block page_style %}{% endblock %}
{% block shop_style %}{% endblock %}
{% block base_header %}{% endblock %}
{% block page_content %}{% endblock %}
{% block base_footer %}{% endblock %}
{% block debug_script %}{% endblock %}

{% block base_script %}
  {{ loadJs('version_h5_js.js/base') | safe }}
  {{ loadJs('version_h5_js.js/viscommonentry') | safe }}
{% endblock %}

{% block page_script %}
  {{ loadJs('version_h5_js.js/common/redirect/iframe') | safe }}
{% endblock %}
