@import 'vars/colors';

.cluesetting {
  .zent-form__control-label {
    width: 180px;
  }

  .zent-select-text {
    color: $normalColor;
  }

  .description {
    color: #999;
  }

  .footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 0;
    right: 0 !important;
    width: auto;
    min-width: 780px;
    padding: 10px 0;
    text-align: center;
    transition: right 0.5s;
    background-color: #fff;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.07);
  }

  .zent-radio-wrap:last-of-type {
    margin-right: 0;
  }

  .zent-form__control-group.inline-ele {
    margin-bottom: 8px;
  }
}

.cluesetting-icon {
  padding-left: 5px;
  color: #999;
}

.no-required {
  label {
    display: none !important;
  }
}

.inline-ele {
  display: inline-block;
  margin-bottom: 0;
}
