.pct-freebie-goods-field {
  &-info {
    display: flex;
  }

  &-img {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;

    img {
      max-width: 80px;
      max-height: 45px;
    }
  }

  &-link {
    margin-top: 8px;
    margin-left: 24px;
  }

  &-list {
    margin-top: 8px;
  }

  &-dialog {
    width: 1000px;
  }
}
