.teacher-info-panel {
  min-height: 500px;
  border-right: 1px solid #ebedf0;

  .tearcher-info-edit-btn {
    display: inline-block;
    width: 100%;
    margin: 15px 0 20px 0;
    color: #155bd4 !important;
    text-align: right;
    cursor: pointer;

    &[disabled] {
      color: #969799 !important;
    }

    span {
      margin-right: 15px;
    }
  }

  .teacher-avatar {
    width: 70px;
    margin: 0 auto;

    .img-wrap {
      border-radius: 50%;
    }

    .teacher-sex {
      position: absolute;
      margin-top: -20px;
      margin-left: 50px;
    }
  }

  .teacher-staffname {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .teacher-mobile {
    margin-top: 10px;
    font-size: 14px;
    color: #969799;
    text-align: center;
  }

  .teacher-split-line {
    margin: 25px 20px 20px 0;
    border-bottom: 1px solid #ebedf0;
  }

  .teacher-description-panel {
    .teacher-item-wrap {
      display: flex;
      margin-bottom: 10px;

      .teacher-label {
        color: #969799;
        margin-right: 20px;
        min-width: 50px;
      }

      .teacher-content {
        margin-right: 10px;
      }
    }
  }
}
