.moments-setting {
  .zent-form-control {
    .form-desc {
      margin-top: 4px;
      margin-bottom: 0;
      color: #969799;
      line-height: 14px;
      font-size: 12px;
    }

    .form-desc.single {
      padding-left: 24px;
    }
  }
  .zent-radio-wrap {
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }
  .zent-checkbox-wrap {
    margin-top: 6px;

    &:first-child {
      margin-top: 0;
    }
  }

  &-save {
    display: flex;
    position: fixed;
    width: calc(100% - 256px);
    left: 240px;
    bottom: 0;
    background-color: white;

    &-left {
      position: relative;
      width: 103px;
      border-right: 1px #ebedf0 solid;
      background-color: white;
      z-index: 1;
    }

    &-right {
      padding: 8px 0;
      flex-grow: 1;
      text-align: center;
      box-shadow: 0px 0px 12px #d8d8d8;
    }
  }
}