.workbook-operations {
  .operations-item {
    .operation.disabled {
      color: #bbb;
      cursor: not-allowed;
    }

    .workbook-manage {
      height: 17px;
    }
  }

  span.disabled {
    color: #bbb;
  }
}

.homework-invalidate-pop {
  .content {
    width: 160px;
    margin-bottom: 16px;
  }

  &.zent-pop--no-header .zent-pop-buttons {
    display: block;
  }
}
