.module-book-list {
  .workbook-card {
    display: flex;
    padding: 16px;
    margin: 12px 0;
    background-color: #fff;
    border-radius: 8px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .imgWrap {
      flex: 0 0 auto;
    }

    &__content {
      display: flex;
      height: 100%;
      margin-left: 16px;
      overflow: hidden;
      flex: 1 1 auto;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      &__main {
        height: 100%;
        overflow: hidden;
        flex: 1 1 auto;
      }

      .van-icon {
        margin-left: 16px;
        flex: 0 0 auto;
      }
    }

    &__title {
      overflow: hidden;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__count {
      display: flex;
      margin-top: 16px;
      font-size: 12px;
      line-height: 18px;
      color: #646566;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__split {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 0 9px;
      background-color: #dcdee0;
      box-sizing: border-box;
    }

    .van-icon {
      color: #e5e5e5;
    }
  }
}
