@import 'vars/colors';

.listErrorMsg {
  display: block;
  font-size: 12px;
  color: $redColor;
  line-height: 18px;
  margin-top: 4px;

  &.operation {
    cursor: pointer;

    .caret-down {
      margin-left: 4px;
      color: #979797;
    }
  }
}

.pop {
  width: 200px;
}
