.clue-pool-source-filter {
  .zent-cascader__select-text {
    vertical-align: middle;
  }
  .zent-cascader__select {
    width: 200px;
  }
}

.clue-pool-source-filter-popup {
  z-index: 9999;
  .zent-cascader__menu {
    max-height: 120px;
  }
}

.clue-pool-source-filter-wrap {
  display: flex;
  align-items: center;
}

.clue-pool-source-filter-link-group {
  display: inline-block;
  margin-left: 8px;
  a {
    color: #155bd4;
    vertical-align: middle;
    cursor: pointer;
    &::after {
      color: #999;
      display: inline-block;
      content: '|';
      padding: 0 4px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.has-error :not(.no-error) > .zent-cascader__select-text {
  border: 1px solid #f44;
  color: #f44;
}
