.homework-detail__container {
  .richtext-display,
  .audio-uploader-preview,
  .video-uploader-preview,
  .document-uploader-preview {
    margin-bottom: 16px;
  }

  .document-uploader-preview {
    width: 436px;

    .ebiz-documnet-upload-selected-item {
      margin-top: 0;
      background-color: #fff;
    }

    .item-right {
      justify-content: flex-end;
    }
  }

  .richtext-display {
    table {
      margin-bottom: 10px;
      border-collapse: collapse;
      display: table;
      box-sizing: border-box;
      text-indent: 0;
      border-spacing: 2px;
      border-color: grey;
    }

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }

    td {
      padding: 5px 10px;
      border: 1px solid #ddd;
    }
  }
}
