.new-student-reward-field {
  .zent-radio-wrap {
    line-height: 28px;
  }

  .inline-input-field {
    display: inline-block;
    margin: 0 8px;

    .has-error &.input-error .zent-input-wrapper {
      border-color: #d0021b;
    }
  }

  .reward-sub-input {
    margin: 4px 24px 16px;

    &-line {
      display: flex;

      > p {
        line-height: 30px;
      }
    }

    &.last-option {
      margin-bottom: 0;
    }
  }

  .form-description {
    color: #969799;
    color: var(--theme-stroke-3, #969799);
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0;

    &.error-msg {
      color: #d0021b;
      display: none;

      .has-error & {
        display: block;
      }
    }
  }
}
