.student-detail {
  display: flex;
  align-items: inherit;

  &__content {
    padding: 0 1rem;

    &-rightPart {
      flex: 1;
      align-self: flex-start;
      // 定位问题，如果不限制宽度会撑开页面
      min-width: calc(100% - 260px);
    }

    &.operator-line {
      display: flex;
      margin-top: 1rem;

      .campus-selector {
        display: flex;
        line-height: 32px;
      }

      .button-list {
        display: flex;
        justify-content: flex-end;
        flex: 1;
      }
    }

    &.tabs-container {
      min-height: 631px;
      padding-top: 0;
      padding-bottom: 16px;

      .tab-panel-wrapper {
        flex: 1;
      }
    }
  }
}

.app-inner {
  padding: 0 !important; // 设置内边距为0
}

// 课表签到状态样式
.withDot {
  position: relative;
  padding-left: 10px;

  &::before {
    position: absolute;
    top: 3px;
    left: -5px;
    display: block;
    width: 6px;
    height: 6px;
    margin: 6px;
    border-radius: 50%;
    content: '';
  }
}

.course-notSign::before {
  background-color: #00c560;
}

.course-in::before {
  background-color: #4687e6;
}

.course-leave::before {
  background-color: #ff6500;
}

.course-notIn::before {
  background-color: #999;
}

.ebiz-select-dropdown {
  .option-item {
    margin: 0 !important;
  }
}

@mixin wrapperOperators {
  .operator-line {
    flex-wrap: wrap;

    .button-list {
      min-width: 600px;
      margin-top: 1rem;
    }
  }
}

// 媒体查询，如果宽度小于一定值，需要将校区选择和按钮分成两行显示
@media only screen and (max-width: 1440px) {
  @include wrapperOperators();
}

@media only screen and (max-width: 1660px) {
  .show-help {
    @include wrapperOperators();
  }
}

// 修改学员资料弹窗
.modify-student-dialog .dialog-r-footer {
  padding-left: 0;
  padding-right: 0;
}
