@import 'vars/colors';

.student-answer__container {
  margin: 16px 0;
  padding: 16px;
  background-color: $whiteColor;

  h3 {
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .answer-detail {
    .text {
      margin-bottom: 16px;
      line-height: 20px;
    }

    .imgvideo-display {
      .video-uploader-preview, .img-uploader-preview {
        display: inline-block;
        margin-right: 16px;
        padding-bottom: 16px;
      }
    }

    .audio-uploader-preview {
      padding-bottom: 16px;
    }

    .video-uploader-preview .video__headImg__icon {
      font-size: 24px;
    }
  }
}
