.edu-enrollment-discount {
  &-calc {
    background: #F7F8FA;
    border: solid 1px #E5E5E5;
    padding: 15px 10px;

    .zent-input-wrapper {
      display: inline-flex !important;
      margin-left: 10px;
    }

    &-line {
      padding: 10px 0 5px;
    }
  }

  &-show {
    width: 160px;
    font-size: 12px;
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      padding: 30px 50px 0 0;
      border: solid 1px #E5E5E5;
      border-top: 0;
    }
    &-detail {
      position: relative;
      display: flex;
      justify-content: space-between;
      color: #666;
      line-height: 20px;
      .zent-pop-wrapper {
        position: absolute;
        width: 32px;
        padding-left: 4px;
      }
      &-pop {
        .zent-pop-inner {
          padding: 10px;
        }
      }
    }
    &-total {
      display: flex;
      justify-content: space-between;
      line-height: 25px;
      margin: 10px 0 20px;
      :first-child {
        font-weight: bold;
      }
      :last-child {
        font-size: 18px;
        color: #F44;
      }
    }
  }
  &-detail {
    &-title {
      display: flex;
      background-color: #f7f7f7;
      :first-child {
        width: 180px;
      }
      :last-child {
        width: 90px;
        text-align: right;
      }
      &>div {
        margin-right: -1px;
        margin-bottom:-1px;
        border: solid 1px #e5e5e5;
        padding: 5px 10px;
        line-height: 16px;
      }
    }
    &-row {
      display: flex;
      &-key {
        width: 180px;
      }
      &-value {
        width: 90px;
        text-align: right;
      }
      &-key, &-value {
        margin-right: -1px;
        margin-bottom:-1px;
        border: solid 1px #e5e5e5;
        padding: 5px 10px;
        line-height: 16px;
      }
      &-sku {
        color: #969799;
      }
    }
  }
}
