@import 'mixins/retina';
@import 'common/ellipsis';
@import 'vars/colors';
@import 'common/filter';
@import 'common/ui-link';

.grad-with-img {
  .img-box {
    float: left;

    &.type-icon::after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 4px;
      right: 4px;
      width: 20px;
      height: 20px;
      background-size: 20px auto;
      background-repeat: no-repeat;
    }

    &.text::after {
      @include retina {
        background-image: image-cdn('wsc/ump/paidcontent/icon-text@2x.png');
      }
      background-image: image-cdn('wsc/ump/paidcontent/icon-text.png');
    }

    &.audio::after {
      @include retina {
        background-image: image-cdn('wsc/ump/paidcontent/icon-audio@2x.png');
      }
      background-image: image-cdn('wsc/ump/paidcontent/icon-audio.png');
    }

    &.video::after {
      @include retina {
        background-image: image-cdn('wsc/ump/paidcontent/video_icon@2x.png');
      }
      background-image: image-cdn('wsc/ump/paidcontent/video_icon.png');
    }

    &.live::after {
      @include retina {
        background-image: image-cdn(
          '/public_files/2018/06/01/f88dd9a8914228d71369e721deb967bd.png'
        );
      }
      background-image: image-cdn('/public_files/2018/06/01/4cc63e7cdd16956406fd26c9739d6e08.png');
    }
  }

  .content-box {
    margin-left: 117px;

    .price-wrap {
      line-height: 18px;

      .price {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
      }

      .error-icon {
        vertical-align: middle;
      }
    }

    .price {
      color: #f60;
    }

    .free {
      display: inline-block;
      height: 20px;
      box-sizing: border-box;
      line-height: 18px;
      vertical-align: middle;
      border: 1px solid #4b0;
      color: #4b0;
      border-radius: 2px;
      padding: 0 5px;
    }
  }
}

.record-order-text-break {
  word-break: break-all;
}

.filter-select__wrap {
  width: 200px;
  height:50px;
}

.order-selector__pop {
  transform: translateX(230px) translateY(40px);
}

.ump-record {
  .new-filter_region {
    margin: 0 0 16px;
    padding: 16px;
  }

  .new-filter_item {
      margin-bottom: 16px;
  }
}
