@import "vars/_colors";

.adjust-success {
  display: flex;
  height: calc(100vh - 200px);
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  &-icon {
    padding: 15px;
    font-size: 46px;
    color: #fff;
    background: $theme-success-1;
    border-radius: 50%;
  }
  &-tip {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
  }
  &-btn {
    margin-top: 50px;
  }
  &-link {
    display: inline-flex;
    margin-top: 30px;
    &-item {
      padding: 0 16px;
      cursor: pointer;
      color: $linkColor;
      &.border {
        border-right: 1px solid $borderColor;
      }
    }
  }
}