.zent-form--horizontal .no-label .zent-form__control-label {
  width: 0px;
}
.form-item-hide-mb {
  margin-bottom: 0px;
  .zent-form__controls .zent-form__radio-group {
    display: flex;
  }
}
.buttonContentTypeFooter {
  margin-bottom: 26px;
}
.help-block.button {
  min-width: 765px;
  margin-left: 168px;
  margin-bottom: 24px;
  pointer-events: all;
}
.hidden {
  display: none;
}