.campus-filter {
  padding: 14px 16px;
  line-height: 36px;
  border-bottom: 16px solid #f7f8fa;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__right {
    float: right;
  }

  .zent-select {
    margin-right: 0;
  }
}

.live-selector__pop {
  transform: translateX(210px) translateY(40px);
}
