@import 'common/cursor-link';
@import 'common/ellipsis';
@import 'common/filter';
@import 'common/app-design';

.has-error .zent-input{
  color: #323233 !important;
}

.pop-delete {
  .zent-pop-buttons {
    float: right;
    margin-top: 16px;
    margin-bottom: 10px;
  }
}
.empty-list {
  width: 100%;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-image {
    width: 118px;
    img {
      width: 100%;
    }
  }
  &-info {
    margin-top: 18px;
    font-size: 14px;
    color: #a0a1a3;
    text-align: center;
  }
}

.enrollment-poster-list {
  .market-wrapper {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #323233;
    margin-bottom: 16px;
  }

  .list-filter {
    .filter-right {
      float: right;
      .search-input {
        width: 232px;
      }
    }
  }
  .poster-list {
    .poster-list-content {
      padding: 16px 0;
    }
  }

  .poster-item, .template-item {
    display: inline-block;
    margin-top: 8px;
    margin-right: 8px;
    background: #ffffff;
    border-radius: 4px;
    transition: transform linear 0.3s;
    border: 1px solid #ebedf0;
    &-img {
      width: 100%;
      height: 206px;
      overflow: hidden;
      background-color: #969799;
      img {
        width: 100%;
        &.img-wrap__img {
          left: 0;
          top: 0;
          max-height: none;
          transform: none;
        }
      }
    }
  }

  .poster-item {
    width: 168px;
    height: 318px;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.13) 0 2px 4px 0;
      transform: translateY(-4px);
    }

    &-img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &-desc {
      height: 112px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 12px;
      line-height: 20px;
      .poster-item-title {
        flex: none;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #323233;
        letter-spacing: 0;
        @include ellipsis();
      }
      .poster-item-info {
        flex: 1 1 auto;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #969799;
        letter-spacing: 0;
        &-line {
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .poster-item-action {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .template-item {
    position: relative;
    width: 176px;
    height: 347px;
    margin-top: 8px;
    margin-right: 12px;

    &:hover {
      .template-item-mask {
        opacity: 1;
      }
    }
    &-title {
      height: 34px;
      line-height: 34px;
      text-align: center;
      color: #323233;
      background-color: #F2F3F5;
      font-family: PingFangSC-Medium;
    }
    &-img {
      height: 313px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-mask {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      opacity: 0;
    }
  }
}

.enrollment-poster-create {
  min-height: calc(100vh - 172px);
  display: flex;
  .image-preview {
    flex: none;
    width: 320px;
    margin-right: 16px;
    &-content {
      width: 100%;
      height: 568px;
      background-color: #DCDEE0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &-img{
        position: relative;
        max-width: 100%;
        max-height: 100%;
      }
      &-qrcode {
        position: absolute;
        width: 60px;
        height: 60px;
      }
      &-text {
        position: absolute;
        width: 100px;
        height: 24px;
      }
    }
    &-label {
      margin-top: 16px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #969799;
      text-align: center;
    }
  }
  .create-form {
    flex: 1 1 auto;
    min-height: 600px;
    .left-tab {
      margin-left: 24px;
    }
    /* 描述信息 */
    .desc-info {
      width: 400px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #969799;
      line-height: 17px;
      margin-bottom: 8px;
    }
    /* 图片展示 */
    .image-sortable__item {
      margin: 0 10px 10px 0;
      width: 66px;
      background-color: #fff;
      position: relative;
      cursor: pointer;
      &.normal-size {
        width: 80px;
      }
      &:hover {
        .close-modal {
          display: block;
        }
      }
      img {
        width: 100%;
      }
      .close-modal {
        display: none;
        position: absolute;
        z-index: 2;
        top: -9px;
        right: -9px;
        width: 20px;
        height: 20px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        background: hsla(0, 0%, 60%, 0.6);
        border-radius: 10px;
      }
    }

    .model-select {
      &-custom {
        margin-left: 24px;
      }
      &-upload {
        margin-top: 8px 0;
        .rc-upload-trigger {
          width: 68px;
          height: 106px;
          border: 1px dashed #dcdee0;
          border-radius: 2px;
          font-size: 0;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 20px;
            border-top:2px solid #979797;
          }
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 20px;
            border-left:2px solid #979797;
          }
        }
        &.normal-size {
          .rc-upload-trigger {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
    .has-error .rc-upload-trigger {
      border: 1px dashed #df4545;
    }
    .dis .rc-upload-trigger {
      background-color: #F7F8FA;
      color: #DCDEE0;
    }

    .related-content-course {
      &__grid {
        margin-bottom: 8px;
        &-cell {
          display: flex;
          img {
            flex: none;
            width: 60px;
            height: 60px;
            margin-right: 10px;
          }
        }
        &-title {
          font-size: 14px;
          width: 157px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .app-design .app-actions {
    left: 224px !important;
    right: 224px !important;
  }
}

.divider {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #ebedf0;
  margin: 0 8px;
  vertical-align: middle;
}

.promotion {
  &-img {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    overflow: auto;
    img {
      width: 100%;
    }
  }
  &-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    &-label {
      font-family: PingFangSC-Regular;
      color: #323233;
      font-size: 14px;
      line-height: 20px;
    }
    &-url {
      margin-top: 12px;
      margin-bottom: 24px;
      .copy-input {
        width: 312px;
        .zent-input-addon-after {
          padding: 0;
        }
      }
      .copy-button {
        border-radius: 0;
        border: 0;
      }
    }
  }
}
