@import 'vars/colors';
@import '~shared/sass/mixins/retina';

.automatic-call-bar {
  background: $theme-stroke-9;
  padding: 10px;
  text-align: left;

  & + & {
    border-top: 1px solid $borderColor;
  }

  &__row {
    display: flex;
    align-items: center;
    line-height: 30px;
  }

  &-desc {
    font-size: 12px;
    margin-left: 10px;
  }

  &-text {
    color: $greenColor;

    &__danger {
      color: $redColor;

      .order-delivery-bar-icon {
        background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/378efdd20e2ca983d42d5b372e316805.png);

        @include retina {
          background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/159fa7d0372b8e9da07eba7eed5eec7a.png);
        }
      }
    }
  }

  &-icon {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 10px;
    background-size: cover;
    background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/e6a2a97efa46fa01a656a7a3f9c0d113.png);

    @include retina {
      background-image: url(https://img.yzcdn.cn/public_files/2018/09/20/5c86a16d1cf51795e5e93346558e0b86.png);
    }
  }

  &__action-btn {
    margin-left: 10px;
    width: 70px;
  }
}
