.hide-list {
  padding-top: 12px;
}

.hide-list__item {
  &__title {
    width: 70px;
    color: #323233;
    line-height: 20px;
    float: left;
  }

  &__radio {
    margin-left: 8px;
    color: #333;
    float: left;
  }
}

.hide-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.hide-btns {
  float: right;
  padding-top: 20px;
}
