.workbook-delete-dialog {
  width: 403px !important;
  min-width: 403px !important;
  height: 234px;

  .delete-dialog-container {
    width: 367px;

    .body {
      .confirm-text {
        margin-bottom: 15px;
        height: 40px;
      }

      .user-input {
        width: 367px;
      }
    }
    
    .bottom-actions {
      display: flex;
      margin-left: 206px;
      margin-top: 28px;
    }
  }
}