@import 'vars/colors';
@import 'classes/serial-input';
@import 'common/app-design';
@import 'classes/new-title';

.content-form {
  padding: 0 10px 40px 60px;

  & > textarea {
    display: none;
  }

  .zent-form__control-label {
    width: 156px;
  }

  .split-title {
    position: relative;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin: 30px 0;

    .help-icon {
      color: #bbb;
      margin-left: 5px;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 2px;
      height: 12px;
      background: $linkColor;
      position: absolute;
      top: 4px;
      left: -10px;
    }
  }

  & > .desc {
    margin-bottom: 20px;
    margin-left: 65px;
  }

  .size-110 {
    width: 110px;
  }

  .publish-type-group {
    position: relative;

    .zent-radio-wrap {
      line-height: 30px;
      display: block;
    }

    .zent-datetime-picker {
      position: absolute;
      left: 160px;
      top: 50%;
      margin-top: -15px;
    }
  }

  .checkbox-desc {
    margin-left: 18px;
  }
}

.field-size-320 {
  .zent-input {
    width: 320px;
  }
}

.columb-from-desc {
  color: #999;

  p:last-child {
    margin-left: 25px;
  }
}

.summary-textarea {
  textarea {
    width: 320px;
    height: 60px;
  }
}

.column-content-form {
  padding: 0 10px 40px 0;

  .button-like-outline__span {
    border-color: var(--theme-stroke-5, #dcdee0);
    display: inline-block;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 16px;
    border-radius: 2px;
    font-family: inherit;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 8px;
  }

  .new-title:first-of-type {
    margin-top: 16px;
  }

  .new-title {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .zent-form__control-label {
    width: 100px;
  }
}
