@import "classes/cursor-link";
@import "vars/_colors";

a.pointer {
  cursor: pointer;
}

a.disable {
  color: #969799;
  cursor: not-allowed;
}

// 图片容器
.img-container {
  margin-top: 10px;

  img {
    cursor: pointer;
    height: 56px;
    width: 56px;
    overflow: hidden;
    margin-right: 10px;
  }
}

.evalList {
  .ebiz-order-table {
    margin-top: 16px;

    &__footer {
      margin-top: 0;
    }
  }

  &__filter {
    &-container {
      padding: 16px 16px 0;
      background-color: $whiteColor;
      border: 0;
    }

    &-line {
      display: flex;
      /* justify-content: space-between; */
      flex-wrap: wrap;
    }

    &-field {
      padding: 0;
      padding-bottom: 20px;
      padding-right: 42px;
      display: flex;
      align-items: center;

      .submit {
        margin-left: 20px;
      }

      .reset {
        margin-left: 11px;
      }

      &.operator {
        margin-left: 85px;
      }
    }

    &-input {
      .zent-select {
        margin-right: 0;
      }
    }

    &-label {
      width: 100px;
      margin-right: 8px;
      overflow: hidden;
      font-size: 14px;
      text-align: right;
    }
  }

  &__table {
    &-extend {
      display: flex;
      padding-top: 10px;
      color: $normalColor;
      word-break: break-all;

      .tag {
        display: inline-block;
        vertical-align: top;
        padding-left: 5px;
        color: #FF6600;
      }

      .context {
        display: inline-block;
        height: 100%;
        color: #333333;
        flex: 1;

        .time {
          width: 100%;
          color: $lightGrayColor;
        }
      }

      &:last-child {
        padding-bottom: 10px;
      }
    }
  }

  &__dialog {
    .zent-dialog-r-title {
      padding-bottom: 16px;
    }

    &-label {
      display: inline-block;
      margin-bottom: 12px;
    }

    &-input > textarea {
      min-height: 150px;
      border-radius: 4px;
    }

    &-footer {
      margin-top: 8px;
    }
  }
}

.valuntary-async-select {
  width: 160px !important;
}
