{% extends '../../common/base.html' %}

{% block page_content %}
  <div class="container" style="min-height: 812px; min-height: 100vh;">
    <div id="app"></div>
    <div class="content-sidebar" id="content-sidebar"></div>
  </div>

  {# 店铺休息 #}
  {% if shopRestHtml %}
    {{ shopRestHtml | safe }}
  {% endif %}
{% endblock %}

{% block page_style %}
  <style>
    body {
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
      margin-bottom: 70px;
    }
  </style>
  {{ loadCss('version_h5_css.css/course/detail') | safe }}
{% endblock %}

{% block page_script %}
  {{ loadJs('version_h5_js.js/course/detail') | safe }}
{% endblock %}
