@import 'vars/colors';

.reserve-search {
  margin-top: 16px;

  &__wrapper {
    padding: 16px 16px 16px 0;
    background: #f7f8fa;
  }

  .form-field-wrap {
    max-width: 850px;
  }

  .zent-form {
    margin-bottom: 0;
  }

  .zent-form__control-label {
    width: 100px;
  }

  .zent-alert {
    padding: 16px 16px 16px 0;
  }

  .form-actions {
    margin-left: 110px;

    .operation {
      color: $blueColor;
      cursor: pointer;
      margin-left: 8px;
    }
  }

  .zent-select {
    width: 155px;
    margin-right: 0 !important;
  }
}
