.zent-block-header__left h3 {
  border-left: 0;
}

.zent-alert .float-right {
  float: right;
}

.payback-img-tips {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 50px;
  padding-right: 40px;

  div {
    position: relative;
    margin: 10px 0 20px;
    font-size: 12px;
    color: #646566;
    width: 56px;
    justify-self: center;

    span {
      white-space: nowrap;
      position: absolute;
      left: 0;
    }
  }
}
