@import 'vars/colors';

.homework-preview {
  flex: 0 0 375px;
  background-color: $whiteColor;
  z-index: 1;

  .homework-detail {
    padding: 16px;
    overflow: auto;
    height: 543px;
    width: 319px;

    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #323233;
    }

    &__desc {
      margin-top: 8px;
      font-size: 12px;
      line-height: 18px;
      color: #969799;
    }

    &__media-content {
      margin-top: 8px;
    }
  }
}

.viewport-container {
  display: flex;
  min-height: 667px;
  background: #f7f8fa;
  border-radius: 12px;
  box-shadow: 0 2px 24px 0 rgba(200, 201, 204, .5);
  flex-direction: column;

  &__header {
    display: flex;
    height: 44px;
    padding: 0 16px 0 8px;
    background: #fafafa;
    flex: 0 0 auto;
    align-items: center;

    &__left,
    &__right {
      width: 20px;
      flex: 0 0 auto;
      font-size: 20px;
    }

    &__right {
      font-size: 24px;
    }

    &__title {
      font-size: 17px;
      font-weight: 500;
      letter-spacing: -.45px;
      color: #333;
      text-align: center;
      flex: 1;
    }
  }

  &__body {
    flex: 1;
    margin: 0 12px 12px;
    background: #fff;
    border-radius: 4px;

    .media-container__rich-text {
      em {
        font-style: italic;
      }
      
      table {
        margin-bottom: 10px;
        border-collapse: collapse;
        display: table;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
        border-color: grey;
      }

      tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
      }

      td, th {
        padding: 5px 10px;
        border: 1px solid #DDD;
      }
    }
  }

  &__footer {
    flex: 0 0 auto;
    height: 56px;
    background: #fff;

    &__button {
      margin: 8px 24px;
      font-size: 16px;
      line-height: 40px;
      letter-spacing: 0;
      color: #fff;
      text-align: center;
      background: #00b389;
      border-radius: 20px;
    }
  }
}
