@import 'vars/colors';

.teacher-selector-dialog {
  width: 665px;
  min-height: 574px;

  .zent-grid.teacher-grid-body {
    min-height: 390px;

    .zent-grid-table {
      colgroup col:first-child {
        width: 28px !important;
      }

      thead tr th:last-child {
        text-align: right;
      }

      tbody tr td:last-child {
        text-align: right;
      }
    }
  }
}

.teacher-selector-label {
  line-height: 30px;
  cursor: pointer;
  color: $blueColor;

  &.disabled {
    color: $grayColor;
    cursor: not-allowed;
  }
}

.teacher-selector-grid {
  margin-top: 5px;
  width: 460px;

  span.operation {
    cursor: pointer;
    color: $blueColor;

    &.disabled {
      color: $grayColor;
      cursor: not-allowed;
    }
  }
}

.teacher-grid-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  &-widget {
    min-width: 180px;
  }

  &-options {
    // min-width: 365px;
    display: flex;

    label {
      line-height: 30px;
    }

    .zenticon-help-circle:before {
      font-size: 15.4px;
    }
  }

  &-refresh {
    width: 76px;
  }

  &-search {
    width: 176px;
    height: 32px;
  }
}

.teacher-grid-body {
  .zent-grid-th:first-child, .zent-grid-td:first-child {
    padding: 10px 12px 9px 16px;
  }
}

.teacher-selector-footer {
  margin-top: 25px;
  text-align: right;

  .red {
    color: $redColor;
  }

  button {
    width: 64px;
    height: 32px;
  }
}

.zenticon.teacher-selector-helpele {
  line-height: 30px !important;
  margin-left: -10px;
  padding-top: 1px;
  margin-right: 10px;
  color: $lightGrayColor;
}