{% extends '../common/base.html' %}

{% block page_title %} 上门自提 {% endblock %}

{% block page_style %}
{{ loadCss('version_css.self-fetch') | safe }}
{% endblock %}

{% block app_nav %}
  <div id="js-page-nav"></div>
{% endblock %}

{% block app_content %}
  <div id="js-react-container"><div class="zent-loading-container zent-loading-container-static zent-loading-container--empty" style="height: 500px;"><div class="zent-page-loading "><div class="zent-page-mask"></div></div></div></div>
{% endblock %}

{% block page_js %}
  {{ loadJs('version_js.self-fetch') | safe }}
{% endblock %}
