.step-line {
  height: 40px;
  width: 100%;
  background-color: #f8f8f8;
  padding-left: 20px;

  span {
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    color: #333;
  }

  a {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    line-height: 40px;
  }
}

