.table-sku-wrap {
  padding: 10px 10px 5px;
  border: 1px solid #e5e5e5;
  font-size: 12px;
}

.table-sku-stock {
  width: 100%;
  background-color: #fff;
  text-align: left;

  th {
    padding: 10px 8px;
    font-weight: normal;

    &.th-price {
      width: 100px;
    }

    &.th-stock {
      width: 75px;
    }

    &.th-code {
      width: 90px;
    }
  }

  tr {
    &.has-border {
      border-top: 1px solid #e5e5e5;
    }
  }

  td {
    padding: 8px;

    &.has-border {
      border: 1px solid #e5e5e5;
    }

    &:first-of-type {
      border-left: 0;
    }

    &:last-of-type {
      border-right: 0;
    }
  }

  tbody {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }

  .error-message {
    display: none;
    color: #b94a48;
  }

  .batch-opts {
    border: 0;

    .input-mini {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
