@import 'common/filter';

.text-tip {
  margin-bottom: 15px;
}

.exam-overflow-container {
  overflow-x: auto;

  .zent-form__help-desc {
    line-height: 18px;
  }
}

.exam-list__table-failure-text {
  color: #bbb;
}

.common-hint-icon {
  cursor: pointer;

  &:hover {
    color: #bbb;
  }
}

.exam-list__table-status-text {
  .table-status-text {
    &__line {
      display: flex;
      flex-direction: row;
    }

    &__title {
      width: 70px;
      text-align: right;
    }

    &__desc {
      color: #9b9b9b;
      font-size: 8px;
      margin-left: 10px;
      text-align: left;
      flex: 1;
    }
  }
}

.exam-list__table-edit-text {
  color: #a9a9a9;
}

.exam-steps {
  margin-bottom: 30px;
}

.zent-checkbox-wrap.exam-result-wrap {
  &__display-result-checkbox {
    margin-left: 20px;
  }
}

.zent-radio-group .exam-finish-wrap {
  &__share-radio {
    display: block;
    margin-top: 4px;
    margin-bottom: 20px;
  }
}

.exam__drag-select {
  margin: 20px auto;
}

.exam-basis__examples {
  width: 450px;
  height: 368px;
  border-radius: 4px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exam-basis__examples-img {
  width: 407px;
  height: 339px;
}

.exam-basis-wrap {
  .zent-form__control-label {
    width: 150px;
  }

  .zent-textarea-wrapper {
    overflow: scroll;
  }

  .zent-textarea {
    height: 91px !important;
    overflow: initial !important;
    resize: initial !important;
    overflow-wrap: initial !important;
  }
}

.table-column-state .zent-popover-wrapper {
  margin-left: 8px;
}

// .zent-upload-network-image-region, .zent-upload-group-region, .zent-upload-local-attachment-region {
//   padding: 12px 10px;
// }

.zent-upload-content {
  .zent-upload-add-local-image-button {
    margin-bottom: 0;
  }
  .zent-upload-local-tips {
    padding-top: 8px;
  }
}

.market-wrapper {
  margin-bottom: 0;
  min-height: 30px;
  width: 100%;

  .app-board-fadeIn {
    margin-bottom: 0;
  }
}

.search-fixedWidth {
  width: 240px !important;
}