.trade-steps {
  box-sizing: border-box;
}

.trade-step-item {
  position: relative;
  vertical-align: top;

  &:last-child {
    .trade-step-tail {
      display: none;
    }
  }
}

.trade-step-tail {
  box-sizing: border-box;
  position: absolute;
  margin-left: 0;
  width: 2px;
  left: 11px;
  top: 0;
  height: 100%;

  i {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 1px;
    background-color: #f2f3f5;
    height: 100%;
    width: 2px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.trade-step-content {
  position: relative;
}

.trade-step-head {
  position: relative;
  float: left;
  vertical-align: top;
  box-sizing: border-box;
  margin-left: 0;
}

.trade-step-main {
  position: relative;
  vertical-align: top;
  overflow: hidden;
  text-align: left;
  padding-left: 8px;
}
