.panel__toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__link {
    // float: right;
    line-height: 30px;
    color: #c8c9cc;

    &-options {
      box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    }

    &-option {
      display: block;
      background-color: #fff;
      line-height: 32px;
      padding-left: 16px;
      width: 160px;
      color: #333;

      &:hover {
        background-color: #edf4ff;
        color: #333;
      }
    }
  }

  &__search {
    // float: right;
    margin-right: 16px;
    line-height: 30px;
    color: #155bd4;

    .zenticon {
      margin-left: 6px;
      font-size: 12px;
      transition: all linear 0.3s;
    }

    &--up {
      .zenticon {
        transform: rotate(-90deg);
      }
    }

    &--down {
      .zenticon {
        transform: rotate(90deg);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    // float: right;
    flex-direction: row;
    line-height: 30px;

    & > .week {
      margin-right: 10px;
    }
  }
}
