.goods-dialog {
  &__pic {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 15px;
  }

  &__tip {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;

    span {
      color: #155bd4;
    }
  }
}
