@font-face {
  font-family: 'vant-icon-new';
  font-style: normal;
  font-weight: normal;
  src:
    url('https://img01.yzcdn.cn/vant/vant-icon-db1de1.woff2') format('woff2'),
    url('https://img01.yzcdn.cn/vant/vant-icon-db1de1.woff') format('woff'),
    url('https://img01.yzcdn.cn/vant/vant-icon-db1de1.ttf') format('truetype');
  font-display: auto;
}

.van-icon {
  font-family: 'vant-icon-new' !important;
}
