@import 'common/ui-link';
@import 'common/filter';
@import 'vars/colors';

.campus-filter {
  margin: -16px -16px 16px;
}

.pct-live-list {
  .easy-filter {
    margin-top: 16px;

    .zent-btn-primary-outline {
      background-color: transparent;
    }
  }
}

.live-auth-disabled {
  margin-top: 10px;
  color: #999;

  > a {
    margin-left: 5px;
  }
}

.btn-area {
  margin-top: 0;
}

.zenticon-help-circle {
  margin-left: 5px;
  color: #bbb;
  transform: scale(1.23);
}

.pct-live-list span.price-title {
  padding-right: 22px;
}

.live-menu-item {
  width: 116px !important;
  padding: 4px 0 !important;

  .zent-menu-item {
    height: 28px;
    padding: 0;
    line-height: 28px;
    color: #323233;
    text-align: center;

    &.disabled {
      color: #c8c9cc;
    }
  }
}
