.edu-dialog {
  width: 810px;
  background-color: #fff;
}

.edu-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.edu-dialog-header-section {
  display: flex;
}