/* UI标准色 */
$c-orange: #f60;
$c-green: #06bf04;
$c-wx-green: #4b0;
$c-red: #ed5050;
$c-black: #333;
$c-gray-darker: #666;
$c-gray-dark: #999;
$c-gray: #c9c9c9;
$c-gray-light: #e5e5e5;
$c-background: #f8f8f8;
$c-orangef85: #f85;
$c-redf44: #f44;

$c-orangef66: #f66;
$c-orange-dark: #f15a0c;
$c-green-dark: #03b401;
$c-pink: #ee614b;
$c-red-dark: #b93232;
$c-white: #fff;
$c-yellow: #f09000;
$c-light-yellow: #fcff00;
$c-blue: #38f;
$border-color: $c-gray-light;
$c-light-green: #2ecc71;
$c-green-light: #0c3;
