.course-type-tag {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  border: 1px solid #c8c9cc;
  border-radius: 2px;
  color: #333333;
  font-size: 12px;
  padding: 0 6px;

  &__normal {
    background-color: #f2f3f5;
  }

  &__primary {
    background-color: #e3eeff;
    border-color: #3283fa;
    color: #3283fa;
  }

  &__trial {
    background-color: #fff5ed;
    border-color: #f1924e;
    color: #f1924e;
  }

  &__success {
    background-color: #f0faf2;
    border-color: #66be74;
    color: #66be74;
  }
}
