.click-table {
  width: 100%;
}
.click-table .head {
  height: 56px;
  line-height: 56px;
  color: #333;
  background-color: #f7f8fa;
}
.click-table .head th {
  font-weight: 500;
  padding: 0 16px;
  text-align: left;
}
.click-table .body tr {
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  line-height: 40px;
  transition: background-color 0.125s;
}
.click-table .body tr:hover:not(.disabled):not(.current) {
  background-color: #f8f8f8;
}
.click-table .body tr td {
  padding-left: 10px;
}
.click-table .body tr td:last-child {
  padding-right: 10px;
}
.click-table .body tr.current {
  background-color: #155bd4;
}
.click-table .body tr.current td, .click-table .body tr.current td a {
  color: #fff !important;
  border-color: #fff !important;
}