/* 适配iphonex */
.is-iphonex {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

/* 知识付费页面 */
.is-iphonex .content-action,
.is-iphonex .van-goods-action,
.is-iphonex .vip-btn,
.is-iphonex .fixed-btn {
  padding-bottom: 34px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
}

.is-iphonex .support-invitation__activity-explain {
  padding-bottom: 34px;
}

.is-iphonex .ft-copyright {
  padding-bottom: 54px;
}

/* sku弹框 */
.is-iphonex .van-popup--bottom,
.is-iphonex .cart-bottom,
.is-iphonex .bottomcart,
.is-iphonex .cap-shop-nav {
  padding-bottom: 34px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.f-safeArea {
  bottom: 0;
  bottom: constant(safe-area-inset-bottom) !important; 
  bottom: env(safe-area-inset-bottom) !important;
}
.f-safeArea:after {
  display: block ;
  content: '';
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  height: constant(safe-area-inset-bottom) !important; 
  height: env(safe-area-inset-bottom) !important;
  background: #fff;
}

.f-safeArea_noBackground:after {
  background: none;
}

.p-safeArea {
  padding-bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom) !important; 
  padding-bottom: env(safe-area-inset-bottom) !important;
}

.m-safeArea {
  margin-bottom: 0;
  margin-bottom: constant(safe-area-inset-bottom) !important; 
  margin-bottom: env(safe-area-inset-bottom) !important;
}
