.vip-benefit-select-field {
  .zent-checkbox-wrap {
    margin-right: 10px;
  }

  &__list {
    margin-top: 10px;
  }

  a {
    color: #155bd4;
    vertical-align: bottom;
    cursor: pointer;
  }

  .zent-tag-vip {
    margin-right: 10px;;
  }
}
