.live-code-form-row {
  display: flex;
  align-items: flex-start;

  .signin-code-select_button {
    color: #155BD4;
    cursor: pointer;
    line-height: 30px;
  }
  .signin-code-select_item {
    margin-top: 6px;
  }
}
.hide-item {
  display: none
}

.signin_icon-help {
  color: grey;
}

.signin_text {
  margin-right: 5px;
}

.column-upload .upload-text-trigger span::after {
  color: #155BD4;
}
