@import 'shared/sass/mixins/_ellipsis';

.pop-no-trigger {
  position: absolute;
  left: -1px;
  bottom: -5px;
  transform: translateY(100%);
  min-width: 180px;
  max-width: 200px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 1px 4px #e5e5e5;
  background-color: #fff;
  z-index: 1;

  &__content {
    max-height: 200px;
    overflow-y: auto;
  }

  &.pop-hidden {
    display: none;
  }

  &__item {
    @include ellipsis;
    color: #666666;
    padding: 9px 12px;
    font-size: 12px;

    &:hover {
      background-color: #f8f8f8;
      color: #1989fa;
    }
  }

  &__item-active {
    color: #1989fa;
  }

  &__action {
    color: #1989fa;
    padding: 9px 12px;
    font-size: 12px;
    cursor: pointer;
  }
}
