.workbook {
  width: 100%;

  .empty {
    margin-top: calc(50vh - 50%);
  }
}

.workbook-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  background-image: url(https://b.yzcdn.cn/public_files/1948ec49501ecfdf4d41201abbc50263.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
