.edu__clue-detail-order-select-field {
  display: flex;

  a {
    color: #155bd4;
  }

  p {
    margin-bottom: 8px;
  }

  .summary {
    width: 328px;
    padding: 8px 12px;
    box-sizing: border-box;
    background-color: #f7f8fa;
    font-size: 14px;
    line-height: 26px;
    border-radius: 4px;

    .title {
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 6px;
    }
  }
}
