.cards-container {
  min-height: 100vh;
}

.module-review {
  .block-assignment-list {
    .assignment-detail {
      // height: 100vh;
      padding-bottom: 50px;
      overflow: auto;

      &--selected {
        padding-top: 110px;
      }
    }
  }

  &.is-selected {
    .block-assignment-list {
      .assignment-detail {
        background: url(https://b.yzcdn.cn/public_files/0e0728ba5acb8c7be968e408b5231afc.png) no-repeat;
        background-size: 100%;
      }
    }
  }
}
