<div class="certPoster">
  <div class="startPoster-title">{{ currentInfo.title }}</div>
  <img class="startPoster-avatar" src="{{ currentInfo.avatar }}" />
  <div class="startPoster-name">{{ currentInfo.identityName }}</div>
  <div class="startPoster-content">
    <div class="startPoster-content__course">
      {{ currentInfo.courseName}}
    </div>
    <div class="startPoster-content__lesson">
      {{ currentInfo.duration }}
    </div>
  </div>
  <div class="startPoster-content__praise">
    {{ currentInfo.praiseText }}
  </div>
  <div class="startPoster-store">{{ currentInfo.signatureText }}</div>
  <div class="startPoster-time">{{ currentInfo.startDate }}</div>
  <img class="startPoster-qrcode" src="{{ currentInfo.qrUrl }}" />
  <div class="startPoster-shareText">{{ currentInfo.shareText }}</div>
</div>
<style>
  .certPoster {
    position: absolute;
    top: 0;
    left: 0;
    width: 315px;
    height: 500px;
    background: url('https://img01.yzcdn.cn/public_files/2019/06/11/e895db8b271fc14f0d6ea5305f65f1c8.png') no-repeat center center;
    background-size: 100% 100%;
  }
  .startPoster-title {
    position: absolute;
    top: 54px;
    left: 34px;
    width: 247px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #323233;
    font-weight: 500;
  }
  .startPoster-avatar {
    position: absolute;
    top: 122px;
    left: 138px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .startPoster-name {
    position: absolute;
    top: 168px;
    left: 34px;
    width: 247px;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #323233;
    font-weight: 500;
  }
  .startPoster-content {
    display: block;
    width: 247px;
    text-align: center;
    margin-left: 34px;
    margin-top: 213px;
  }
  .startPoster-content__course {
    display: block;
    max-height: 36px;
    width: 247px;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .startPoster-content__lesson {
    margin-top: 10px;
    line-height: 14px;
    width: 247px;
    text-align: center;
    font-size: 13px;
  }
  .startPoster-content__praise {
    position: absolute;
    top: 281px;
    left: 34px;
    font-size: 12px;
    color: #969799;
    line-height: 18px;
    width: 247px;
    height: 118px;
  }
  .startPoster-store {
    position: absolute;
    right: 34px;
    bottom: 109px;
    font-size: 10px;
    line-height: 10px;
    text-align: right;
    color: #969799;
  }
  .startPoster-time {
    position: absolute;
    right: 34px;
    bottom: 95px;
    font-size: 10px;
    line-height: 10px;
    text-align: right;
    color: #969799;
  }
  .startPoster-qrcode {
    position: absolute;
    bottom: 26px;
    left: 34px;
    width: 44px;
    height: 44px;
  }
  .startPoster-shareText {
    position: absolute;
    bottom: 52px;
    left: 86px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
    margin-left: 8px;
    color: #323233;
    font-weight: bold;
  }
</style>
