.week-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__name {
    font-size: 12px;
    line-height: 1.1;
    color: #323233;
  }

  &__icon {
    position: absolute;
    top: 0;
  }

  &__num {
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.1;
    color: #155bd4;
    cursor: pointer;
    transform: scale(0.9);
  }

  .deprecated {
    color: #C8C9CC;
    cursor: auto;
  }
}
