.rc-design-component-search-editor {
  .search-component-editor-card-tip {
    font-size: 12px;
    color: #969799;
    line-height: 16px;

    &-link {
      color: #155bd4;
    }
  }
  .search-component-color-reset {
    font-size: 14px;
    color: #155bd4;
    margin-right: 20px;
  }
}
