.rc-design-component-goods-recommend-editor {
  &__config-wrap {
    margin-bottom: 14px;
  }

  // 显示个数模块
  .goods-recommend-show-count-wrapper {
    padding-top: 5px;
  }

  .goods-recommend-count-input-wrapper {
    margin-right: 0;

    div.zent-input-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .goods-recommend__source-sign {
    vertical-align: middle;
  }

  .goods-recommend__source-icon {
    display: inline-block;
    width: 22px;
    height: 12px;
    margin-left: 4px;
    line-height: 12px;
    text-align: center;
    vertical-align: middle;
    border-radius: 1px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(#F17B7B, #DF4545);

    &--scale {
      display: block;
      width: 44px;
      margin-top: 3px;
      font-size: 16px;
      transform: scale(0.5);
      transform-origin: 0 0;
    }
  }

  .goods-recommend__source-radio {
    &:nth-child(2n+1) {
      margin-right: 80px;
    }
  }

  .goods-recommend-count-radio-text {
    color: #323233;
  }

  .zenticon-help-circle-o {
    margin-left: 4px;
    color: #c8c9cc;
  }

  // 列表样式模块
  .goods-recommend-list-type .zent-radio-wrap {
    margin-bottom: 5px;
  }

  .goods-recommend-show-controls-wrapper {
    padding-top: 20px;
  }

  .goods-recommend-show-content {
    margin-bottom: 0;
  }

  .goods-recommend__link-style {
    margin-right: 16px;
    font-size: 14px;
    color: #155bd4;
    cursor: pointer;
  }

  .zent-color-picker {
    margin-right: 0;
  }

  .deco-control-group .zent-input {
    min-width: 60px;
    width: 40px;
  }
}
