.batchimport-form {
  .choose-field {
    width: 320px;
    height: 140px;
    box-sizing: border-box;
    border: 1px solid #DCDEE0;
    border-radius: 2px;
    position: relative;

    &-container .zent-form__controls {
      display: inline-flex;
    }

    &.selected {
      border: 1px solid #155BD4;
      border-radius: 2px;

      .zenticon.zenticon-check {
        position: absolute;
        display: block;
        left: 303px;
        top: 2px;
        color: #fff;
        z-index: 2;
      }

      &:before {
        position: absolute;
        display: block;
        content: "";
        left: 288px;
        border-color: #155BD4 #155BD4 transparent transparent;
        border-style: solid;
        border-width: 15px;
        z-index: 1;
      }
    }

    .zenticon.zenticon-check {
      display: none;
    }

    .title {
      display: block;
      margin: 16px 17px 8px;
      font-size: 14px;
      line-height: 20px;
    }

    .desc {
      display: block;
      margin: 0 17px 24px;
      font-size: 12px;
      line-height: 18px;
      color: #969799;
    }

    .template {
      text-align: left;
      width: auto;
      color: #155BD4;

      &-wrapper {
        display: block;
        margin: 0 17px 16px;
        font-size: 14px;
        line-height: 20px;
      }

      .ebiz-icon {
        margin-right: 4px;
      }
    }

    &:not(:last-of-type) {
      margin-right: 24px;
    }

    .inspect-tutorial {
      white-space: nowrap;
    }

    .background {
      position: relative;
      margin-right: 0;
      bottom: 92px;
      left: 228px;

      .img-wrap {
        background: transparent !important;
      }
    }
  }
}