.lock_course_dialog {

  &_wrapper {
    margin-top: 4px;
  }

  &_desc {
    margin-bottom: 20px;
  }

  &_num {
    font-weight: bold;
  }

  &_footer {
    margin-top: 25px;
    width: 100%;
    text-align: right;
  }
}