{% extends 'layout/without_side_menu_layout.html' %}

{% block page_title %} 批量导出 {% endblock %}

{% block project_style %}
  {{ loadCss('base') | safe }}
  {{ loadCss('global') | safe }}
{% endblock %}

{% block page_style %}
  {{ loadCss('verifycard/export-list') | safe }}
{% endblock %}

{% block body_html %}
  <div id="js-react-container"></div>
{% endblock %}

{% block project_js %}
  {{ loadJs('vendor') | safe }}
  {{ loadJs('base') | safe }}
  {{ loadJs('global') | safe }}
{% endblock %}

{% block page_js %}
	{{ loadJs('verifycard/export-list') | safe }}
{% endblock %}
