@import 'vars/colors';
@import 'classes/new-title';
@import 'common/app-design';

.workbook-edit {
  padding: 24px;

  .new-title .create {
    margin-left: 10px;
  }

  .zent-radio-group.radio-select {
    .desc {
      margin: 8px auto 16px 25px;
      color: $grayColor;
      font-size: 12px !important;
      line-height: 18px !important;
    }

    .zent-radio-wrap {
      height: 20px;
    }
  }

  .help-tip {
    margin-top: 8px;
    color: $grayColor;
    font-size: 12px;
    line-height: 18px;
  }
}
