.vip-card-select-field {

  &.can-not-delete {

    .vip-card-select-field__card {
      margin-top: 7px;
    }
  }

  > a {
    vertical-align: middle;
  }

  &__card {
    margin-top: 15px;
    width: 280px;
    height: 50px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;

    &__cover {
      float: left;
      width: 86px;
      height: 48px;
    }

    &__name {
      height: 100%;
      margin: 0 64px 0 96px;
      line-height: 48px;
      box-sizing: border-box;

      > span {
        display: inline-block;
        line-height: 15px;
        vertical-align: middle;
      }
    }

    &__delete {
      cursor: pointer;
      float: right;
      margin-right: 15px;
      line-height: 48px;
      font-size: 12px;
      color: #155bd4;
    }
  }

  &__tag {
    height: 30px;
    line-height: 30px;
  }

  &__btn {
    margin-right: 15px;
  }

  .ui-link--split {
    vertical-align: middle;
  }
}
