.end-reward-field {
  .zent-row {
    margin-bottom: 5px;
    flex-direction: column;
  }
  & label {
    line-height: 30px;
  }

  .endaward-setting-desc {
    margin-left: 20px;
    line-height: 32px;
    color: rgb(153, 153, 153);
  }
}