@import 'vars/colors';
@import 'vars/font';

$sidePadding: 24px;

.headerWrapper {
  margin: 0;
  padding: 23px $sidePadding;
  background: $backgroundColor;
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  color: $normalColor;
  font-weight: $weight-medium;
  font-size: 16px;
}

.bodyWrapper {
  margin: 0;
  padding: 12px $sidePadding;
  background: $backgroundColor;
  flex-wrap: wrap;
}

.divider {
  margin: 0 $sidePadding;
  height: 1px;
  display: block;
  background: $borderColor;
}
