@import '../../variables.scss';
@import 'vars/_colors.scss';

.live-manage__liveSelling {
  @include headerStyles;
  @include splitContentBox;

  .action-box {
    font-size: inherit;
    vertical-align: top;
    margin-left: 16px;

    .action {
      cursor: pointer;
      user-select: none;
      margin-left: 8px;
    }
  }

  .dashboard {
    &__cell-box {
      display: flex;

      &__cell {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 8px;
        padding: 16px;
        color: $normalColor;
        background-color: $whiteColor;

        &:last-child {
          margin-right: 0;
        }

        .title {
          font-size: 14px;
          line-height: 20px;
        }

        .value {
          font-size: 20px;
          line-height: 28px;
          font-weight: bold;
        }
      }
    }

    // 订单列表
    .order-link {
      font-size: 14px;
    }
  }

  .suspense {
    margin-top: 16px;

    .zent-loading-mask {
      min-height: 158px;
      background-color: #fff;
    }
  }
}

.img-example-container {
  width: 248px;

  img {
    width: auto;
    height: inherit;
    background-color: #999999;
  }
}