{% extends '../../common/base.html' %}

{% block page_title %} 扫码签到 {% endblock %}

{% block page_style %}
  {{ loadCss('version_css.edu-admin/course-summary') | safe }}
{% endblock %}

{% block app_nav %}
	<div class="zent-breadcrumb" id="js-page-breadcrumb">
		<span class="project" data-href="{{ URL.site('/vis/edu/page/course-summary', 'v4') }}">课时汇总</span>
	</div>
{% endblock %}

{% block app_content %}
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {{ loadJs('version_js.edu-admin/course-summary') | safe }}
{% endblock %}
