.clue-pool-other-filter {
  display: inline-block;
  vertical-align: middle;

  .zent-date-range-picker {
    display: inline-block;
    vertical-align: middle;
  }
}

.clue-pool-other-filter-select {
  display: block !important;
  margin-bottom: 10px !important;
}