@import 'fns/image-cdn';
@import 'mixins/retina';
@import 'vars/colors';
@import 'common/ellipsis';
@import 'common/filter';
@import 'common/ui-link';
@import 'classes/serial-input';

.pct-content-list {
  .zent-select {
    margin-right: 0;

    .zent-select-text {
      color: $normalColor;
  
      .zent-select-placeholder {
        color: $normalColor;
      }
    }
  }

  .zent-select-text {
    color: #323233;
  }

  .zent-grid-tfoot-page {
    margin-top: 10px;
    float: right;
  }
}

.content-select-btn.zent-btn {
  line-height: 28px;
}

.inline {
  display: inline-block;
}

.content-menu-item {
  position: relative;
  z-index: 1100;
  width: 80px!important;

  .zent-menu-item {
    padding: 0;
    text-align: center;
    cursor: pointer;
  }
}

.zenticon-help-circle {
  margin-left: 5px;
  color: #bbb;
  transform: scale(1.23);
}

.grad-with-img {
  .img-box {
    position: relative;
    float: left;

    &.type-icon::after {
      position: absolute;
      right: 4px;
      bottom: 4px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: 20px auto;
      background-repeat: no-repeat;
      content: '';
    }

    &.text::after {
      background-image: image-cdn('wsc/ump/paidcontent/icon-text.png');

      @include retina {
        background-image: image-cdn('wsc/ump/paidcontent/icon-text@2x.png');
      }
    }

    &.audio::after {
      background-image: image-cdn('wsc/ump/paidcontent/icon-audio.png');

      @include retina {
        background-image: image-cdn('wsc/ump/paidcontent/icon-audio@2x.png');
      }
    }

    &.video::after {
      background-image: image-cdn('wsc/ump/paidcontent/video_icon.png');

      @include retina {
        background-image: image-cdn('wsc/ump/paidcontent/video_icon@2x.png');
      }
    }

    &.live::after {
      background-image: image-cdn('/public_files/2018/06/01/4cc63e7cdd16956406fd26c9739d6e08.png');

      @include retina {
        background-image: image-cdn(
          '/public_files/2018/06/01/f88dd9a8914228d71369e721deb967bd.png'
        );
      }
    }
  }

  .content-box {
    margin-left: 70px;

    .name {
      width: 100%;
      word-break: break-all;
    }

    p .name.ellipsis-2 {
      min-height: 28px;
      line-height: 20px;
    }

    .free {
      display: inline-block;
      box-sizing: border-box;
      padding: 0 5px;
      height: 20px;
      border: 1px solid #4b0;
      border-radius: 2px;
      color: #4b0;
      vertical-align: middle;
      line-height: 18px;
    }
  }
}

.price-wrap {
  line-height: 18px;

  .price {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    color: #323233;
  }

  .error-icon {
    vertical-align: middle;
  }
}

.grad-with-img.grad-img-16-9.content-list__img {
  .content-box {
    margin-left: 98px;

    .price-wrap {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;

      .price {
        margin-left: 0;
      }
    }
  }
}

.dropdown-menus {
  box-shadow: 0 0 1px rgba(153, 153, 153, 0.5);
  font-size: 0;
  background: #fff;

  span {
    display: inline-block;
    width: 120px;
    height: 30px;
    background: #fff;
    color: $darkGrayColor;
    // text-align: center;
    padding-left: 15px;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      background: #edf4ff;
    }
  }
}

.dialog-450 {
  .zent-sweetalert-confirm-btn-confirm {
    margin-left: 16px;
  }
}

.pct-content-list span.price-title {
  padding-right: 18px;
}
