.student-detail {
  &__filter {
    &-wrapper {
      padding: 16px;
      margin-bottom: 16px;
      font-size: 12px;
      color: #323233;
      background-color: #f7f8fa;

      &.statistic {
        display: flex;
        justify-content: space-between;
        padding: 24px 32px;

        .record-statistic {
          .strong-des {
            display: block;
            font-size: 26px;
            font-weight: 500;
            line-height: 36px;
          }

          .under-des {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
