.audio-wrap {
  background: #FFFFFF;
  border: 1px solid #EBEDF0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 16px;
  box-sizing: border-box;

  .audio-wrap__slider {
    .zent-slider-tooltip-content {
      display: none !important;
    }

    .zent-slider-tooltip {
      &::after {
        display: none !important;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__trigger {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 14px;
    line-height: 20px;
    color: #323233;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__progress-container {
    display: flex;
    align-items: center;
  }

  &__progress-container-currtime {
    font-size: 14px;
    line-height: 20px;
    color: #323233;
    margin-right: 8px;
  }

  &__progress-container-totaltime {
    font-size: 14px;
    line-height: 20px;
    color: #323233;
    margin-left: 8px;
  }

  .zent-slider {
    padding-top: 0;
    padding-bottom: 0;
  }
}