.rc-design-component-hotel-editor {
  &__title-bar {

    &.deco-control-group {
      padding: 24px 16px 20px;
    }
  }

  &__title {

    &.deco-control-group {
      padding: 16px 16px 20px;
    }

    .deco-control-group__label {
      color: #323233;
    }

    .deco-control-group {
      padding: 20px 0 0;
    }

    .zent-checkbox-wrap {
      float: right;
    }

    + .decorate-divider {
      padding-top: 24px;
    }
  }

  &__show-all {

    .deco-control-group__label {
      color: #969799;
    }
  }

  &__list {

    .deco-control-group__content {
      width: 100%;
    }

    .deco-editor-card {
      width: 100%;

      .deco-editor-card-item {
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        font-size: 14px;
      }
    }
  }

  &__list-label {
    .deco-control-group__label {
      color: #323233;
    }
  }

  &__subentry-item {
    display: flex;
    align-items: center;
    white-space: nowrap;

    a {
      flex: 1 1 auto;
      margin-left: 8px;
      color: #155bd4;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }


    &:hover {

      .rc-design-component-hotel-editor__icon-delete {
        visibility: visible;
      }
    }
  }

  &__icon {

    &-drag {
      flex: 0 0 auto;
      margin-right: 8px;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-image: url(https://img.yzcdn.cn/public_files/2019/02/11/6c383209a91d0cba0c46b906f3d027d2.png);
    }

    &-delete {
      visibility: hidden;
      flex: 0 0 auto;
      margin-left: 12px;
      margin-right: 8px;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      background-image: url(https://img.yzcdn.cn/public_files/2019/01/25/9b128a3927c6e1484058d2c70cf2e11f.png);
      cursor: pointer;
    }
  }

  .title-name {
    .zent-design-editor__control-group-label--top {
      margin-top: 1px;
    }

    .zent-design-editor__control-group-help-desc {
      margin-top: 10px;
    }
  }
}