@import 'common/app-design';

.batchimport {
  position: relative;

  &.batchimport-form {
    margin-top: 30px;

    .zent-form__control-group.choose-field-container {
      margin-bottom: 0;
    }
  }

  .step {
    background-color: #f7f8fa;
    line-height: 34px;
    color: #323233;
    font-size: 14px;
    padding-left: 16px;
    box-sizing: border-box;
    font-weight: bold;
  }

  .step:not(:last-child) {
    margin-bottom: 16px;
  }

  section {
    font-size: 14px;
    padding: 0 14px;

    label {
      color: #323233;
    }

    .zent-form__required {
      color: #d40000;
    }

    .item-title {
      display: inline-block;
      width: 120px;
      font-size: 14px;
      line-height: 30px;
      text-align: right;
      vertical-align: top;
    }

    .description {
      font-size: 14px;
      color: #969799;
      line-height: 20px;
      margin: 10px 0;
    }

    a {
      color: #155bd4;
    }
  }

  section:not(:last-child) {
    margin-bottom: 24px;
  }

  .choose-field > label {
    line-height: 20px;
    width: 85px;
  }

  .import-way {
    &__desc {
      font-size: 14px;
      color: #969799;
      line-height: 20px;
      margin: 4px 18px;
      margin-left: 24px;
    }

    &__desc:not(:last-child) {
      margin-bottom: 11px;
    }

    a {
      margin-left: 10px;
    }

    label:last-child {
      margin-top: 10px;
    }
  }
  .file-uploader {
    .file-uploader__desc {
      margin: 0 0 10px 0;
    }
  }

  .upload-field {
    margin-bottom: 0px;

    .zent-form__controls {
      margin-left: 0;
    }

    .file-uploader__desc {
      font-size: 12px;
      color: #969799;
      margin: 10px 0 0;
    }

    .file-uploader {
      padding-top: 4px;
    }
  }

  .choose-shop {
    padding-left: 14px;
  }
}

.zent-pop.zent-pop--no-header.zent-popover {
  word-break: break-all;
}

.student-import {
  .agree-rules {
    font-size: 14px;
    line-height: 18px;
    color: #323233;
    padding-left: 52px;
    a {
      color: #155bd4;
    }
  }
}
