.pct-delete-dialog {

  .dialog-row {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .text-bolder {
    font-weight: 500;
  }

  .zent-form__control-label {
    width: auto;
  }

  .zent-form,
  .zent-form__control-group {
    margin-bottom: 0;
  }

  .zent-form__control-group {
    height: 56px;
  }
}
