.preferential-wrapper {

  .coupon-wrapper {
    height: 31px;
    line-height: 30px;

    .refersh {
      cursor: pointer;
    }

    a {
      color: #155bd4;
    }

    .coupon-refresh, .coupon-create {
      &.disabled {
        color: #969799;
        cursor: not-allowed;
      }
    }
  }

  .score-wrapper {
    height: 31px;
    line-height: 30px;
    margin-top: 10px;
  }

  .inline {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-left: -5px;

    .zent-number-input {
      display: inline-block !important;
      vertical-align: middle;

      .zent-input {
        min-width: 50px;
      }
    }

    span {
      margin-left: 5px;
    }

    p {
      display: inline;
    }
  }
}
