.exam-item-field {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__input {
    margin-right: 10px;
  }

  &__checkbox {
    margin-right: 0;
  }

  &__delete {
    margin-left: 10px;
    color: #155bd4;

    &.disabled {
      color: #969799;
      cursor: not-allowed;
    }
  }

  &__add {
    display: block;
    margin-left: 130px;
    margin-bottom: 20px;
    color: #155bd4;

    &.disabled {
      color: #969799;
      cursor: not-allowed;
    }
  }

  &__coverupload {
    margin-right: 28px;
  }

  &__item-required-tip {
    display: block;
    margin-left: 130px;
    margin-bottom: 20px;
    color: #f44;
  }
}

.item-card-float-wrap {
  float: left;
  margin-top: 10px;
  margin-right: 3px;

  .item-card-wrap {
    &__drag-icon-wrap {
      width: 6px;
      // height: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 2px;
      cursor: move;

      &:hover {
        .item-card-wrap__drag-icon {
          background-color: #38f;
        }
      }
    }

    &__drag-icon {
      width: 2px;
      height: 2px;
      background-color: #999;
      border-radius: 2px;
      margin-bottom: 2px;

      &:nth-child(2n+1) {
        margin-right: 2px;
      }
    }
  }
}

.drag-zent-form__control-group {
  margin-bottom: 0 !important; // sass-lint:disable-line no-important
  padding: 10px 8px !important; // sass-lint:disable-line no-important
  margin-left: 50px !important; // sass-lint:disable-line no-important
  position: relative;

  &.zent-ghost {
    display: none;
  }

  &--drag-hover {
    .item-card-wrap {
      &__drag-line {
        display: block;
      }
    }
  }

  &--drag-disappear {
    display: none;
  }
}

.drag-zent-form__control-label {
  width: auto !important; // sass-lint:disable-line no-important
}

.item-card-wrap {
  &__drag-line {
    position: absolute;
    width: 474px;
    height: 1px;
    background-color: #38f;
    left: 0;
    top: -1px;
    display: none;
  }
}
