.info-detail {
  &__list {
    font-size: 14px;

    li {
      margin-bottom: 12px;
      display: flex;

      span {
        word-break: normal;
        white-space: pre-wrap;
      }
    }
  }

  &__seperator {
    border-bottom: 1px solid #EBEDF0;
    width: 100%;
    margin: 8px auto;
  }
}
