.course-effective-type .zent-radio-wrap {
  line-height: 30px;
}

.course-enable-time-wrap {
  display: flex;
  line-height: 30px;
  margin: 10px 0;

  &>span {
    display: inline-block !important;
    line-height: 32px !important;
  }

  & .zent-form__control-group {
    margin-bottom: 0;
  }
  & .zent-number-input-wrapper {
    padding: 0 10px;
  }

  .course-enable-input-wrap {
    display: flex;

    .course-enable-time-input {
      margin: 0 5px;
    }
  }
}
