.edu-link-group {
  a {
    border-right: solid 1px #DCDEE0;
    font-size: 14px;
    line-height: 1;
    padding: 0 4px;
    color: #155bd4;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
    }
  }
}
