@import 'vars/colors';

.stats-title {
  .event-attributes {
    display: flex;
    
    .event-status {
      color: $darkGrayColor;

      .ongoing {
        color: $greenColor;
      }
    }

    .event-timespan {
      color: $darkGrayColor;
      margin-left: 95px;
    }
  }
}
