.com-item {
  text-align: center;
  display: inline-block;
  width: 50%;
  height: 88px;
  font-size: 12px;
  margin-bottom: 8px;
  cursor: move;

  .com-item__icon {
    display: inline-block;
    margin-top: 8px;
    background-position: 0 0;
    height: 32px;
    width: 32px;
    background-size: cover;
  }

  .com-item__name {
    color: #323233;
    line-height: 16px;
    margin-top: 4px;
  }

  .com-item__num {
    color: #7d7e80;
    line-height: 16px;
    margin-top: 4px;
  }
}

.com-item-active {
  background: #155bd4;
  border-radius: 2px;

  .com-item__icon {
    background-position: 0 32px;
  }

  .com-item__name, .com-item__num {
    color: #fff;
  }
}

.com-item-disable {
  cursor: not-allowed;

  .com-item__icon, .com-item__name {
    opacity: 0.5;
  }

  .disable-link {
    color: #155bd4;
  }
}
