.decorate-component-config-editor {
  .zent-select {
    width: 100%;
    margin-right: 0;

    .tags__empty {
      color: #969799;
    }
  }

  &__tag {
    font-size: 14px;

    &-refresh,
    &-create {
      color: #155bd4;
    }

    &-split {
      color: #dcdee0;
      margin: 0 12px;
    }
  }
}
