{% extends '../../common/base.html' %}

{% block page_title %} 扫码签到 {% endblock %}

{% block page_style %}
  {{ loadCss('version_css.edu-admin/signin') | safe }}
{% endblock %}

{% block app_nav %}
	<div class="zent-breadcrumb" id="js-page-breadcrumb">
		<span class="project" data-href="{{ URL.site('/vis/edu/page/signin/list', 'v4') }}">签到记录</span>
	</div>
{% endblock %}

{% block app_content %}
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {{ loadJs('version_js.edu-admin/signin') | safe }}
{% endblock %}
