@import 'mixins/ellipsis';

$title_color: #ff0000;
$grey: #bbb;
$link_blue: #38f;

.goods_list {
  /*sass-lint:disable no-important*/
  min-width: 830px !important;
  /*sass-lint:enable*/

  .modal-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .link {
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    cursor: pointer;
    color: $link_blue;
  }

  .zent-table {
    margin-bottom: 10px;

    .cell.empty-data {
      height: 300px;
    }
  }

  .zent-dialog-r-close.zent-dialog-r-has-title {
    top: 18px;
  }

  a {
    text-decoration: none;
  }

  .zent-dialog-r-title {
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 0;
    height: 30px;
  }

  .goods-list-table {
    position: relative;

    .tbody {
      max-height: 60vh;
      overflow: auto;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.modal__goods-info {
  display: flex;
  align-items: center;

  img,
  > a {
    display: inline-block;
    vertical-align: top;
  }

  img {
    margin-right: 20px;
    max-width: 80px;
    max-height: 45px;
  }

  > a {
    margin-top: 5px;
  }

  .content {
    width: 70%;
    background-color: inherit;
  }

  .modal__goods-price {
    color: #f60;
  }
}

.ellipsis {
  @include ellipsis;

  display: block;
}

.pct-freebie-goods-btn {
  border: 0;
  padding: 0;
}
