@import 'vars/colors';
@import 'common/app-design';
@import 'classes/new-title';

.filter-block,
.edit-form-wrap {
  margin: 16px auto;
}

.boost-wrapper .thead .stickrow {
  padding: 0px 6px;
}

.zent-form__control-group {
  margin-bottom: 24px;
}

.edit-block-form {
  padding: 0 10px 100px 16px;

  .zent-form__control-label {
    width: 140px;
  }

  .zent-form__controls {
    margin-left: 20px !important;
  }

  .active-common-input {
    .zent-input {
      width: 228px;
    }
  }

  .split-title {
    position: relative;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin: 40px 0 24px;
    font-weight: 500;
  }

  .add-goods-btn {
    margin-bottom: 20px;
  }

  .selected-goods-list {
    width: 615px;
  }
}

.modal__goods {
  &-info {
    align-items: center;
  }

  &-price {
    display: block;
    color: #f60;
  }
}

.boost-reward_radio {
  display: block !important;
  line-height:30px;
  .zent-select-text {
    width: 180px;
    margin: 0 10px;
    vertical-align: bottom;
  }

  .example {
    margin-left: 16px;
    font-size: 14px;
    line-height: 20px;
    color: #155bd4;
  }
}

.boost-reward_btn-group {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  margin-left: 10px;
  :first-child {
    &::after {
      display: inline-block;
      color: #9b9b9b;
      content: '|';
      margin: 0 5px;
    }
  }
}

.boost-reward_number-ipt {
  display: inline-flex;
  margin-right: 20px;
  width: 70px;
}

.boost-history_word-break {
  word-break: break-all;
}

.text-tip {
  margin-bottom: 20px;
}

.activity-name {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.boost-history_search {
  margin: 16px 0;
  padding: 24px 16px;
  background-color: #f7f8fa;
  .search-item {
    display: inline-block;
    width: 320px;
    .label {
      display: inline-block;
      line-height: 30px;
      margin-right: 10px;
    }
    .zent-input-wrapper {
      display: inline-block !important;
      width: 170px;
      vertical-align: bottom;
    }
  }
  .form-actions {
    margin: 16px 0 0 70px;
    .btn-reset {
      margin-left: 0;
      border: none;
      background: none;
    }
  }
}

.zent-table-container {
  min-width: 500px;
}

.zent-dialog-r-body {
  margin-top: 20px;
}

.boost-list {
  .divide-line {
    color: #dcdee0;
  }
}