.new-filter_region {
  margin: 20px 0;
  padding: 20px;
  background-color: #f8f8f8;
}
.new-filter_item {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 20px;
}
.new-filter_item.date-range-quick-picker {
  display: block;
  width: 100%;
}
.new-filter_label {
  display: inline-block;
  vertical-align: middle;
  color: #666;
}
.new-filter_controls {
  display: inline-block;
  width: 100px;
  color: #666;
  margin-right: 10px;
}
.new-filter_controls.date-range-picker-wrapper {
  width: 440px;
}
.new-filter_controls.date-range-picker-wrapper .picker-input {
  width: 200px;
}
.new-filter_controls.date-range-quick-picker-wrapper {
  width: 80%;
}
.new-filter_action {
  margin-left: 70px;
}
.new-filter_action > a {
  margin-left: 10px;
  vertical-align: middle;
}
.new-filter_action .link {
  cursor: pointer;
}