$green: #2fae44;
$red: #f44;
$gray: #9b9b9b;

.change-trend {
  width: 6px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 1px;
    width: 8px;
    height: 14px;
    background-size: cover;
  }

  &--ascend {
    color: $red;

    &::before {
      background-image: url(https://img.yzcdn.cn/public_files/fd6d2fcb949858af7c0d38a83d8d3278.png);
    }
  }

  &--decline {
    color: $green;

    &::before {
      background-image: url(https://img.yzcdn.cn/public_files/55dbf981c9eab7422cd851dd55f24ae8.png);
    }
  }

  &--none {
    color: $gray;
  }
}
