// 定向海报编辑区样式
$gray: #4a4a4a;
$gray_: #e5e5e5;
$blue: #4a90e2;

.decorate-oriented-poster-editor-wrapper {
  font-size: 13px;
  color: $gray;

  .decorate-oriented-poster-editor-wrapper__text {
    margin: 0 16px;

    a {
      color: $blue;
    }
  }
}
