{% extends '../../common/base.html' %}

{% block page_title %} 预约管理 {% endblock %}

{% block page_style %}
  {{ loadCss('version_css.edu-admin/appointment') | safe }}
{% endblock %}

{% block app_nav %}
	<div class="zent-breadcrumb" id="js-page-breadcrumb">
		<span class="project" data-href="{{ URL.site('/vis/edu/page/appointment', 'v4') }}">预约</span>
	</div>
{% endblock %}

{% block app_content %}
<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
  {{ loadJs('version_js.edu-admin/appointment') | safe }}
{% endblock %}
