// 省略显示

// 单行显示，超出部分省略显示
.ellipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	-webkit-line-clamp: 1;
}

// 两行显示，超出部分省略显示
.ellipsis-2 {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	// line-height: 18px;

	-webkit-line-clamp: 2;
}
