.modal-footer {
  text-align: center;
}

.add-content-dialog-content {
  .zent-dialog-r-body {
    padding: 0;
  }

  .course-list__item__price {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    color: #f60;
    line-height: 18px;
  }
  .list-filter .search-input .zent-input {
    width: 110px;
  }
}

.content-menu-item {
  z-index: 1100;
  position: relative;
  width: 80px;

  .zent-menu-item {
    cursor: pointer;
    padding: 0;
    text-align: center;
  }
}

