.image-sortable {
  // display: flex;

  &__item {
    float: left;
    margin: 0 10px 10px 0;
    width: 80px;
    height: 80px;
    border: 1px solid #dcdee0;
    background-color: #fff;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 80px;
      max-height: 80px;
      max-width: 80px;
    }

    &:hover {
      .close-modal {
        display: block;
      }
    }

    .close-modal {
      display: none;
      position: absolute;
      z-index: 2;
      top: -9px;
      right: -9px;
      width: 20px;
      height: 20px;
      font-size: 16px;
      line-height: 18px;
      color: #fff;
      text-align: center;
      cursor: pointer;
      background: rgba(153, 153, 153, .6);
      border-radius: 10px;

      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }
}

.upload-text-trigger {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px dashed #dcdee0;
  line-height: 71px;
  box-sizing: border-box;
  text-align: center;
  font-size: 36px;
  color: #ddd;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

.help-block {
  display: inline-block;
  width: 100%;
  color: #969799;
}
