{% extends '../base/goods.html' %}

{% block page_title %} 专栏 {% endblock %}


{% block app_nav %}
	<div class="zent-breadcrumb" id="js-page-breadcrumb">

		{% if isYZEdu %}

		<span class="project" data-href="{{ URL.site('/vis/course/column/list', 'v4') }}">专栏</span>

		{% else %}

    <a href="{{ URL.site('/ump/appcenter', 'v4') }}">应用中心</a>
		<span class="project" data-href="{{ URL.site('/vis/pct/page/tabs#/column', 'v4') }}" >知识付费</span>

		{% endif %}

	</div>
{% endblock %}

{% block page_style %}
  {{ loadCss('version_css.course/column/list') | safe }}
{% endblock %}

{% block app_content %}
	<div id="js-react-container"></div>
{% endblock %}

{% block page_js %}
	{% include "../../common/config.html" %}
	<script src="{{ URL.site('/v2/vendor/ueditor/release/ueditor.config.202002232235.js', 'cdnStatic') }}"></script>
	<script src="{{ URL.site('/v2/vendor/ueditor/release/ueditor.all.min.202002232235.js', 'cdnStatic') }}"></script>
  {{ loadJs('version_js.course/column/list') | safe }}
{% endblock %}
