.decorate-official-account-editor {
  &__background {
    margin-bottom: 0px;
    .zent-design-editor__control-group-control {
      .rc-design-component-config-editor__background-control {
        display: flex;

        .zent-input-wrapper {
          flex-grow: 1;
        }
        .zent-btn {
          margin-left: 10px;
        }
      }

      .rc-design-component-config-editor__background-hint {
        margin-top: 5px;
        color: #969799;
      }
    }
  }

  &__logo {
    margin: 0 0 10px 16px;
  }

  &__help-icon {
    margin-left: 5px;
  }

  &__qrcode {
    display: flex;
    align-items: center;
  }

  &__qrcodeName {
    margin-left: 10px;
  }

  &__img-ctrl {
    margin-top: -20px;
  }

  &-text {
    margin: 0;
    padding-top: 24px;
    font-size: 12px;
    color: #323233;

    p {
      padding: 0 16px 10px;
      font-size: 12px;
      color: #969799;

      a {
        color: #155bd4;
      }

      &:first-child {
        padding-bottom: 0px;
      }
    }

    .decorate-divider + p {
      padding-top: 10px;
    }
  }

  &-msg {
    margin-top: 20px;

    &-link {
      color: #155bd4;
    }
  }

  &-check {
    padding: 0;

    .deco-help-desc--error {
      padding: 10px 16px;
    }
  }

  .has-choosed-image {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #e5e5e5;
    text-align: center;
    overflow: hidden;

    .thumb-image {
      box-sizing: border-box;
      vertical-align: bottom;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .modify-image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      color: #fff;
      background: rgba(0, 0, 0, .5);
      cursor: pointer;
    }
  }

  .deco-component-title__link {
    cursor: pointer;
  }
}
