.tutorial-dialog-container {
  width: 580px;
  text-align: center;

  .deco-radio-button-group--block {
    width: 270px;
    margin: 0 auto;
  }

  img {
    width: 275px;
    margin-top: 22px;
  }
}
