@import 'vars/h1';

.question-bank__classify-manage {
  font-size: 16px;

  h1 {
    @include pageTitle;

    margin-bottom: 24px;
  }

  .classify-list__header {
    font-size: 14px;
  }

  .treeNode__ops {
    flex: 1;
    visibility: hidden;

    .operations {
      margin-top: 1px;

      .operations-item {
        line-height: 1.25em;

        .zent-link {
          padding: 0;

          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
