@import 'common/ellipsis';

.easy-filter__zent-control {
  .custom-btn {
    .link-btn {
      margin-left: 16px !important;
      font-size: 14px !important;
    }
  }

  .easy-list__actions {
    font-size: 14px;
    line-height: 32px;
  }
}
