@import 'vars/colors';

.upload-audio-wrapper {

  .upload-audio-trigger {
    margin-top: 4px;
    
    // .upload-audio-tips {
    //   margin-left: 5px;
    // }
  }
  
  .link {
    cursor: pointer;
    color: $linkColor;
  }
  
  .multimedia-display {
    position: relative;
    display: block;
    background: #f2f2f2;
    border: 1px solid #e5e5e5;
    padding: 10px;
    line-height: 16px;
    margin-top: 10px;
    color: $darkGrayColor;
    border-radius: 2px;
    padding-right: 30px;
    width: 340px;
    height: 20px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .close-audio {
      position: absolute;
      right: 10px;
      font-size: 16px;
    }
  }
}
