.holiday__modify-form.zent-form--horizontal {
  margin-bottom: 54px;
  .zent-form__control-label {
    width: 100px;
  }
}

.holiday__modify-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
  text-align: right;
}
