@import 'vars/colors';

.vis-filter_region {
  background-color: #f7f8fa;

  a {
    color: #155bd4;
  }

  .vis-filter_group .vis-filter_controls .zent-select-text {
    color: $normalColor;

    .zent-select-placeholder {
      color: $normalColor;
    }
  }
}

.vis-filter_item {
  min-width: 280px;
  margin-right: 0;

  &:first-child {
    display: flex;
    align-items: center;
  }

  .zent-select {
    margin-right: 0;
  }

  .picker-input {
    width: 185px;
  }
}

.vis-filter_label {
  width: 80px;
}

.vis-filter_bottom {
  margin-left: 80px;
}

.vis-filter_region {
  margin-top: 0;
}

.vis-list__table-container .batch-box {
  padding: 0;
  margin-top: 10px;
  margin-left: 17px;

  /* .zent-checkbox-wrap::after {
    padding-left: 20px;
    content: '当页全选';
  } */
}

.zent-date-range-picker__filter {
  vertical-align: 2px;

  .zent-date-range-picker__btn {
    padding: 4px;
    margin-left: 10px;
    line-height: 14px;
    font-size: 12px;
    color: #949494;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
  }
}
