.upgrade-tip {
  margin-bottom: 16px;
}

.merge-student-info {
  width: 100%;
  &__desc {
    color: #646566;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
  }
  .zent-radio-group {
    width: 100%;
    margin-top: 16px;
  }
  &__text {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dialog-r-footer{
    padding-right: 0;
  }
}