.ebiz-schedule {
  &__day {
    position: relative;
    overflow: auto;
    height: 100%;

    &__content {
      display: flex;
      flex-flow: row;
      width: 100%;
      height: auto;
    }

    &__panel {
      position: relative;
      top: 10px;
      flex: 1;
      box-sizing: border-box;
      width: auto;
    }
  }

  &__columns {
    overflow-x: auto;
  }
}
