.new-promotion {
  .zent-tabs-nav-content .zent-tabs-tab-type__normal {
    flex: 1;
  }
}

.promotion-qr-pop {
  z-index: 99;
  width: 300px;
  height: 355px;

  .zent-pop-inner {
    padding: 0;
  }
}

.qr-content {
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  min-height: 360px;

  a {
    color: #38f;
  }

  .qr-path {
    margin-top: 15px;
    width: 100%;

    .zent-input-wrapper {
      margin-bottom: 10px;
    }

    .zent-input-addon-after {
      background-color: #3388ff;
      border: 0;
      color: #fff;
      cursor: pointer;
      min-width: 64px;
    }
  }

  .qr-code {
    .qr-code-img {
      margin: 50px auto;
      width: 220px;
      height: 220px;
      background: url('https://b.yzcdn.cn/v2/image/loader.gif') center center no-repeat;
    }

    .weapp-code-img {
      margin: 50px auto;
      width: 220px;
      height: 220px;
    }
  }

  .qr-down-link {
    display: flex;
    justify-content: space-around;
    margin: -22px auto;
    width: 200px;
  }

  .qr-redirect {
    margin-top: 24px;
  }

  .qr-tips {
    padding-top: 120px;
  }

  .qr-tips_img {
    width: 50px;
    margin-bottom: 12px;
  }

  .zent-tabs-tab-inner {
    padding: 8px;
  }
}
