.temp-form {
  &__btn {
    margin-left: 10px;
  }
}

.delivery-table {
  &__block {
    display: flex;

    .zent-form__control-label {
      flex-shrink: 0;
    }

    .zent-form__controls {
      flex-grow: 1;

      .zent-btn-primary {
        margin-top: 10px;
      }

      .zent-input {
        width: 100%;
      }
    }
  }

  &__region {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-area {
      flex-grow: 1;
    }

    .area-compat {
      margin-top: 10px;

      &__icon {
        margin-left: 5px;
        color: #c8c9cc;
      }

      &__simple {
        color: #f44;
      }
    }

    &-actions {
      display: block;
      padding-left: 20px;
      flex-shrink: 0;
      text-align: right;

      a + a {
        margin-left: 5px;
      }
    }
  }
}
