.deco-editor-card-add {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  padding: 9px 16px;
  border: 1px solid #155bd4;
  border-radius: 2px;
  background: #fff;
  color: #155bd4;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &--disable {
    color: #969799;
    border-color: #d8d8d8;

    .deco-editor-card-add-icon {
      color: #969799;
    }
  }

  &-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(-50%, -50%);
    color: #155bd4;
  }
}

.deco-editor-card-add-popover {
  display: block !important;
}
