.deco-editor-card-item {
  box-sizing: border-box;
  position: relative;
  margin-top: 12px;
  background-color: #fff;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(10,42,97,.2);
  user-select: none;

  &:first-child {
    margin-top: 0;
  }

  &__delete {
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    right: -10px;
    top: -10px;
    color: #bbb;
    background: #fff;
    border-radius: 50%;
    visibility: hidden;
    z-index: 2;

    &:hover {
      color: #aaa;
    }
  }

  &:hover {
    & > .deco-editor-card-item__delete {
      visibility: visible;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f8fa;
    visibility: hidden;
    z-index: 2;
  }

  &.zent-ghost {
    box-shadow: none;

    &::before {
      visibility: visible;
    }
  }
}
