.edu-clue-import-file {
  &__info {
    color: #9b9b9b;
    font-size: 14px;
    & > div {
      margin-bottom: 8px;
    }
    &-content {
      color: #4a4a4a;
    }
  }
  &__actions {
    a {
      margin-right: 16px;
    }
  }
}
