.delivery-board {
  &__block {
    display: flex;
    padding: 25px 20px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    justify-content: space-between;
  }

  &__info {
    h3 {
      font-size: 16px;
      font-weight: bold;
      line-height: 30px;
      color: #333;
      margin-bottom: 16px;
    }

    p,
    .calc-type {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 20px;

      .zent-radio-group {
        vertical-align: middle;
        margin-left: 10px;
      }

      a {
        color: #155bd4;
        line-height: 21px;
      }
    }
  }

  &__alert {
    width: 420px;
  }
}
