.comment-container {
  padding-left: 200px;
  height: calc(100vh - 150px);
  color: #323233;
}

.comment-containe__alert {
  margin-bottom: 20px;
}

.comment-containe__alert-link {
  margin-left: 10px;
}
