.click-table {
  width: 100%;

  .head {
    height: 56px;
    line-height: 56px;
    color: #333;
    background-color: #f7f8fa;

    th {
      font-weight: 500;
      padding: 0 16px;
      text-align: left;
    }
  }

  .body {
    tr {
      background-color: transparent;
      cursor: pointer;
      width: 40px;
      line-height: 40px;
      transition: background-color 0.125s;

      &:hover:not(.disabled):not(.current) {
        background-color: #f8f8f8;
      }

      td {
        padding-left: 10px;
        &:last-child {
          padding-right: 10px;
        }
      }

      &.current {
        background-color: #155bd4;

        td, td a {
          color: #fff !important;
          border-color: #fff !important;
        }
      }
    }
  }
}
