@import 'vars/_colors.scss';

.common-link {
  font-size: inherit !important;
  cursor: pointer;
  user-select: none;

  &.zent-link {
    padding: 0 !important;
    line-height: inherit !important;
    vertical-align: middle;
  }

  &.zent-link__disabled:hover {
    color: $theme-stroke-5 !important;
  }

  &:hover {
    background-color: unset !important;
    color: $blueColor !important;
  }
}
