.edu-refund-present {
  margin: 12px 0;

  span {
    &:first-of-type {
      color: #ff9b00;

      &::after {
        display: inline;
        content: '：';
      }
    }
  }

  &-title {
    word-break: break-all;
  }

  &-appendix {
    color: #939393;
  }
}
