.certificate-link-group {
  margin-top: 5px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
}

.certificate-link {
  background-color: #fff;
  color: #666;
  cursor: pointer;
  font-size: 12px;
  padding: 9px 16px;
  &:hover {
    background-color: #155bd4;
    color: #fff;
  }
}

.certificate-btn-create {
  width: 104px;
}
