@import 'vars/colors';

$light-blue: #a7cfff;
$white-blue: #e2f4ff;

.decorate-limit-discount-editor {

  &__activity-name {
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    border: 1px solid $light-blue;
    background-color: $white-blue;
    color: $theme-stroke-3;
    text-align: center;
  }

  &__edit-activity-name {
    margin-left: 20px;
    color: $theme-primary-2;
    cursor: pointer;
  }

  &__add-activity {
    color: #155bd4;
    text-decoration: none;
    cursor: pointer
  }

  .deco-control-group__content {
    font-size: 12px;
  }

  .zent-input-wrapper {
    display: inline-block;
    width: 80px;

    input {
      width: 80px;
    }
  }

  .decorate-image-ad-editor-card {
    width: 100%;
  }
}
