.study-record {
  &__export {
    margin-right: 16px;
  }

  &__username {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  &__pop {
    width: 168px;
  }
}