@import 'vars/colors';

.student-assignment__list {
  padding: 16px;

  h2 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  span.disabled {
    color: $grayColor;
  }
}
