body .app-inner {
  padding: 0 !important; // sass-lint:disable-line no-important
}

.zent-datetime-picker .picker-input .zenticon{
  font-size: 16px;
}

.stat-course-container .zent-select {
  margin-right: 8px;
}
