.wsc-decorate__not-support {
  color: #323233;

  &-title {
    padding: 24px 16px;
    border-bottom: 2px solid #f2f4f6;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  &-text {
    padding: 24px 16px 32px;
    font-size: 14px;
  }

  &-btn {
    display: block;
    margin: 0 12px;
    width: 344px;
    color: #155bd4;
    border: 1px solid #155bd4;
  }
}
